<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">Antecedentes penales y judiciales</h1>
          <p class="description">Puedes subir tu documento en formato JPG, PNG o PDF.</p>
          <div class="for">
            <div class="green-bar">
                <label for="adjun-ante-pen" class="custom-button bl ">
                    <input type="file" class="form-control" id="adjun-ante-pen" accept="image/*" style="display: none;">
                    <img src="assets/images/btn.png" alt="">
                </label> 
            </div>
          </div>
          <!-- <button (click)="cargando()" class="more-info-btn" style="bottom: 100px;">Cargando</button> -->
          <button routerLink="/img-mostrar" class="more-info-btn">Atrás</button>
          <button routerLink="/acre-pro" class="next-btn">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
