<header-component [withArrowLeft]="true" [route]="'/tab-home'"
  (navigateTo)="handleNavigateTo($event)"></header-component>
<ion-content>
  <div class="container">

    <img src="/assets/images/paso2.png" alt="">
    <h2 class="subtitle">Paso 1</h2>
    <h1 class="title">Describe tu anuncio de estacionamiento</h1>
    <p class="description">Responde algunas preguntas que contribuyen a ofrecer una descripción más detallada de tu estacionamiento.</p>

    <!-- <footer class="footer-btn">
      <div class="bnt-dow">
        <button class="bac" routerLink="/tab-home">Atrás</button>
        <button  routerLink="/descripcion-del-espacio" class="nex" >Siguiente</button>
      </div>
    </footer> -->
  </div>
</ion-content>
<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <default-custom-button [text]="'Crear Anuncio'" (click)="navigate()"></default-custom-button>
  </div>
</ion-footer>
<app-loader *ngIf="isLoading"></app-loader>
