ion-content {
  overflow: auto;
}

.container {
  padding: 10px 32px 10px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 20px;
}

img {
  width: 80%;
  margin-top: -40px;
}

.title {
  color: #212121;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  /* 133.333% */
  width: 99%;

}

.subtitle {
  font-size: 15px;
  font-family: "Poppins";
  display: block;
  width: 100%;
  color: #212121;
}

.description {
  font-size: 14px;
  font-family: "Poppins";
  margin: 10px auto;
  display: block;
  width: 100%;
  color: #212121;
}

.bnt-dow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  .bac {
    border: 1px solid #212121;
    background-color: #FFFFFF;
    padding-inline: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 30px;
    font-size: 15px;
    width: 45%;
    font-weight: 600;
    color: #212121;
    font-family: "Poppins", sans-serif;
  }

  .nex {
    border-radius: 30px;
    border: 1px solid #212121;
    background-color: #212121;
    padding-inline: 10px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #212121;
    background-color: #212121;
    padding-inline: 10px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    width: 45%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
}

ion-footer {
  .bnt-dow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 32px 7px 32px;
  }
}
