<ion-content [fullscreen]="true">

  <div class="pantalla">

    <h1 class="title">Brinda un servicio de calidad</h1>

    <p class="texto-principal">En Blip, valoramos enormemente la calidad del servicio que ofrecen nuestros anfitriones a los usuarios.</p>

    <p class="texto">Creemos que la experiencia del usuario es fundamental, y es por eso que alentamos a todos nuestros anfitriones a estar presentes y disponibles para los conductores en todo momento.</p>

    <p class="texto">Al brindar un servicio de calidad y excelencia, no solo contribuyes al éxito de Blip como plataforma, sino que también creas una experiencia positiva y memorable para nuestros usuarios.</p>

    <p class="texto">Para asegurarnos de que cada interacción sea excepcional, aquí hay algunos consejos para nuestros anfitriones:</p>


    <button routerLink="/presentacion" class="regresar">
      <img src="/assets/images/arrow.svg" alt="">
    </button>
  

  </div>

</ion-content>