<ion-header mode="ios">
  <ion-toolbar>
    <h2 slot="start" class="title">Brinda un servicio de calidad </h2>
  </ion-toolbar>
</ion-header>
<ion-content class="login-content">
  <div class="login-content" >
            <div class="description">
              En Blip, valoramos enormemente la calidad del servicio que ofrecen nuestros anfitriones a los usuarios.
            </div>
            <div class="description">
              Creemos que la experiencia del usuario es fundamental, y es por eso que alentamos a todos nuestros anfitriones a estar presentes y disponibles para los conductores en todo momento.
            </div>
            <div class="description">
              Al brindar un servicio de calidad y excelencia, no solo contribuyes al éxito de Blip como plataforma, sino que también creas una experiencia positiva y memorable para nuestros usuarios.
            </div>
            <div class="description">
              Para asegurarnos de que cada interacción sea excepcional, aquí hay algunos consejos para nuestros anfitriones:

            </div>
            <div class="description">
              <li>1. Mantén una comunicación clara y oportuna con los usuarios, respondiendo rápidamente a cualquier pregunta o solicitud.</li>
              <li>2. Mantén tu espacio de estacionamiento limpio, seguro y bien iluminado para garantizar la comodidad y seguridad de los conductores.</li>
              <li>3. Ofrece flexibilidad en los horarios de llegada y salida siempre que sea posible, para adaptarte a las necesidades individuales de los usuarios.</li>
              <li>4. Sé amable y cortés en todo momento, creando una atmósfera acogedora y hospitalaria para quienes utilicen tu espacio de estacionamiento.</li>
            </div>
            <div class="description">
              Al seguir estos consejos y ofrecer un servicio excepcional, no solo contribuyes al éxito de Blip, sino que también te conviertes en un socio valioso que ayuda a construir una comunidad conectada y colaborativa en torno al estacionamiento urbano.
            </div>
            <div class="description">
              ¡Gracias por ser parte de nuestra plataforma y por tu compromiso con la excelencia en el servicio!
            </div>
          </div>
</ion-content>
<ion-footer mode="ios">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col >
          <button routerLink="/lds" class="regresar">
            <img src="/assets/images/atr38.svg" alt="regresar">
          </button>
        </ion-col>
        <ion-col >
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-toolbar>
