<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">    <!--Parte blanca ini -->
          <div class="inicio">
            <div class="nav-arrow-btn">
              <img src="/assets/images/nav-arrow-btn.png" alt="" routerLink="/"> <!--Nav-Arrow -->
            </div>
           <div class="title"> Mensajes</div> 
           <div class="menu-dots" routerLink="/"> <!--Menu 3 puntos -->
           <img src="/assets/images/menu-dots.svg"  alt="...">
          </div>
          </div>

          <div class="subtitle">Todos los mensaje</div>
          
          <div class="caja">
            <div class="caja-imagen">
              <img src="/assets/images/img-blip.png" class="img-blip" alt="...">
            </div>
            <div class="caja2">
              <div class="caja2-tittle">Blip App</div>
              <div class="caja2-text">¿Cómo te gustaría comunicarte con n...</div>
            </div>
            <div class="caja3">
              <div class="caja3-tittle">12:25 p.m</div>
              <div class="circulo">
                <div class="caja3-text">1</div>
              </div>
            </div>  
          </div>

          <div class="caja">
            <div class="caja-imagen">
              <img src="/assets/images/icon.png" class="img-icon" alt="...">
            </div>
            <div class="caja2">
              <div class="caja2-tittle">Blip App</div>
              <div class="caja2-text">¿Cómo te gustaría comunicarte con n...</div>
            </div>
            <div class="caja3">
              <div class="caja3-tittle">12:25 p.m</div>
              <div class="circulo">
                <div class="caja3-text">1</div>
              </div>
            </div>  
          </div>

          <div class="caja">
            <div class="caja-imagen">
              <img src="/assets/images/img-blip.png" class="img-blip" alt="...">
            </div>
            <div class="caja2">
              <div class="caja2-tittle">Blip App</div>
              <div class="caja2-text">¿Cómo te gustaría comunicarte con n...</div>
            </div>
            <div class="caja3">
              <div class="caja3-tittle">12:25 p.m</div>
              <div class="circulo">
                <div class="caja3-text"></div>
              </div>
            </div>  
          </div>

          <div class="caja">
            <div class="caja-imagen">
              <img src="/assets/images/img-blip.png" class="img-blip" alt="...">
            </div>
            <div class="caja2">
              <div class="caja2-tittle">Blip App</div>
              <div class="caja2-text">¿Cómo te gustaría comunicarte con n...</div>
            </div>
            <div class="caja3">
              <div class="caja3-tittle">12:25 p.m</div>
              <div class="circulo">
                <div class="caja3-text"></div>
              </div>
              <div class="img-star3"><img src="/assets/images/star3.png" alt="..."></div>   
            </div> 
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>        
                    
