<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">    <!--Parte blanca ini -->
          <div class="inicio">
            <div class="nav-arrow-btn">
              <img src="/assets/images/agregar-nueva-ubicacion/nav-arrow-btn.png" alt="" routerLink="">  
            </div>  
            <h3 class="title">Agregar nueva ubicación</h3>       
          </div>
          <div class="input-bar">
            <ion-label class="label-text">Nueva Ubicación</ion-label>
            <ion-input type="text" placeholder=""></ion-input>
          </div>  
          <div expand="block" class="mi-boton">
            <div class="padre">
              <div class="img-class-p">
                <img src="assets/images/sitios-guardados/lapiz25.svg" alt="" >
              </div>
              <div class="linea">
                <div class="hijo">
                  <h1 class="t1">Dirección</h1>
                  <p class="c1">Calle Torre de Panamá 515 San Isidro</p> 
                </div>
                <img src="assets/images/sitios-guardados/nextsig.svg" alt="" >
              </div>
              
            </div>
            <div class="linea2-delgado"></div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</ion-content>
