.container{
    background-color: #79FFAF; 
    display: flex;
    justify-content: center;
    
    height: 100%;
}
.content{
    border: 1px solid #ccc;
    border-radius: 30px 30px 0 0;
    width: 432px;
    margin-top: 50px;
    height: 882px;
    display: block;
    background-color: #FFFFFF;
    padding: 20px;
    
}
.config{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}
.signo-menor::before {
    content: '\003c'; /* Código Unicode para el signo menor (<) */
    display: flex;
    margin-left: -170px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.signo-mayor1::before {
    content: '\003e'; /* Código Unicode para el signo mayor (>) */
    display: flex;
    margin-left:95px;
    font-size: 20px;
    
    font-family: "Poppins", sans-serif;
    justify-content: center;
}
.menu-con{
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    display: flex;
    margin-left: 45px;
    margin-top: 40px;

}
.signo-mayor2::before {
    content: '\003e'; /* Código Unicode para el signo mayor (>) */
    display: flex;
    margin-left:130px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}
.signo-mayor3::before {
    content: '\003e'; /* Código Unicode para el signo mayor (>) */
    display: flex;
    margin-left:155px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}
.signo-mayor4::before {
    content: '\003e'; /* Código Unicode para el signo mayor (>) */
    display: flex;
    margin-left:200px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}
.signo-mayor5::before {
    content: '\003e'; /* Código Unicode para el signo mayor (>) */
    display: flex;
    position: absolute;
    margin-left: 190px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}
img{
    width: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    
    
}
.padre{
    margin-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 30px;
    margin-left: 45px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.hijo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.lef{
    margin-right: 10px;
}
.rigth{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}  
.AG{
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    display: flex;
    margin-left: 45px;
    margin-top: 40px;
    margin:0;
    font-weight: 400;
  }
  .block{
    width: 100%;
    height: 301px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }
  ion-modal {
    --height: auto;
  }
.title-mo{
color: #524F4F;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 118.75% */
letter-spacing: -0.16px;
margin-top: 29px;
}
.line{
border-bottom: solid 1px #D4D4D4;
}
.parraf{
margin-top: 25px;
color: rgba(33, 33, 33, 0.80);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
text-align: center;margin-right: 30px;
margin-left: 30px;
padding-inline: 20px;
}


.button-container-modal {
    padding-inline: 33px; 
}

.button-eliminar-modal {
    background-color: #ffffff;
    color: #212121;
    width: 100%;
    height: 56px;
    border-radius: 30px;
    border: 1px solid #212121;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}
.mda{
    width: 100%;
    height: 56px;
    border-radius: 30px;
    border: 1px solid #212121;
    color: #79ffaf;
    background-color: #212121;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}
@keyframes scroll {
    to {
      background-position: -649px 0;
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita que se vean partes fuera del contenedor */
  }
  
  .swiper-slide {
    width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;
  }
  
.swiper-pagination-bullet-active{
    
    background:black;
}
.swiper-pagination{
    position: inherit;
}