<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <button routerLink="/home" class="config"> Configuracion <div class="signo-menor"></div> </button>
          <button routerLink="/inf-perso" class="menu-con"><img src="assets/images/personal.png" alt=""> Informacion personal <div class="signo-mayor1"></div> </button>
          <button routerLink="/ini-seg-se" class="menu-con"><img src="assets/images/segurity.png" alt=""> Incio y seguridad <div class="signo-mayor2"></div></button>
          <button routerLink="/notifi" class="menu-con"><img src="assets/images/campana.png" alt=""> Notificaciones <div class="signo-mayor3"></div> </button>
          <button routerLink="/finanzas" class="menu-con"><img src="assets/images/finanzasconf.png" alt=""> Finanzas <div class="signo-mayor4"></div> </button>
          <button routerLink="/ubicacion" class="menu-con"><img src="assets/images/ubicacion.png" alt=""> Ubicación <div class="signo-mayor5"></div> </button>
          <buttom routerLink="" class="mi-boton">
            <div class="padre">
              <div class="hijo">
                <img src="assets/images/eye.svg" alt="" class="lef">
                <h1 class="AG"> Apagon General </h1>
              </div>
              <ion-toggle id="open-modal_apagongeneral" expand="block" class="right" [(ngModel)]="switchValue" ></ion-toggle>

            </div> 
          </buttom>
            <ion-modal trigger="open-modal_apagongeneral" [initialBreakpoint]="1" [breakpoints]="[0, 1]"(ionBackdropTap)="dismissModal()">
              <ng-template>
                <div class="block">
                  <h1 class="title-mo">¿Estás seguro de realizar el Apagón General?</h1>
                    <div class="line"></div>
                    <p class="parraf">Todas tus publicaciones se ocultarán, pero puedes mostrarlas en cualquier momento.</p>
                    <div class="button-container-modal">
                      <button class="button-eliminar-modal">
                        Eliminar Anuncio
                      </button>
                      <button (click)="dismissModal()" class="mda">Cancelar</button>
                    </div>
                </div>
              </ng-template>
            </ion-modal>
        </div>
      </div>
    </div>
  </div>
</ion-content>
