<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <button routerLink="/configuracion-pago" class="config"> Configuracion <div class="signo-menor"></div> </button>
          <button routerLink="/inf-perso" class="menu-con"><img src="assets/images/personal.png" alt=""> Informacion personal <div class="signo-mayor1"></div> </button>
          <button routerLink="/configuracion-pago" class="menu-con"><img src="assets/images/segurity.png" alt=""> Incio y seguridad <div class="signo-mayor2"></div></button>
          <button routerLink="/configuracion-pago" class="menu-con"><img src="assets/images/campana.png" alt=""> Notificaciones <div class="signo-mayor3"></div> </button>
          <button routerLink="/configuracion-pago" class="menu-con"><img src="assets/images/finanzasconf.png" alt=""> Finanzas <div class="signo-mayor4"></div> </button>
          <button routerLink="/configuracion-pago" class="menu-con"><img src="assets/images/ubicacion.png" alt=""> Ubicación <div class="signo-mayor5"></div> </button>         
        </div>
      </div>
    </div>
  </div>
</ion-content>
