<header-component
  [withArrowLeft]="true"
  [route]="'/tab-home'"
  [withTitleLeft]="true"
  [titleLeft]="'Verificación de Identidad'"
  (navigateTo)="handleNavigateTo($event)"
>
</header-component>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="titlex">Estado de Validación</h1>
          <h2 class="text-adj">
            Para garantizar la seguridad y autenticidad de nuestra comunidad,
            necesitamos validar tu identidad. Si no podemos validar tu
            identidad, te notificaremos para que puedas corregir los datos y
            volver a intentarlo.
          </h2>
          <h1 class="titlex">Subir la cara frontal</h1>
          <div class="boxes">
            <div *ngFor="let img of allPreviewsFront" class="photo-container">
              <div class="box1">
                <img [src]="img" alt="Frente DNI" />
                <button class="close-button" (click)="removeImage('front')">
                  x
                </button>
              </div>
            </div>

            <div
              class="box1"
              id="mod-fot"
              (click)="onAddFrontClick()"
              *ngIf="allPreviewsFront.length === 0"
            >
              <div class="pad">
                <img
                  src="/assets/images/add-anun.svg"
                  alt="Agregar"
                  class="img-dow"
                />
              </div>
            </div>

            <input
              type="file"
              #frontInput
              style="display: none"
              accept="image/*"
              (change)="onFileSelected($event, 'front')"
            />
          </div>

          <h1 class="titlex">Subir la cara trasera</h1>
          <div class="boxes">
            <div *ngFor="let img of allPreviewsBack" class="photo-container">
              <div class="box1">
                <img [src]="img" alt="Reverso DNI" />
                <button class="close-button" (click)="removeImage('back')">
                  x
                </button>
              </div>
            </div>

            <div
              class="box1"
              id="mod-fot"
              (click)="onAddBackClick()"
              *ngIf="allPreviewsBack.length === 0"
            >
              <div class="pad">
                <img
                  src="/assets/images/add-anun.svg"
                  alt="Agregar"
                  class="img-dow"
                />
              </div>
            </div>

            <input
              type="file"
              #backInput
              style="display: none"
              accept="image/*"
              (change)="onFileSelected($event, 'back')"
            />
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-btn">
      <div class="bnt-dow">
        <button routerLink="/confirmacion-de-identidad" class="bac">
          Atrás
        </button>
        <button class="nex" (click)="sendImages()">Siguiente</button>
      </div>
    </footer>
  </div>
</ion-content>
