<ion-content [fullscreen]="true" scroll="true" keyboardOffset="0">
  
  <div class="wrapper">
    <div class="login">
      <h1>
        Bienvenida ,
        de nuevo!
      </h1>
      <p>
        Ingresa el código de 4 dígitos enviado al número +51 {{ number }}.
      </p>
      <div class="code-inputs">
        <ion-input [(ngModel)]="input1" type="tel" maxlength="1" inputmode="numeric" (ionChange)="checkInputs()"></ion-input>
        <ion-input [(ngModel)]="input2" type="tel" maxlength="1" inputmode="numeric" (ionChange)="checkInputs()"></ion-input>
        <ion-input [(ngModel)]="input3" type="tel" maxlength="1" inputmode="numeric" (ionChange)="checkInputs()"></ion-input>
        <ion-input [(ngModel)]="input4" type="tel" maxlength="1" inputmode="numeric" (ionChange)="checkInputs()"></ion-input>
      </div>
      <button id="open-toast"[ngClass]="{'rev-cod': true, 'expired': isExpired}" [disabled]="!isExpired" (click)="reenviarCodigo()">
        {{ buttonText }}
        <div class="TIME">
          {{ minutes }}:{{ seconds | number: '2.0' }}
        </div>
      </button>
      <ion-toast
      trigger="open-toast"
      [duration]="3000"
      message="Código enviado satisfactoriamente."
      class="custom-toast"
      position="top"
      mode="md"
      ></ion-toast>
      <button class="ini-con" id="modal-opc-inicio" >más opciones de inicio</button>
      <ion-modal trigger="modal-opc-inicio" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
          <div class="PART">
            <h1 class="mad">Más opciones</h1>
            <div class="line"></div>
            <div class="button-container">
              <button (click)="dismissModal()"  routerLink="/log-con" (click)="verifyOTP()" class="custom-button password-button">
                <img src="assets/images/contra.svg" alt="Contraseña" class="button-icon">
                iniciar sesión con contraseña
              </button>
              <button (click)="dismissModal()" class="custom-button google-button" routerLink="/ing-cor">
                <img src="/assets/images/login/email.png" alt="Contraseña" class="button-icon">
                Ingresar con correo
              </button>
              <button (click)="dismissModal()" class="custom-button cancel-button">
                Cancelar
              </button>
            </div>
          </div>
        </ng-template>
      </ion-modal>
      <!-- <button class="ini-con" routerLink="/log-con" (click)="verifyOTP()">iniciar sesión con contraseña 
      </button> -->
      <h1 class="LA" routerLink="/log-con">He cambiado mi número de teléfono</h1>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <button class="bac" routerLink="/login">Atrás</button>
    <button
      [disabled]="!inputsFilled"
      [ngClass]="{'all-inputs-filled': inputsFilled, 'not-all-inputs-filled': !inputsFilled}"
      (click)="verifyOTP()"
      class="nex"
    >
      Siguiente
    </button>
  </div>
</ion-footer>