ion-header {
  overflow: auto; // Hacer que el ion-header sea desplazable si es necesario
}

ion-content {
  overflow: auto;

  .validation-number {
    display: flex; // Uso de flexbox para el contenido
    flex-direction: column;
    padding: 10px 32px 10px 32px;
    height: 100%;

    h2 {
      font-size: 35px;
      font-style: normal;
      font-weight: 500;
      line-height: 50px;
      padding-bottom: 10px;
    }

    p {
      color: #141414;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.18px;
    }

    .footer-text {
      color: #212121;
      text-align: left;
      margin-top: 10px;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0.15px;


      .register-link {
        color: #212121;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.15px;
        text-decoration-line: underline;
      }
    }
  }
}

ion-footer {
  .bnt-dow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 32px 7px 32px;
  }
}


ion-modal {
  font-family: Poppins;
  --height: auto;

  .line {
    width: 100%;
    border-bottom: 0.5px solid #D4D4D4;
  }

  .modal-container {
    font-family: "Poppins";

    .modal-header {
      display: flex; // Usar flexbox para centrar el contenido
      justify-content: center; // Centrar horizontalmente
      align-items: center; // Centrar verticalmente
      color: #212121;
      font-size: 16px;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0.16px;
      padding: 15px 32px 15px 32px;

      p {
        margin: 0px;
      }
    }

    .modal-body {
      padding: 15px 32px 15px 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
