<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="buscador-contenedor">
            <div class="box">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" placeholder="¿A donde vas?" name="" >
            </div>
            <div class="button-mas">
              <button class="btn-tipo-mapa">
                <img src="/assets/images/map-black.png" alt="Tipo de mapa">
              </button>
              <button class="btn-puntero">
                <img src="/assets/images/location-btn.png" alt="Puntero">
              </button>
            </div>
          </div>
          <!-- Cartas con slider -->
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <div class="row no-gutters">
                    <div class="not">
                    <div class="col-md-4">
                      <img src="/assets/images/img-map.png" class="img-card" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-ty">
                        <div class="PDI32">
                          <p class="curso-1">Particular</p>
                          <p class="curso">Disponible</p>
                        </div>
                        <div class="tip">
                        <p class="card-text">Estacionamiento La Mar</p>
                      </div>

                        <p class="card-text-2"><img class="punto" src="/assets/images/sr-marker.png" alt="">Av. La Mar, 314</p>
                        <div class="icons">
                          <img class="ins" src="/assets/images/car.png" alt="">
                          <img class="ins" src="/assets/images/van.png" alt="">
                          <img class="ins" src="/assets/images/moto.png" alt="">
                        </div>
                        <div class="hr">
                          <p class="hora">s/10.50 <span style="font-weight: 300; font-size: 13px;margin-left: 5px;"> h/frac.</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="row no-gutters">
                    <div class="not">
                    <div class="col-md-4">
                      <img src="/assets/images/img-map.png" class="img-card" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-ty">
                        <div class="PDI32">
                          <p class="curso-1">Particular</p>
                          <p class="curso">Disponible</p>
                        </div>
                        <div class="tip">
                        <p class="card-text">Estacionamiento La Mar</p>
                      </div>

                        <p class="card-text-2"><img class="punto" src="/assets/images/sr-marker.png" alt="">Av. La Mar, 314</p>
                        <div class="icons">
                          <img class="ins" src="/assets/images/car.png" alt="">
                          <img class="ins" src="/assets/images/van.png" alt="">
                          <img class="ins" src="/assets/images/moto.png" alt="">
                        </div>
                        <div class="hr">
                          <p class="hora">s/10.50 <span style="font-weight: 300; font-size: 13px;margin-left: 5px;"> h/frac.</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="row no-gutters">
                    <div class="not">
                    <div class="col-md-4">
                      <img src="/assets/images/img-map.png" class="img-card" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-ty">
                        <div class="PDI32">
                          <p class="curso-1">Particular</p>
                          <p class="curso">Disponible</p>
                        </div>
                        <div class="tip">
                        <p class="card-text">Estacionamiento La Mar</p>
                      </div>

                        <p class="card-text-2"><img class="punto" src="/assets/images/sr-marker.png" alt="">Av. La Mar, 314</p>
                        <div class="icons">
                          <img class="ins" src="/assets/images/car.png" alt="">
                          <img class="ins" src="/assets/images/van.png" alt="">
                          <img class="ins" src="/assets/images/moto.png" alt="">
                        </div>
                        <div class="hr">
                          <p class="hora">s/10.50 <span style="font-weight: 300; font-size: 13px;margin-left: 5px;"> h/frac.</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
