<ion-content [fullscreen]="true">
  <div class="top-bar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-flex align-items-center w-100">
          <button routerLink="/home" class="vector-mensaje">
            <img class="punto" src="/assets/images/Vector-2.png" alt="Logo" class="navbar-logo">
          </button>
          <div class="text-b">3</div>
          <div class="icons  d-flex justify-content-end ">
            <button class="btn-custom"><img src="/assets/images/star-1.png" alt=""></button>
            <button class="btn-custom"><img src="/assets/images/box-1.png" alt=""></button>
            <button class="btn-custom"><img src="/assets/images/trash.png" alt=""></button>
          </div>
          <button  id="open-modal" class="shadow navbar-toggler" expand="block"><img src="/assets/images/btn-punto.png" alt=""></button>
          <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
            <ng-template>
              <div class="block">
                <div class="menu-above">Opciones de chat</div>
            <hr class="separator-line">
           
            <div class="button-container">
              <button class="custom-btn">
                <img src="/assets/images/envelope.png" alt="">
                <span class="btn-text">Todos los mensajes</span>
                <label class="container-1">
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </button>
              <button class="custom-btn">
                <img src="/assets/images/headset.png" alt=""> 
                <span class="btn-text">Atención al cliente</span>
                <label class="container-1">
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </button>
              <button class="custom-btn">
                <img src="/assets/images/home.png" alt="">
                <span class="btn-text">Destacados</span>
                <img class="second-image" src="/assets/images/Vector-1.png" alt="">
              </button>
              <button class="custom-btn">
                <img src="/assets/images/comment-2.png" alt=""> 
                <span class="btn-text">Archivados</span>
                <img class="second-image" src="/assets/images/Vector-1.png" alt="">
              </button>
          </div>

          <div>
            <h2 class="subtitle">CONFIGURACIÓN</h2>
            <button class="custom-btn">
              <img src="/assets/images/time-check.png" alt=""> 
              <span class="btn-text">Programados</span>
              <img class="second-image" src="/assets/images/Vector-1.png" alt="">
            </button>
            
            <button class="custom-btn">
              <img src="/assets/images/envelope-open.png" alt=""> 
              <span class="btn-text">Respuestas rápidas</span>
              <img class="second-image" src="/assets/images/Vector-1.png" alt="">
            </button> 
            </div>
              </div>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">Mensajes Archivados</h1>

          <div class="cliente first-comment">
            <button class="mensaje ">
              <img class="img-blip" src="/assets/images/group.png" alt="">
              <span class="texmensaje">
                <span style="font-weight: 500;font-size: 13px;">Blip App</span><br>
                <span style="font-size: 11px; font-weight: Poppins, sans-serif;">¿Cómo te gustaría comunicarte con nosot...</span>
              </span>
              <div class="message-time">12:25 p.m</div>
              <div class="notification">1</div>
              
              <div class="icon-container">
                <div class="dont"></div>
                <i class="bi bi-check-circle-fill check-icon"></i>
              </div>
            </button>
          </div>
          

          <div class="cliente">
            <button routerLink="/mensajes-chat" class="mensaje">
              <img class="img-blip " src="/assets/images/image39.png" alt="">
              <span class="texmensaje"> <span style="font-weight: 500;font-size: 13px;">Laura Costa</span><br> <span style="font-size: 11px; font-weight: Poppins, sans-serif; ;">¿Cómo te gustaría comunicarte con nosot...</span></span> 
              <div class="message-time">12:25 p.m</div>
              <div class="notification">1</div>
            </button>
          </div>
          

          <div class="cliente">
            <button class="mensaje">
              <img class="img-blip " src="/assets/images/group.png" alt="">
              <span class="texmensaje"> <span style="font-weight: 500;font-size: 13px;">Blip App</span><br> <span style="font-size: 11px; font-weight: Poppins, sans-serif; ;">¿Cómo te gustaría comunicarte con nosot...</span></span> 
              <div class="message-time">12:25 p.m</div>
              <div class="notification"></div>
            </button>
          </div>
          
          
          <div class="menu-black">
            
            <div class="image-buttons">
              <button routerLink="/home" class="image-button">
                <img class="num1" src="/assets/images/home.png" alt="Button 1">
              </button>
              <button class="image-button-2">
                <img class="num2" src="/assets/images/comment-alt.png" alt="Button 2">
              </button>
              <div class="dot"></div>
              <button routerLink="/calendario" class="image-button">
                <img class="num3" src="/assets/images/fi-sr-calendar.png" alt="Button 3">
              </button>
              <button class="image-button">
                <img class="num4" src="/assets/images/signal.png" alt="Button 4">
              </button>
            </div>
          </div>


                
        </div>
      </div>
    </div>
  </div>
</ion-content>
