<header-component [withArrowLeft]="true" [route]="'/terminos-y-condiciones'"
  (navigateTo)="handleNavigateTo($event)"></header-component>
<ion-content>

  <div class="container">
    <h2>Ingresa tu número de teléfono</h2>
    <app-phone-input [(phoneNumber)]="phone"></app-phone-input>
  </div>
</ion-content>
<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <default-custom-button [text]="'Siguiente'" (click)="verify()"></default-custom-button>
  </div>
</ion-footer>

<!-- <ion-footer class="footer-btn">
  <div class="bnt-dow">
    <button (click)="return()" class="bac">Atrás</button>
    <button class="nex" (click)="setPhone()">Siguiente</button>
  </div>
</ion-footer> -->
