
<ion-header mode="ios">
  <ion-toolbar>
    <h2 slot="start" class="title">Ingresa tu número de teléfono</h2>
  </ion-toolbar>
</ion-header>
<ion-content class="login-content">
  <div class="login-content" >
    <div class="phone-input">
      <span class="country-code">+51</span>
      <ion-input
      mode="ios"
      type="text"
      placeholder="Ingrese su número"
      [(ngModel)]="phoneNumber"
      (ionInput)="formatPhoneNumber()"
      (keydown)="onKeyDown($event)"
      (paste)="onPaste($event)"
      class="input"
      pattern="[0-9]*" 
      maxlength="9"    
    ></ion-input>
    </div>
  </div>
</ion-content>
<ion-footer [class.keyboard-open]="keyboardOpen" mode="ios">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col >
          <button routerLink="/datos-ingresar" class="btn-atr">Atrás</button>
        </ion-col>
        <ion-col >
          <button class="btn-sig" routerLink="/datos-verificacion">Siguiente</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
