<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="centro">
            <h1 class="title">Ingresa tu número de teléfono</h1>
          </div>
          <p class="description">Verificaremos tu número de teléfono luego.</p>
          <div class="input-bar">
            <p class="label-text">Número de Teléfono</p>
            <div class="phone-prefix">+51</div>
            <input type="number" [(ngModel)]="phone" placeholder="">
          </div>

        </div>
      </div>
    </div>
    <footer class="footer-btn">
      <div class="bnt-dow">
        <button (click)="return()" class="more-info-btn">Atrás</button>
        <button (click)="setPhone()" class="next-btn">Siguiente</button>
      </div> 
    </footer>
  </div>
</ion-content>
