<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor del mapa -->
  <div class="map-container"></div>

  <!-- Caja con texto y botón en la parte inferior -->
  <div class="bottom-sheet">
    <ion-text class="instruction">Mueve el mapa</ion-text>
    <ion-button routerLink="/agregar-nueva-ubicacion" expand="block" color="dark" shape="round">Hecho</ion-button>
  </div>
</ion-content>


<!-- <ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">    
          <div class="inicio">
            <div class="nav-arrow-btn">
              <img src="/assets/images/ubicacion-en-el-mapa/nav-arrow-btn.png" alt="" routerLink="/nueva-ubicacion">
            </div>
            <div class="box">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" placeholder="Av. Republica de Panamá..." name="">
            </div>
          </div>

          <div class="espacio-del-mapa">
            <div class="btn"><button class="btn-seleccionar" routerLink="/agregar-nueva-ubicacion">Seleccionar</button></div>
            
          </div>

        </div>
      </div> 
    </div>
  </div>
</ion-content> -->
