<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <button routerLink="/tab-home/home" class="info-back"> Ayuda <div class="signo-menor"></div> </button>
          <div class="contenido-inf">
            <h2 class="title">Guia para los Host</h2>
            <button routerLink="/cancelacion-politica" class="menu-con"><img src="assets/images/cancelacion.png" alt=""> Cancelaciones y Reembolsos <div class="signo-mayor1"></div> </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
