<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <img      src="assets/images/imagen1.png" alt="">
          <h1 class="p1">Paso 1</h1>
          <h2 class="indentity-con">Confirma tu identidad </h2>
          <p class="parrafo1">En este paso, nos brindarás la información necesaria para llevar a 
            cabo la verificación de tu identidad. 
            Así nos nos aseguramos de mantener 
            la seguridad en nuestra comunidad.</p>
        </div>
      </div>
    </div>
    <footer class="footer-btn">
      <div class="bnt-dow">
        <button routerLink="/nuevo-anu-pone-alq" class="bac">Atrás</button>
        <button class="nex" routerLink="/adj-dt-dni">Siguiente</button>
      </div>
    </footer>
  </div>
</ion-content>
