<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <img      src="assets/images/imagen1.png" alt="">
          <h1 class="p1">Paso 1</h1>
          <h2 class="indentity-con">Confirma tu identidad </h2>
          <p class="parrafo1">En este paso, te pedimos que nos brindes la información necesaria para llevar a cabo la verificación de tu identidad, asegurándonos de mantener la seguridad y la integridad de nuestra comunidad.</p>
          <!-- button <button href="" class="more-info-btn">Más Información</button> -->
          <button routerLink="/adj-dt-dni" class="next-btn">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
