<ion-header>
  <ion-toolbar>
    <div class="toolbar-content">
      <div class="left-content">
        <div *ngIf="withArrowLeft" class="icon-container" (click)="onNavigate()">
          <img src="assets/images/left-arrow.svg" alt="Atras" class="icon-arrow-left">
        </div>
        <span *ngIf="withTitleLeft">{{titleLeft}}</span>
      </div>
      <div class="right-content">
        <img *ngIf="withTrash" src="assets/images/trash-black.svg" alt="Eliminar" class="icon-trash" (click)="openTrashModalById()">
        <img *ngIf="withArrowDown" src="assets/images/down-arrow.svg" alt="Desplegar" class="icon-arrow-right" (click)="openModalById()">
      </div>
    </div>
  </ion-toolbar>
</ion-header>
