ion-tab-bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    --border: none;
    --background: #ffffff;
    height: 130px;
    box-shadow: 0px 6px 18px 6px rgba(33, 33, 33, 0.17);    
    padding-inline: 12px;
    display: flex;
    justify-content: space-around;
    border-radius: 30px 30px 0 0; /* Bordes redondeados solo en la parte superior */
}

ion-tab-button {
    --color: black; /* Icon color when not selected */
    --color-selected: black; /* Icon color when selected */
    position: relative;
    display: flex;
    width: 64px;
    padding: 0px;
    max-width: 64px;
    align-items: center;
    justify-content: center;
    height: 50px; /* Altura predeterminada */
    margin-bottom: 40px;
}

ion-tab-button.selected {
    background-color: #79FFAF;
    border-radius: 30px;
    width: 64px;
    height: 50px; /* Altura del botón cuando está seleccionado */
    flex: 1;
    text-align: center;
    --tab-button-height: 50px; /* Usa una variable CSS para gestionar la altura */
}
