<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" [ngClass]="{'selected': selectedTab == 'home'}">
      <img *ngIf="selectedTab !== 'home'" src="/assets/images/home39.svg" alt="">
      <img *ngIf="selectedTab === 'home'" src="/assets/images/home39-selected.svg" alt="">
    </ion-tab-button>

    <ion-tab-button tab="loader-comp" [ngClass]="{'selected': selectedTab == 'loader-comp'}">
      <img *ngIf="selectedTab !== 'loader-comp'" src="/assets/images/finanzas.svg" alt="">
      <img *ngIf="selectedTab === 'loader-comp'" src="/assets/images/tab-selefinanza.svg" alt="">
    </ion-tab-button>

    <ion-tab-button tab="calendario-semanal" [ngClass]="{'selected': selectedTab == 'calendario-semanal'}">
      <img *ngIf="selectedTab !== 'calendario-semanal'" src="/assets/images/search-outline.svg" alt="">
      <img *ngIf="selectedTab === 'calendario-semanal'" src="/assets/images/search-outline-selected.svg" alt="">
    </ion-tab-button>

    <ion-tab-button tab="inf-perso" [ngClass]="{'selected': selectedTab == 'inf-perso'}">
      <img *ngIf="selectedTab !== 'inf-perso'" src="/assets/images/person-outline.svg" alt="">
      <img *ngIf="selectedTab === 'inf-perso'" src="/assets/images/person-outline-selected.svg" alt="">
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
