<ion-content [fullscreen]="true" scroll="true" keyboardOffset="0">
  
  <div class="wrapper">
    <div class="login">
      <h1>
        Reestablece tu
contraseña
      </h1>


        <div class="input-bar">
          <p class="label-text">Contraseña</p>
          <ion-input [type]="passwordType"placeholder="Ingresa tu contraseña" maxlength="16"  [(ngModel)]="password"></ion-input>
          <ion-icon [name]="passwordIcon" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </div>

        <div class="input-bar">
          <p class="label-text">Confirmar Contraseña</p>
          <ion-input [type]="passwordType2"placeholder="Confirma tu contraseña" maxlength="16" [(ngModel)]="password2"></ion-input> <!--2do  passwordType2 ,ngModal -->
          <ion-icon [name]="passwordIcon2" slot="end" (click)="togglePasswordVisibility2()"></ion-icon>               <!--2do  passwordIcon2 ,togglePasswordVisibi -->
        </div>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <button (click)="return()" class="bac" >Atrás</button>
    <button (click)="onCreate()"    routerLink="/cre-con"  class="nex">Siguiente</button>
  </div>
</ion-footer>


