<ion-content [fullscreen]="true">
  <div class="top-bar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-flex align-items-center w-100">
          <button routerLink="/mensajes" class="vector-mensaje">
          <img src="/assets/images/Vector-2.png" alt="Logo" class="navbar-logo">
        </button>
          <div class="text-b">Destacados</div>
          <button class="btn-custom shadow">
            <img src="/assets/images/btn-filter.png" alt="">
          </button>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">Mensajes destacados</h1>

          <div class="cliente">
            <button class="mensaje">
              <img class="img-blip " src="/assets/images/group.png" alt="">
              <span class="texmensaje">Atención al cliente de Blip <br> <span style="font-size: 10px; font-weight: Poppins, sans-serif; ;">¿Cómo te gustaría comunicarte con nosot...</span></span>
              <div class="message-time">12:25</div> 
            </button>
          </div>
          <hr class="separator-line">

                
        </div>
      </div>
    </div>
  </div>
</ion-content>
