<ion-content [fullscreen]="true">
  <div class="top-bar">
    <div class="overlay"></div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-flex align-items-center w-100">
          <button routerLink="/mensajes" class="vector-mensaje">
          <img src="/assets/images/Vector-2.png" alt="Logo" class="navbar-logo">
        </button>
        <div class="text-b">Atención al cliente de Blip</div>
        
          <button class="navbar-toggler shadow" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/assets/images/btn-punto.png" alt="Icono de navegación">
          </button>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="text-center title">24 nov 2023 </h1>
          <div class="conversation">
            <div class="message">
              <div class="message-content">
                <div class="message-bubble">
                  <div class="message-text">¡Hola, Camila! Te damos la bienvenida al maravilloso mundo de Blip. <br>
                    Queremos recordarte mediante este mensaje la importancia de tener precaución con las infracciones. La primera vez será considerada como una advertencia, pero en caso de una segunda infracción, nos veremos en la necesidad de desactivar temporalmente tu cuenta.</div>
                    <a class="informacion" href="">Más información</a>
                    <img src="/assets/images/Vector-1.png" alt="">
                  <div class="message-time">12:25 p.m</div>
                </div>
                <div class="message-avatar">
                  <img class="avatar" src="/assets/images/group.png" alt="Avatar">
                  <div class="message-sender">Blip</div>
                </div>
              </div>
            </div>
          </div>


          <div class="bottom-bar">
            <div class="left-button">
              <button class="add-button">
                <img src="/assets/images/plus-small.png" alt="Agregar">
              </button>
            </div>
            <div class="input-area">
              <input type="text" placeholder="Escribe un mensaje...">
            </div>
            <div class="right-button">
              <button class="mic-button">
                <img class="microphone" src="/assets/images/microphone.png" alt="Micrófono">
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</ion-content>
