ion-content {
    --background: #71EEA3; /* Fondo verde */
  
    .wrapper {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
    }
  
    .animated-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent; /* El color negro en el círculo */
      width: 20%; /* Tamaño relativo al ancho de la pantalla */
      height: 20%;
      border-radius: 50%;
      z-index: 1;
    }
  
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30%; /* Escala responsiva del logo */
      z-index: 2;
    }
  }