<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">Términos y Condiciones</h1>
          <div class="scrollbar">
            <div class="description">
              <h4 class="tamano">1. Aceptación de los Términos </h4>
              Bienvenido a Blip. El uso de nuestra aplicación móvil y plataforma web (en adelante, "la aplicación") está
              sujeto a estos Términos y Condiciones. Al utilizar nuestra aplicación, usted acepta cumplir y estar sujeto
              a estos términos y cualquier política relacionada. Si no está de acuerdo con estos términos, porfavor,
              absténgase de utilizar la aplicación.
            </div>
            <div class="description">
              <h4 class="tamano">2. Uso de la Aplicación</h4>
              Usted acepta que utilizará la aplicación de manera responsable y de conformidad con todas las leyes y
              regulaciones aplicables.
              Blip le proporciona acceso a una plataforma que le permite buscar, reservar y pagar por espacios de
              estacionamiento proporcionados por propietarios de cocheras privadas.
              Usted reconoce y acepta que Blip no es un propietario de cocheras, sino un intermediario que facilita las
              transacciones entre conductores y propietarios de cocheras.
              Usted entiende y acepta que Blip no asume responsabilidad por la disponibilidad, condiciones o seguridad
              de los espacios de estacionamiento.
            </div>
            <div class="description">
              <h4 class="tamano">3. Registro y Cuenta de Usuario</h4> 
              Para utilizar ciertas funciones de la aplicación, es necesario registrarse y crear una cuenta de usuario.
              Usted se compromete a proporcionar información precisa y actualizada durante el proceso de registro.
              Es su responsabilidad mantener la confidencialidad de su información de inicio de sesión y asegurarse de
              que no se comparta con terceros.
              Usted acepta notificar a Blip de inmediato si sospecha un uso no autorizado de su cuenta
            </div>
            <div class="description">
              <h4 class="tamano">4. Reservas y Pagos</h4>
              Las reservas de estacionamiento se realizan a través de la aplicación y están sujetas a disponibilidad.
              Usted se compromete a pagar las tarifas asociadas a sus reservas de estacionamiento de acuerdo con las
              tarifas vigentes en la aplicación.
              Las transacciones de pago se procesan a través de nuestros proveedores de servicios de pago y están
              sujetas a sus términos y condiciones.
              Usted acepta que Blip puede retener información de pago con fines de facturación y cumplimiento.

            </div>
            <div class="description">
              <h4 class="tamano">5. Cancelaciones y Reembolsos </h4>
              Las políticas de cancelación y los reembolsos varían según las condiciones establecidas por el propietario
              de la cochera. Estas políticas se indicarán en el momento de la reserva.
              Si necesita cancelar una reserva, siga las instrucciones y plazos proporcionados en la aplicación.
              En caso de reembolso, Blip gestionará el reembolso de acuerdo con las políticas establecidas por el
              propietario de la cochera.

            </div>
            <div class="description">
              <h4 class="tamano">6. Calificaciones y Comentarios</h4>
              Después de cada reserva, tanto los conductores como los propietarios de cocheras pueden calificarse y
              dejar comentarios. Estos comentarios y calificaciones son importantes para mantener la calidad de la
              comunidad Blip.
              Usted se compromete a proporcionar información precisa y respetuosa en sus comentarios y calificaciones.
            </div>
            <div class="description">
              <h4 class="tamano">7. Propiedad Intelectual</h4>
              La aplicación y su contenido, incluyendo, pero no limitado a logotipos, textos, imágenes y marcas
              registradas, están protegidos por derechos de propiedad intelectual.
              Usted se compromete a no copiar, reproducir, modificar, distribuir o crear obras derivadas basadas en la
              aplicación o su contenido sin el consentimiento por escrito de Blip.
              Se prohíbe el uso de cualquier contenido de la aplicación para fines comerciales sin autorización previa.
            </div>
            <div class="description">
              <h4 class="tamano">8. Privacidad y Protección de Datoss</h4>
              La recopilación y el uso de datos personales se rigen por nuestra Política de Privacidad. Al utilizar la
              aplicación, usted acepta nuestras prácticas de privacidad.
            </div>
            <div class="description">
              <h4 class="tamano">9. Requisitos y Conducta del Usuario</h4>
              Al utilizar Blip usted se compromete a:
            </div>
            <div class="description">
              Proporcionar información veraz y actualizada en su perfil de usuario.
              Utilizar la aplicación de manera responsable y respetar las políticas de cancelación y reembolso.
              Respetar la privacidad y propiedad de los propietarios de cocheras y otros usuarios.
              Mantener un comportamiento respetuoso y no discriminatorio en todas las interacciones dentro de la
              comunidad Blip.
            </div>
            <div class="description">
              <h4 class="tamano">10. Pagos</h4>
              Las tarifas por reservas de estacionamiento se deben pagar a través de la aplicación y están sujetas a las
              tarifas vigentes.
              Las transacciones de pago se procesan de forma segura a través de nuestros proveedores de servicios de
              pago. Al realizar un pago, usted acepta los términos y condiciones de nuestros proveedores de servicios de
              pago.
              Blip se reserva el derecho de retener información de pago con fines de facturación y cumplimiento.
            </div>
            <div class="description">
              <h4 class="tamano">11. Soporte y Atención al Cliente</h4>
              Blip proporciona soporte y atención al cliente para abordar consultas, problemas y solicitudesde
              asistencia relacionadas con la aplicación.
              Si necesita soporte, no dude en ponerse en contacto con nuestro equipo de soporte a travésde los canales
              de comunicación proporcionados en la aplicación.
            </div>
            <div class="description">
              <h4 class="tamano">12. Cambios en los Términos</h4>
              Blip se reserva el derecho de actualizar o modificar estos Términos y Condiciones en cualquier momento. Se
              le notificará sobre cualquier cambio significativo a través de la aplicación o por otros medios.
            </div>
            <div class="description">
              <h4 class="tamano">13. Contacto </h4>
              Si tiene preguntas o comentarios sobre estos Términos y Condiciones, no dude en ponerse en contacto con
              nosotros a través de:
              Correo electrónico de contacto: soporteblip.pe
              Número de teléfono de contacto: +51 933 391 372
            </div>
          </div>
          <button routerLink="/termino-y-condiciones" class="next-btn">Atrás</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>