<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">¿Cuáles son los servicios que ofreces?</h1>
          <div class="input-bar">
            <div class="ing">
                <img src="/assets/images/rejas.svg" alt="">
                <h1>Rejas</h1>
            </div>
            <input type="checkbox" [(ngModel)]="isChecked" (ngModelChange)="onChange($event)" class="custom-checkbox"> 
          </div>
          <div class="input-bar">
              <div class="ing">
                  <img src="/assets/images/puntero.svg" alt="">
                  <h1>Portón Manual</h1>
              </div>
              <input type="checkbox" [(ngModel)]="isChecked2" (ngModelChange)="onChange($event)" class="custom-checkbox">
          </div>
          <div class="input-bar">
              <div class="ing">
                  <img src="/assets/images/foco.svg" alt="">
                  <h1>Portón Eléctrico</h1>
              </div>
              <input type="checkbox" [(ngModel)]="isChecked3" (ngModelChange)="onChange($event)" class="custom-checkbox">
          </div>
          <div class="input-bar">
              <div class="ing">
                  <img src="/assets/images/ojos.svg" alt="">
                  <h1>Sistema de vigilancia</h1>
              </div>
              <input type="checkbox" [(ngModel)]="isChecked4" (ngModelChange)="onChange($event)" class="custom-checkbox">
          </div>
          <div class="input-bar">
            <div class="ing">
                <img src="/assets/images/slaps.svg" alt="">
                <h1>Techado</h1>
            </div>
            <input type="checkbox" [(ngModel)]="isChecked5" (ngModelChange)="onChange($event)" class="custom-checkbox">
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-btn">
      <div class="bnt-dow">
        <button class="bac" routerLink="/descripcion-de-direccion" >Atrás</button>
        <button  routerLink="/descripcion-de-medidas-del-espacio" class="nex" >Siguiente</button>
      </div>
    </footer>
  </div>
</ion-content>


