<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">¿Cuáles son otros servicios que también ofreces?</h1>
          <button class="custom-btn">
            <img src="/assets/images/user.png" alt="">
            <span class="btn-text">Servicios  Higiénicos</span>
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </button>
          <button class="custom-btn">
            <img src="/assets/images/shop.png" alt=""> 
            <span class="btn-text">Autoboutique</span>
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </button>
          <button class="custom-btn">
            <img src="/assets/images/layers.png" alt="">
            <span class="btn-text">Techado</span>
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </button>
          <button class="custom-btn">
            <img src="/assets/images/eye.png" alt=""> 
            <span class="btn-text">Sistema  de  vigilancia</span>
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </button>
          <button class="custom-btn">
            <img src="/assets/images/shopping-cart.png" alt=""> 
            <span class="btn-text">Tienda</span>
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </button>

          <button routerLink="/descripcion-de-direccion" class="more-info-btn">Atrás</button>
          <button routerLink="/descripcion-de-medidas-del-espacio" class="next-btn">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>


