<ion-content [fullscreen]="true"> 
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="img1">
            <img src="/assets/images/imgwalktrough.png" alt="">
          </div>
          <div class="mid-bar">
            <h1>¡Bienvenida a Blip, Camila!</h1>
            <div class="subttl">
              <span>Encuentra tu </span>
            </div>
            <div class="subttl">
              <span> Estacionamiento ideal</span>
            </div> <hr>
            <div class="desc">
              <span >Descubre espacios cercanos y disponibles al instante. ¡Encuentra tu lugar perfecto para estacionar sin complicaciones!</span>
            </div>
            <button routerLink="/tab-home" class="com-btn">Comenzar</button>
          </div>              
        </div>
      </div>
    </div>
  </div>
</ion-content>
