<ion-header mode="ios">
  <ion-toolbar >
    <button routerLink="/tab-home/blip-home" slot="start" style="margin-right:20px ;">
      <img src="assets/images/left-flec.svg" alt="" style="margin: 0px;">
    </button>
    <h2 style="text-align: left;">Cerca a ti</h2>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- Lista de Secciones -->
  <div class="cont-home">
    <div class="section">
      <div class="section-content">
        <!-- Tarjeta con Efecto Ripple y Diseño 100% -->
        <div class="ion-activatable ripple-parent full-width-card-wrapper">
          <ion-card mode="md" class="full-width-card">
            <ion-card-content>
              <div class="card-content">
                <!-- Imagen (Slider opcional) -->
                <div class="image-slider swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 1" />
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 2" />
                    </div>
                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 3" />
                    </div>
                  </div>
                  <!-- Paginación dentro de la imagen -->
                  <div class="swiper-pagination"></div>
                </div>
      
                <!-- Detalles -->
                <div class="text-details">
                  <h3>Nombre de Parqueo</h3>
                  <div class="cont-pres">
                    <img src="/assets/images/din-blac.svg" alt="">
                    <h1>s/8.50 <span>h/f</span></h1>
                    <h1>a 200m</h1>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/ubi-blac.svg" alt="">
                    <h3>Calle Los Anades 155</h3>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/home/aut-line.svg" alt="">
                    <img src="/assets/images/home/cam-line.svg" alt="">
                    <img src="/assets/images/home/bici-line.svg" alt="">
                    <img src="/assets/images/home/relog-line.svg" alt="" class="derxs">
                    <h1>10 am - 7 pm</h1>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <!-- Efecto Ripple -->
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple-parent full-width-card-wrapper">
          <ion-card mode="md" class="full-width-card">
            <ion-card-content>
              <div class="card-content">
                <!-- Imagen (Slider opcional) -->
                <div class="image-slider swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 1" />
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 2" />
                    </div>
                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 3" />
                    </div>
                  </div>
                  <!-- Paginación dentro de la imagen -->
                  <div class="swiper-pagination"></div>
                </div>
      
                <!-- Detalles -->
                <div class="text-details">
                  <h3>Nombre de Parqueo</h3>
                  <div class="cont-pres">
                    <img src="/assets/images/din-blac.svg" alt="">
                    <h1>s/8.50 <span>h/f</span></h1>
                    <h1>a 200m</h1>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/ubi-blac.svg" alt="">
                    <h3>Calle Los Anades 155</h3>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/home/aut-line.svg" alt="">
                    <img src="/assets/images/home/cam-line.svg" alt="">
                    <img src="/assets/images/home/bici-line.svg" alt="">
                    <img src="/assets/images/home/relog-line.svg" alt="" class="derxs">
                    <h1>10 am - 7 pm</h1>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <!-- Efecto Ripple -->
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple-parent full-width-card-wrapper">
          <ion-card mode="md" class="full-width-card">
            <ion-card-content>
              <div class="card-content">
                <!-- Imagen (Slider opcional) -->
                <div class="image-slider swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 1" />
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 2" />
                    </div>
                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 3" />
                    </div>
                  </div>
                  <!-- Paginación dentro de la imagen -->
                  <div class="swiper-pagination"></div>
                </div>
      
                <!-- Detalles -->
                <div class="text-details">
                  <h3>Nombre de Parqueo</h3>
                  <div class="cont-pres">
                    <img src="/assets/images/din-blac.svg" alt="">
                    <h1>s/8.50 <span>h/f</span></h1>
                    <h1>a 200m</h1>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/ubi-blac.svg" alt="">
                    <h3>Calle Los Anades 155</h3>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/home/aut-line.svg" alt="">
                    <img src="/assets/images/home/cam-line.svg" alt="">
                    <img src="/assets/images/home/bici-line.svg" alt="">
                    <img src="/assets/images/home/relog-line.svg" alt="" class="derxs">
                    <h1>10 am - 7 pm</h1>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <!-- Efecto Ripple -->
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple-parent full-width-card-wrapper">
          <ion-card mode="md" class="full-width-card">
            <ion-card-content>
              <div class="card-content">
                <!-- Imagen (Slider opcional) -->
                <div class="image-slider swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 1" />
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 2" />
                    </div>
                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 3" />
                    </div>
                  </div>
                  <!-- Paginación dentro de la imagen -->
                  <div class="swiper-pagination"></div>
                </div>
      
                <!-- Detalles -->
                <div class="text-details">
                  <h3>Nombre de Parqueo</h3>
                  <div class="cont-pres">
                    <img src="/assets/images/din-blac.svg" alt="">
                    <h1>s/8.50 <span>h/f</span></h1>
                    <h1>a 200m</h1>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/ubi-blac.svg" alt="">
                    <h3>Calle Los Anades 155</h3>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/home/aut-line.svg" alt="">
                    <img src="/assets/images/home/cam-line.svg" alt="">
                    <img src="/assets/images/home/bici-line.svg" alt="">
                    <img src="/assets/images/home/relog-line.svg" alt="" class="derxs">
                    <h1>10 am - 7 pm</h1>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <!-- Efecto Ripple -->
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple-parent full-width-card-wrapper">
          <ion-card mode="md" class="full-width-card">
            <ion-card-content>
              <div class="card-content">
                <!-- Imagen (Slider opcional) -->
                <div class="image-slider swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 1" />
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 2" />
                    </div>
                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 3" />
                    </div>
                  </div>
                  <!-- Paginación dentro de la imagen -->
                  <div class="swiper-pagination"></div>
                </div>
      
                <!-- Detalles -->
                <div class="text-details">
                  <h3>Nombre de Parqueo</h3>
                  <div class="cont-pres">
                    <img src="/assets/images/din-blac.svg" alt="">
                    <h1>s/8.50 <span>h/f</span></h1>
                    <h1>a 200m</h1>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/ubi-blac.svg" alt="">
                    <h3>Calle Los Anades 155</h3>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/home/aut-line.svg" alt="">
                    <img src="/assets/images/home/cam-line.svg" alt="">
                    <img src="/assets/images/home/bici-line.svg" alt="">
                    <img src="/assets/images/home/relog-line.svg" alt="" class="derxs">
                    <h1>10 am - 7 pm</h1>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <!-- Efecto Ripple -->
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple-parent full-width-card-wrapper">
          <ion-card mode="md" class="full-width-card">
            <ion-card-content>
              <div class="card-content">
                <!-- Imagen (Slider opcional) -->
                <div class="image-slider swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 1" />
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 2" />
                    </div>
                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 3" />
                    </div>
                  </div>
                  <!-- Paginación dentro de la imagen -->
                  <div class="swiper-pagination"></div>
                </div>
      
                <!-- Detalles -->
                <div class="text-details">
                  <h3>Nombre de Parqueo</h3>
                  <div class="cont-pres">
                    <img src="/assets/images/din-blac.svg" alt="">
                    <h1>s/8.50 <span>h/f</span></h1>
                    <h1>a 200m</h1>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/ubi-blac.svg" alt="">
                    <h3>Calle Los Anades 155</h3>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/home/aut-line.svg" alt="">
                    <img src="/assets/images/home/cam-line.svg" alt="">
                    <img src="/assets/images/home/bici-line.svg" alt="">
                    <img src="/assets/images/home/relog-line.svg" alt="" class="derxs">
                    <h1>10 am - 7 pm</h1>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <!-- Efecto Ripple -->
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple-parent full-width-card-wrapper">
          <ion-card mode="md" class="full-width-card">
            <ion-card-content>
              <div class="card-content">
                <!-- Imagen (Slider opcional) -->
                <div class="image-slider swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 1" />
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 2" />
                    </div>
                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 3" />
                    </div>
                  </div>
                  <!-- Paginación dentro de la imagen -->
                  <div class="swiper-pagination"></div>
                </div>
      
                <!-- Detalles -->
                <div class="text-details">
                  <h3>Nombre de Parqueo</h3>
                  <div class="cont-pres">
                    <img src="/assets/images/din-blac.svg" alt="">
                    <h1>s/8.50 <span>h/f</span></h1>
                    <h1>a 200m</h1>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/ubi-blac.svg" alt="">
                    <h3>Calle Los Anades 155</h3>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/home/aut-line.svg" alt="">
                    <img src="/assets/images/home/cam-line.svg" alt="">
                    <img src="/assets/images/home/bici-line.svg" alt="">
                    <img src="/assets/images/home/relog-line.svg" alt="" class="derxs">
                    <h1>10 am - 7 pm</h1>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <!-- Efecto Ripple -->
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple-parent full-width-card-wrapper">
          <ion-card mode="md" class="full-width-card">
            <ion-card-content>
              <div class="card-content">
                <!-- Imagen (Slider opcional) -->
                <div class="image-slider swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 1" />
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 2" />
                    </div>
                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 3" />
                    </div>
                  </div>
                  <!-- Paginación dentro de la imagen -->
                  <div class="swiper-pagination"></div>
                </div>
      
                <!-- Detalles -->
                <div class="text-details">
                  <h3>Nombre de Parqueo</h3>
                  <div class="cont-pres">
                    <img src="/assets/images/din-blac.svg" alt="">
                    <h1>s/8.50 <span>h/f</span></h1>
                    <h1>a 200m</h1>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/ubi-blac.svg" alt="">
                    <h3>Calle Los Anades 155</h3>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/home/aut-line.svg" alt="">
                    <img src="/assets/images/home/cam-line.svg" alt="">
                    <img src="/assets/images/home/bici-line.svg" alt="">
                    <img src="/assets/images/home/relog-line.svg" alt="" class="derxs">
                    <h1>10 am - 7 pm</h1>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <!-- Efecto Ripple -->
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple-parent full-width-card-wrapper">
          <ion-card mode="md" class="full-width-card">
            <ion-card-content>
              <div class="card-content">
                <!-- Imagen (Slider opcional) -->
                <div class="image-slider swiper-container">
                  <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 1" />
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 2" />
                    </div>
                    <!-- Slide 3 -->
                    <div class="swiper-slide">
                      <img src="/assets/images/home/img-card.png" alt="Parking 3" />
                    </div>
                  </div>
                  <!-- Paginación dentro de la imagen -->
                  <div class="swiper-pagination"></div>
                </div>
      
                <!-- Detalles -->
                <div class="text-details">
                  <h3>Nombre de Parqueo</h3>
                  <div class="cont-pres">
                    <img src="/assets/images/din-blac.svg" alt="">
                    <h1>s/8.50 <span>h/f</span></h1>
                    <h1>a 200m</h1>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/ubi-blac.svg" alt="">
                    <h3>Calle Los Anades 155</h3>
                  </div>
                  <div class="cont-pres">
                    <img src="/assets/images/home/aut-line.svg" alt="">
                    <img src="/assets/images/home/cam-line.svg" alt="">
                    <img src="/assets/images/home/bici-line.svg" alt="">
                    <img src="/assets/images/home/relog-line.svg" alt="" class="derxs">
                    <h1>10 am - 7 pm</h1>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
          <!-- Efecto Ripple -->
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>
  </div>
</ion-content>
