<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">    <!--Parte blanca ini -->
          <div class="inicio">
            <div class="nav-arrow-btn">
              <img src="/assets/images/sitios-guardados/nav-arrow-btn.png" alt="" routerLink='/tab-home/perfil'>
            </div>
            <h1 class="title">Configuración</h1>   
          </div>

          <button routerLink="/info-personal" class="menu-con"><img src="assets/images/icon-inf.png" alt="" class="icon-img"> Informacion personal <div class="signo-mayor1"></div> </button>
          <button routerLink="/inicio-seguridad" class="menu-con"><img src="assets/images/icon-escudo.png" alt="" class="icon-img"> Inicio y Seguridad <div class="signo-mayor2"></div> </button>
          <button routerLink="/notificaciones-confi" class="menu-con"><img src="assets/images/icon-campana.png" alt="" class="icon-img"> Notificaciones <div class="signo-mayor3"></div> </button>
          <button routerLink="/ubicacion-confi" class="menu-con"><img src="assets/images/icon-ubicacion.png" alt="" class="icon-img"> Ubicación <div class="signo-mayor4"></div> </button>          
          
        








        </div>
      </div>
    </div>
  </div>

