<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="animation">
      <div class="card-content">
        <div class="swiper-container swiper-text">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="img-contenedor">
                <img class="img-principal" src="/assets/images/presentacion.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img-contenedor">
                <img class="img-principal" src="/assets/images/presentacion1.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
          <div class="img-contenedor">
            <img class="img-principal" src="/assets/images/presentacion2.png" alt="" />
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay-x">
        <div class="close-button" routerLink="/home">
          <span>x</span>
        </div>        
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="swiper-pagination"></div>
        <div class="card-content">
          <div class="swiper-container swiper-main">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <h1 class="title">Bienvenida a <br> Blip, Camila</h1>
                <h2 class="subtitle">
                  Ahora eres parte de esta maravillosa comunidad
                </h2>
                <p class="description">
                  Prepárate para potenciar la rentabilidad
                  de tu espacio y ofrecer a los usuarios una experiencia de estacionamiento increíble.<br>
                  ¡Empecemos!
                </p>
              </div>
              <div class="swiper-slide">
                <h1 class="title">Manejo de Infracciones</h1>
                <h2 class="subtitle">
                  Advertencia y Desactivación de Cuenta
                </h2>
                <p class="description">
                  Nos comprometemos a mantener un entorno seguro para todos. Infringir las políticas de uso puede resultar en infracciones o desactivación de cuenta.
                </p>
                <div class="enlace">
                  <p class="tex-pagina">
                    <a class="servicios" routerLink="/presentacion-infracciones-informacion">Más información</a>
                    <img src="/assets/images/right-arrow.svg" alt="" />
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <h1 class="title">Atiende bien <br> a tus inquilinos</h1>
                <h2 class="subtitle">
                  Dale prioridad a brindar un servicio excelente.
                </h2>
                <p class="description">
                  En Blip, la atención es esencial. Recuerda que cuentas con 10 minutos para atenderlos. Tu eficacia y calidad en el servicio serán recompensadas.
                </p>
                <div class="enlace">
                  <p class="tex-pagina">
                    <a class="servicios" routerLink="/presentacion-inquilinos-informacion">Más información</a>
                    <img src="/assets/images/right-arrow.svg" alt="" />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-buttons">
          <button 
            [disabled]="!isButtonEnabled"
            [ngClass]="{ 'disabled-btn': !isButtonEnabled, 'enabled-btn': isButtonEnabled }" 
            class="next-btn"
            routerLink="/home"
          >
            Comenzar
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
