<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">    <!--Inicio Parte blanca  -->
          <!-- <div class="inicio">
            <div class="nav-arrow-btn">
              <img src="/assets/images/nav-arrow-btn.png" alt="" routerLink="/">
            </div>
           <div class="title"></div> 
           <div class="menu-dots" routerLink="/"> 
           <img src="/assets/images/menu-dots.svg"  alt="...">
          </div>
          </div> -->

          <img src="/assets/images/Frame IMG.svg"  alt="...">

          <div class="subtitle">¡Tu Cuenta esta  Lista!</div>
          

          <div class="text1">Gracias por registrarte en BLIP</div>
          <div class="text2">Explora estacionamientos y reserva tus espacios favoritos</div>
          
        </div><!--Fin Parte blanca "Content" -->
      </div>  
    </div>
  </div>
</ion-content>      