<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="title">
            <h1 class="acre">Acreditación de
              Título de Propiedad</h1>
          </div>
          <div class="title2">
            <h1 class="acre2">Puedes subir tu documento en 
              formato JPG, PNG .</h1>
          </div>
          <div class="green-bar">
            <label for="adjun-acre-pro" class="custom-button bl ">
                <input type="file" class="form-control" id="adjun-acre-pro" accept="image/*" style="display: none;">
                <img src="assets/images/btn.png" alt="">
            </label> 
        </div>
        <div>
          <button routerLink="/ante-penal" class="more-info-btn">Atrás</button>
          <button routerLink="/descripcion-del-estacionamiento" class="next-btn">Siguiente</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>

