<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button routerLink="/tab-home/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title>Calendario</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="calendar-container">
    <div class="month-year">{{ mesActual }} {{ anioActual }}</div>
    <div class="week" *ngFor="let semana of semanas2024">
      <div class="day" *ngFor="let dia of semana.dias">
        <div class="day-header">
          <div class="date-details">
            <p class="date-number">{{ dia.numero }}</p>
            <p class="day-name">{{ dia.nombre }}</p>
          </div>
          <div>
            <div class="reservations" *ngFor="let reserva of data">
              <div *ngIf="compararFechas(dia.fecha, reserva.res_fecfin)">
                <div class="parking-details">{{ reserva.gar_descri }}</div>
                <p class="reserva-detalle">{{ convertirHora(reserva.res_fecini) }} - {{ convertirHora(reserva.res_fecfin) }}</p>
              </div>
            </div>
          </div>

          <div class="amount" *ngIf="dia.total_dia > 0">S/{{ dia.total_dia }}</div>
          <div class="no-reservation" *ngIf="dia.total_dia === 0">S/0</div>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>
