<ion-header mode="ios">
  <ion-toolbar>
    <h2 slot="start" class="title">
      Revisa nuestros Términos y Condiciones antes de unirte a nuestra comunidad
    </h2>
  </ion-toolbar>
</ion-header>
<ion-content class="login-content">
  <div class="login-content">
    <div class="description">
      <h4 class="tamano">
        PRIMERO: IDENTIFICACIÓN DEL TITULAR DE LA PLATAFORMA
      </h4>
      1.1 La presente plataforma digital denominada "BLIP APP" (en adelante, la
      "Plataforma") es de titularidad de SERVICIOS TECNOLOGICOS DE PARKING
      S.A.C., sociedad legalmente constituida bajo las leyes de la República del
      Perú, identificada con RUC N.º 20611866632, con domicilio en Av.
      Prolongación Haya de la Torre MZA. T2, Lote 16, Urb. Ciudad del Pescador
      (Cruce Av. Venezuela con Av. Haya de la Torre) Prov. Const. del Callao,
      distrito de Bellavista, Prov. Const. Del Callao, quien actúa en calidad de
      proveedor de servicios tecnológicos y administrador de la referida
      Plataforma.
    </div>
    <div class="description">
      <h4 class="tamano">SEGUNDO: OBJETO Y ALCANCE DEL PRESENTE DOCUMENTO</h4>
      2.1 El presente documento regula el acceso, uso, registro, funcionamiento
      y condiciones legales aplicables a la Plataforma, en su versión móvil, así
      como las relaciones jurídicas que se generan entre los distintos usuarios
      que interactúan en ella, incluyendo, de forma enunciativa mas no
      limitativa, a los anfitriones de estacionamientos particulares (en
      adelante, los "Hosts") y a los conductores que contratan temporalmente
      dichos espacios (en adelante, los "Drivers").
      <br />
      2.2 Mediante la aceptación expresa o el uso efectivo de la Plataforma, el
      Usuario reconoce haber leído, comprendido y aceptado sin reservas ni
      condiciones los presentes Términos y Condiciones de Uso (en adelante, los
      "Términos"), así como todas las políticas complementarias que, en su caso,
      emita la Empresa.
    </div>
    <div class="description">
      <h4 class="tamano">TERCERO: DEFINICIONES</h4>
      A efectos interpretativos de los presentes Términos, se entenderá por:
      <br />
      3.1 "Usuario": Toda persona natural o jurídica que acceda, navegue, se
      registre o utilice, de cualquier forma, la Plataforma. Bajo esta categoría
      se incluyen, sin carácter taxativo, los Hosts y los Drivers.
      <br />
      3.2 "Host": Usuario que, debidamente registrado, ofrece en alquiler
      temporal un espacio de estacionamiento de su propiedad o posesión legítima
      a través de la Plataforma, bajo las condiciones y tarifas que él mismo
      determine.
      <br />
      3.3 "Driver": Usuario que, debidamente registrado, accede a la Plataforma
      con la finalidad de buscar, reservar y utilizar temporalmente un espacio
      de estacionamiento ofrecido por un Host, aceptando para ello las
      condiciones establecidas por dicho Host y las estipuladas en los presentes
      Términos.
      <br />
      3.4: "Reserva": Acuerdo electrónico generado a través de la Plataforma
      mediante el cual un Driver solicita y un Host acepta (o viceversa) la
      prestación temporal de un espacio de estacionamiento, por un tiempo
      determinado y bajo condiciones específicas.
      <br />
      3.5: "Contenido de Usuario": Toda información, imagen, archivo, dato o
      comentario que el Usuario cargue, transmita o publique dentro de la
      Plataforma, con ocasión de su uso.
      <br />
      3.6: "Servicios": Funcionalidades digitales ofrecidas por BLIP APP a
      través de su Plataforma, orientadas a facilitar la conexión, interacción,
      reserva y gestión de espacios de estacionamiento entre Hosts y Drivers.
    </div>
    <div class="description">
      <h4 class="tamano">CUARTO: CONDICIONES GENERALES DE ACCESO Y USO</h4>
      4.1 El acceso y uso de la Plataforma se encuentra condicionado al
      cumplimiento estricto de los presentes Términos. El Usuario declara ser
      mayor de edad, contar con plena capacidad legal para contratar y disponer
      de los medios tecnológicos necesarios para acceder a la Plataforma de
      forma segura y continua.
      <br />
      4.2 Cualquier uso no autorizado, fraudulento, contrario a la ley, a la
      moral o a las buenas costumbres, faculta a la Empresa a suspender,
      restringir o eliminar el acceso del Usuario, sin necesidad de previo aviso
      y sin que ello genere derecho a indemnización alguna.
      <br />
      4.3 El Usuario se compromete a hacer un uso diligente, correcto y lícito
      de la Plataforma y de los Servicios ofrecidos, absteniéndose de emplearlos
      para fines distintos a los expresamente autorizados por estos Términos.
    </div>
    <div class="description">
      <h4 class="tamano">QUINTO: REGISTRO Y CREACIÓN DE CUENTA</h4>
      5.1 Para acceder a los Servicios, el Usuario deberá completar el proceso
      de registro mediante la creación de una cuenta en la Plataforma,
      proporcionando información verídica, completa y actualizada. El Usuario
      será responsable de mantener la confidencialidad de su cuenta, contraseña
      y cualquier otra información asociada a su registro.
      <br />
      5.2 El Usuario se compromete a notificar de inmediato a BLIP en caso de
      sospecha de uso no autorizado de su cuenta o de cualquier vulneración de
      seguridad. La Empresa se reserva el derecho de suspender o cancelar
      cualquier cuenta que considere que ha violado estos Términos o que esté
      involucrada en actividades fraudulentas o ilícitas.
    </div>
    <div class="description">
      <h4 class="tamano">SEXTO: OBLIGACIONES DE LOS USUARIOS</h4>
      El Usuario se compromete a cumplir con todas las obligaciones derivadas de
      estos Términos, de acuerdo con su rol en la Plataforma (Host o Driver). A
      continuación, se enumeran las principales obligaciones de cada uno:
      <br />
      6.1: Obligaciones del Host: El Host se compromete a ofrecer espacios de
      estacionamiento que cumplan con las características y condiciones
      descritas en su perfil, garantizando que dichos espacios sean aptos para
      el uso de los Drivers y estén disponibles durante el período de la
      reserva. El Host es responsable de la veracidad de la información
      proporcionada y de cumplir con todas las normativas locales y nacionales
      que regulen la utilización de los espacios de estacionamiento.
      <br />
      6.2: Obligaciones del Driver: El Driver se compromete a respetar las
      condiciones establecidas por el Host, cumplir con las normativas de
      tránsito y de estacionamiento locales, y a no utilizar el espacio de
      estacionamiento para fines distintos a los expresamente acordados. El
      Driver es responsable de la seguridad de su vehículo durante el período de
      reserva.
    </div>
    <div class="description">
      <h4 class="tamano">SÉPTIMO: PROHIBICIONES DEL USUARIO</h4>
      El Usuario se compromete a no utilizar la Plataforma para los siguientes
      fines, entre otros:
      <br />
      7.1: Ingresar o cargar información falsa, incorrecta o engañosa en el
      registro o perfil.
      <br />
      7.3: Cargar o transmitir virus, malware o cualquier otro código malicioso.
      <br />
      7.4: Interferir o intentar interferir en el funcionamiento normal de la
      Plataforma.
      <br />
      7.5: Realizar publicaciones que infrinjan derechos de propiedad
      intelectual o cualquier otro derecho de terceros.
    </div>
    <div class="description">
      <h4 class="tamano">OCTAVO: LIMITACIÓN DE RESPONSABILIDAD</h4>
      La Plataforma actúa únicamente como intermediaria entre los Hosts y los
      Drivers, y no asume ninguna responsabilidad directa ni indirecta sobre la
      calidad, seguridad o disponibilidad de los espacios de estacionamiento
      ofrecidos. En consecuencia, BLIP no será responsable de:
      <br />
      8.1: Daños o perjuicios derivados del uso de los espacios de
      estacionamiento.
      <br />
      8.2: Acciones o inacciones de los Hosts o Drivers que contravengan la ley
      o los Términos establecidos en este documento.
      <br />
      8.3: Daños a vehículos o bienes de los Usuarios mientras estos se
      encuentren en el espacio de estacionamiento.
    </div>
    <div class="description">
      <h4 class="tamano">NOVENO: PROPIEDAD INTELECTUAL</h4>
      La totalidad de los derechos de propiedad intelectual relacionados con la
      Plataforma, incluyendo, pero no limitándose a, diseños, logos, marcas,
      contenidos, código fuente y bases de datos, son propiedad exclusiva de
      BLIP o de sus licenciantes. Queda expresamente prohibido cualquier uso no
      autorizado de los mismos por parte de los Usuarios, quienes no adquieren
      ningún derecho sobre los mismos por el simple uso de la Plataforma.
      <br />
    </div>
    <div class="description">
      <h4 class="tamano">DÉCIMO: PROTECCIÓN DE DATOS PERSONALES</h4>
      BLIP se compromete a tratar los datos personales de los Usuarios de
      acuerdo con la legislación vigente en materia de protección de datos
      personales. La recopilación, almacenamiento y tratamiento de los datos se
      realizará conforme a la Política de Privacidad de BLIP, la cual está
      disponible en la Plataforma y que forma parte integrante de estos
      Términos. El Usuario, al aceptar estos Términos, autoriza a BLIP a tratar
      sus datos personales con fines comerciales, operativos y de mejora de los
      Servicios, siempre dentro del marco legal.
    </div>
    <div class="description">
      <h4 class="tamano">UNDÉCIMO: NATURALEZA DE LA RELACIÓN</h4>
      11.1. La aceptación de las presentes Condiciones de Uso no configura, bajo
      ninguna circunstancia, la existencia de una relación societaria, contrato
      de agencia, empresa conjunta, consorcio, cuentas en participación, joint
      venture, asociación, ni ningún otro tipo de vínculo contractual de
      naturaleza similar entre la Empresa y los Usuarios (Hosts o Drivers). Las
      partes actúan de forma independiente y autónoma, siendo cada una
      responsable exclusivamente por el cumplimiento de sus obligaciones
      legales, incluyendo aquellas de carácter laboral, tributario,
      administrativo y regulatorio, así como por la obtención de los permisos y
      licencias que les sean exigibles para el desarrollo de sus actividades.
      <br />
      11.2. Ninguna de las partes responderá por los actos u omisiones de la
      otra, salvo en los casos expresamente contemplados en las presentes
      Condiciones de Uso.
      <br />
      11.3. Asimismo, BLIP y los Usuarios declaran que la relación aquí regulada
      no constituye un contrato de licencia ni de cesión de derechos sobre la
      Plataforma o sus elementos. En tal sentido, BLIP conservará en todo
      momento la titularidad, derechos de propiedad intelectual e industrial, y
      cualquier otro derecho relacionado con la Plataforma y su funcionamiento,
      incluyendo sus marcas, códigos, interfaces, diseños, bases de datos y
      contenido.
    </div>
    <div class="description">
      <h4 class="tamano">DUODÉCIMO: PAGOS</h4>
      12.1. Las tarifas aplicables a las reservas de estacionamiento serán
      determinadas única y exclusivamente por el Host, quien, bajo su entera
      responsabilidad, podrá establecer, modificar o actualizar los precios
      conforme a su propio criterio, considerando factores como ubicación,
      disponibilidad, horario, duración y niveles de demanda. Dichas tarifas
      serán informadas de manera visible a los Usuarios (Drivers) en la
      Plataforma, antes de confirmar cualquier reserva. La aceptación expresa
      del precio publicado constituye condición esencial para que se perfeccione
      la relación contractual entre el Host y el Driver.
      <br />
      12.2. Todos los pagos deberán efectuarse a través de la Plataforma,
      mediante los medios de pago habilitados por BLIP, los cuales son
      procesados de forma segura por terceros proveedores de servicios de pago,
      ajenos a la Empresa. Al proceder con el pago, el Usuario declara conocer y
      aceptar los términos y condiciones establecidos por dichos proveedores,
      exonerando a BLIP de cualquier responsabilidad directa o indirecta
      derivada de fallos, rechazos o demoras en la transacción.
      <br />
      12.3. BLIP aplicará, sobre cada transacción efectuada, una comisión por el
      uso de la Plataforma y los Servicios tecnológicos asociados, la cual será
      deducida automáticamente del monto que corresponda ser transferido al
      Host. El porcentaje o monto fijo de dicha comisión será informado
      oportunamente a los Hosts al momento de su registro, y podrá ser
      modificado por BLIP previa comunicación con razonable anticipación.
      <br />
      12.4. Asimismo, BLIP se reserva el derecho de conservar, de forma cifrada
      y bajo estrictas medidas de seguridad, los datos de facturación y medios
      de pago vinculados al Usuario, exclusivamente para fines de cumplimiento
      contractual, emisión de comprobantes electrónicos, gestión de reservas,
      aplicación de penalidades o moras, ejecución de reembolsos o en el marco
      de procedimientos de cobranza.
    </div>
    <div class="description">
      <h4 class="tamano">
        DECIMO TERCERO: CANCELACIÓN Y MODIFICACIÓN DE RESERVAS
      </h4>
      13.1. Las reservas realizadas a través de la Plataforma podrán ser
      canceladas o modificadas únicamente conforme a las funcionalidades y
      procedimientos habilitados por la misma. Se deja expresa constancia de que
      el Host no establece, de manera individual o autónoma, una política propia
      de cancelación; sin perjuicio de ello, todo Host que incumpla una reserva
      previamente confirmada o que la cancele sin causa justificada podrá
      incurrir en penalidades o en la generación de una deuda moratoria frente a
      la Empresa o frente al Usuario afectado, según corresponda. Las
      consecuencias económicas derivadas de tales supuestos se encuentran
      detalladas en el Anexo N°1 - Tarifario de Comisiones, Penalidades y
      Devoluciones de las presentes Condiciones de Uso.
      <br />
      13.2. BLIP podrá aplicar penalidades económicas, suspensiones temporales o
      restricciones al perfil del Host, en los casos en que se verifique un
      patrón reiterado de cancelaciones injustificadas o incumplimientos de
      reserva.
      <br />
      13.3. De igual manera, todo Driver que no se retire del espacio de
      estacionamiento dentro del tiempo pactado en la reserva, podrá generar una
      deuda moratoria por el tiempo excedido, conforme a la tarifa proporcional
      previamente acordada. Dicha deuda será gestionada directamente por la
      Plataforma, quien podrá cargar el monto respectivo al medio de pago
      registrado por el Usuario, o bien suspender su acceso a la Plataforma
      hasta el cumplimiento de la obligación pendiente. Las condiciones, montos
      y reglas aplicables a estas situaciones también se encuentran
      desarrolladas en el Anexo N°1 antes referido.
      <br />
      13.4. En caso de cancelación voluntaria por parte del Driver, la Empresa
      procederá con el reembolso del monto pagado, previa validación del caso
      específico y contacto directo con el Usuario. Los reembolsos serán
      efectuados dentro de un plazo estimado de cinco (5) a siete (7) días
      hábiles, contados desde la confirmación de la solicitud de cancelación,
      siempre que esta haya sido realizada conforme a los canales y plazos
      establecidos por la Plataforma. Los criterios y condiciones aplicables a
      los reembolsos también se encuentran detallados en el Anexo N°1.
      <br />
      13.5. BLIP se reserva el derecho de modificar las condiciones aplicables a
      la cancelación, modificación o penalidades derivadas de las reservas en
      cualquier momento, debiendo comunicar oportunamente dichos cambios a los
      Usuarios a través de los canales oficiales habilitados.
    </div>
    <div class="description">
      <h4 class="tamano">DECIMO CUARTO: FUNCIONAMIENTO DE LA PLATAFORMA</h4>
      14.1. BLIP podrá realizar de forma unilateral modificaciones,
      alteraciones, adaptaciones o ajustes a las funcionalidades de la
      Plataforma, sin necesidad de notificar previamente a los Usuarios, siempre
      que dichas modificaciones no impliquen una suspensión del servicio. En
      caso las modificaciones requieran una suspensión temporal, BLIP comunicará
      dicha situación a los Usuarios con una anticipación no menor de dos (2)
      días hábiles.
      <br />
      14.2. BLIP se reserva el derecho de interrumpir o dejar de operar la
      Plataforma de forma permanente, debiendo comunicar esta decisión a los
      Usuarios con una anticipación mínima de treinta (30) días calendario.
      Dicha decisión no generará responsabilidad alguna frente a los Hosts ni
      Drivers.
      <br />
      14.3. BLIP no garantiza el acceso continuo e ininterrumpido a la
      Plataforma, pudiendo esta estar fuera de servicio por razones técnicas,
      fallos en el servicio de internet, problemas en redes de
      telecomunicaciones, o por cualquier otra causa ajena al control de BLIP.
      En tal sentido, BLIP queda exonerada de toda responsabilidad por la
      interrupción de su funcionamiento.
      <br />
      14.4. BLIP no será responsable por daños y perjuicios derivados de virus
      informáticos, ataques cibernéticos, averías técnicas o cualquier otra
      causa externa que afecte el uso de la Plataforma.
    </div>
    <div class="description">
      <h4 class="tamano">
        DECIMO QUINTO: RESOLUCIÓN POR PARTE DEL HOST O EL DRIVER
      </h4>
      15.1. El Host y el Driver podrán resolver unilateralmente su relación con
      BLIP en cualquier momento, siempre que no mantengan obligaciones
      pendientes con otros Usuarios o con la Empresa
      <br />
      15.2. En caso existan obligaciones pendientes, la resolución podrá
      realizarse sin penalidad únicamente si se cumplen las condiciones
      previstas por BLIP en los anexos o políticas publicadas oficialmente. En
      los demás casos, los Usuarios deberán asumir las penalidades que
      correspondan conforme a lo establecido en la normativa interna de BLIP.
    </div>
    <div class="description">
      <h4 class="tamano">DECIMO SEXTO: COMUNICACIONES Y DOMICILIO</h4>
      • a. Blip App (Host o Driver):
      <br />
      <a style="color: black" href="mailto:soporte&#64;blip.pe">soporte&#64;blip.pe</a>

      <br />
      • b. Host: correo electrónico consignado en el registro de su cuenta.
      <br />
      • c. Driver: correo electrónico consignado en el registro de su cuenta.
      <br />
      16.2. Las comunicaciones que se dirijan por esta vía se entenderán
      recibidas por los Usuarios a la fecha de su entrega efectiva en el buzón
      de correo. En ese sentido, los Usuarios se responsabilizan por el correcto
      funcionamiento de su correo electrónico y no podrán trasladarle a BLIP la
      demora en la notificación por cuestiones que le son atribuibles al Host o
      Driver. Siendo ello así, los Usuarios se comprometen a enviar constancia
      de recepción al recibir toda clase de comunicación vinculada con la
      ejecución de las Condiciones de Uso dentro de las veinticuatro (24) horas
      de recibida.
      <br />
      16.3. Cabe precisar que, la efectividad de la notificación se da cuando se
      envía la comunicación a los Usuarios. La constancia remitida por los
      Usuarios solo se da para fines informativos.
      <br />
      16.4. En caso los Usuarios no reciban oportunamente una comunicación por
      cuestiones que escapan de la esfera de control de BLIP y/o no enviara
      constancia de recepción dentro del plazo previsto, ésta se entenderá por
      notificada desde el envío de la comunicación por parte de BLIP.
    </div>
    <div class="description">
      <h4 class="tamano">DECIMO SÉPTIMO: MODIFICACIÓN DE LOS TÉRMINOS</h4>
      BLIP se reserva el derecho de modificar los presentes Términos en
      cualquier momento, sin previo aviso. Las modificaciones se publicarán en
      la Plataforma y entrarán en vigencia de manera inmediata una vez
      publicadas. El uso continuo de la Plataforma por parte del Usuario después
      de la publicación de cualquier modificación constituirá la aceptación de
      dichos cambios.
    </div>
    <div class="description">
      <h4 class="tamano">DECIMO OCTAVA: DISPOSICIONES FINALES</h4>
      Si alguna de las disposiciones de estos Términos se considerara inválida o
      inaplicable por autoridad competente, dicha disposición será eliminada o
      limitada en la medida mínima necesaria, sin afectar la validez y
      aplicación de las disposiciones restantes.
      <br />
      Los presentes Términos constituyen el acuerdo completo entre el Usuario y
      BLIP respecto del uso de la Plataforma y sustituyen cualquier acuerdo
      previo, oral o escrito, relacionado con la materia aquí tratada.
    </div>
  </div>
</ion-content>
<ion-footer mode="ios">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            routerLink="/terminos-y-condiciones"
            id="atr-salir"
            class="btn-atr"
          >
            Atrás
          </button>
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
