<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">Términos y Condiciones para la comunidad</h1>
          <p class="description">Cuando se reporta una infracción por parte de un usuario, nuestro equipo toma medidas inmediatas para abordar la situación. </p>
          <p class="description">En cuanto a las infracciones, los Hosts recibirán una notificación detallando la naturaleza de la infracción y las consecuencias de su comportamiento. Esto sirve como una advertencia inicial y una oportunidad para corregir cualquier malentendido o error.</p>
          <p class="description">En el caso de infracciones leves, tales como: No estar disponible para recibir al usuario en el momento acordado, no mantener el espacio limpio y en condiciones adecuadas, no cumplir con las políticas de cancelación </p>
          <button routerLink="/terminos-y-condiciones" class="next-btn">Atrás</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
