ion-content {
  overflow: auto;
}
.container {
  padding: 10px 32px 10px 32px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  .title {
    color: #212121;
    font-family: "Poppins";
    font-size: 30px;
    font-style: normal;
    color: #212121;
  }
}

.subtitle {
  font-size: 15px;
  line-height: 23px;
  font-family: "Poppins", sans-serif;
  margin: 20px auto 60px;
  width: 100%;
  color: #212121;
  padding-right: 20px;
}

.input-bar {
  position: relative;
  padding: 15px 0;
  display: flex;
  border: 1px solid;
  height: 56px;
  border-radius: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  color: #212121;
}

.label-text {
  font-size: 12px;
  position: absolute;
  top: -10px;
  background-color: #ffffff;
  padding: 0 10px;
  left: 15px;
  font-family: "Poppins", sans-serif;
  color: #212121;
}

.input-bar {
  position: relative;
  padding: 15px 0;
  display: flex;
  border: 1px solid #212121;
  height: 56px;
  border-radius: 30px;

  margin-block: 40px;
  color: #212121;

  select,
  input[type="text"] {
    width: 100%;
    padding: 0 20px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/assets/images/vector-f.png");
    background-repeat: no-repeat;
    background-position: right 30px center;
  }
}
.sc-ion-input-ios-h:not(.legacy-input) {
  min-height: 0px;
  font-family: "Poppins", sans-serif;
  color: #212121;
  width: 90%;
}

.tex-pagina {
}

a.servicios {
  color: #212121;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

a.servicios:hover {
  font-weight: 600;
}

.more-info-btn {
  position: absolute;
  bottom: 50px;
  left: 50px;
  border: 1px solid #212121;
  background-color: #212121;
  color: #79ffaf;
  font-size: 16px;
  border-radius: 30px;
  width: 150px;
  height: 45px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.more-info-btn:hover {
  background-color: #363636;
}

.next-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
  border: 1px solid #79ffaf;
  background-color: #79ffaf;
  color: #212121;
  font-size: 16px;
  border-radius: 30px;
  width: 150px;
  height: 45px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.next-btn:hover {
  background-color: rgba(163, 163, 163, 0.2);
}

.sc-ion-input-ios-h {
  --highlight-color: black;
}

.bnt-dow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  .bac {
    border: 1px solid #212121;
    background-color: #ffffff;
    padding-inline: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 30px;
    font-size: 15px;
    width: 45%;
    font-weight: 600;
    color: #212121;
    font-family: "Poppins", sans-serif;
  }
  .nex {
    border-radius: 30px;
    border: 1px solid #212121;
    background-color: #212121;
    padding-inline: 10px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    width: 45%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
}

.custom-btn {
  margin-top: 30px;
  background-color: #ffffff;
  color: #212121;
  border: 1px solid #a3a2a4;
  /* Borde predeterminado gris */
  border-radius: 10px;
  width: 100%;
  height: 45px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: border-color 0.3s ease;
  /* Transici칩n suave del borde */
  position: relative;
}

/* Clase para cuando el bot칩n es seleccionado */
.custom-btn-selected {
  border-radius: 10px;
  border: 1px solid #212121;
}

/* Estilo del texto y la imagen dentro del bot칩n */
.custom-btn img {
  margin-right: 10px;
}

.btn-text {
  margin-left: 10px;
  font-size: 15px;
  font-family: "Poppins";
}

.btn-text-add {
  margin-left: 3px;
  font-size: 14px;
  font-family: "Poppins";
  color: #8e8e93;
}

/* Estilo del radio button */
.form-check-input[type="radio"] {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  /* Posiciona el radio button a la derecha */
  border: 1px solid #a3a2a4;
  background-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Estilo cuando el radio button est치 seleccionado */
.form-check-input:checked {
  background-color: #000000;
  /* Color de fondo del radio button seleccionado */
  border-color: #000000;
  /* Borde negro del radio button */
}
ion-footer {
  .bnt-dow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 32px 7px 32px;
    background-color: #ffffff;
  }
}
