<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <button routerLink="/tab-home/home" class="info-back"> Soporte <div class="signo-menor"></div> </button>
          <div class="contenido-inf">
            <h2 class="title">Servicios Rápidos</h2>
            <h3 class="parr2">Cuéntanos tus inconvenientes utilizando alguno de estos dos canales 
              de comunicación en nuestro servicio de Soporte para Host.</h3>
              <button class="botonchat"><img src="assets/images/chatea.png" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>

