<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">¿A quiénes te gustaría alquilar?</h1>
          <button class="custom-btn">
            <img src="/assets/images/car.png" alt="">
            <span class="btn-text">Carros  Particulares</span>
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </button>
          <button class="custom-btn">
            <img src="/assets/images/camioneta.png" alt=""> 
            <span class="btn-text">Camionetas</span>
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </button>
          <button class="custom-btn">
            <img src="/assets/images/bicicleta.png" alt="">
            <span class="btn-text">Bicicletas</span>
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </button>
          <button class="custom-btn">
            <img src="/assets/images/motorbike.png" alt=""> 
            <span class="btn-text">Motos</span>
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </button>
          
          <button routerLink="/configuracion-pago" class="more-info-btn">Atrás</button>
          <button routerLink="/img-esta" class="next-btn">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
