<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="titlex">Adjunta una foto de tu documento de identidad.</h1>
          <h2 class="text-adj">Mínimo tres fotos, pero si tienes más, ¡será genial! </h2>
          <label for="esta1" class="custom-button bl">
            <input type="file" class="form-control" id="esta1" accept="image/*" style="display: none;" (change)="park1($event)">
            <img src="assets/images/adj-est.png" alt="">
          </label> 
          <label for="esta2" class="custom-button bl">
            <input type="file" class="form-control" id="esta2" accept="image/*" style="display: none;" (change)="park2($event)">
            <img src="assets/images/adj-est.png" alt="">
          </label> 
          <label for="esta3" class="custom-button bl">
            <input type="file" class="form-control" id="esta3" accept="image/*" style="display: none;" (change)="park3($event)">
            <img src="assets/images/adj-est.png" alt="">
          </label>
          <button routerLink="/configuracion" class="more-info-btn">Atrás</button>
          <button [routerLink]="['/mostra-esta']" [queryParams]="{esTa1: esta1, esTa2: esta2,esTa3: esta3}"  class="next-btn">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>