<ion-header mode="ios">
  <ion-toolbar>
    <h2 slot="start" class="title">Ingresa tu correo
      electrónico</h2>
  </ion-toolbar>
</ion-header>
<ion-content class="login-content">
  <div class="login-content" >
     <div class="phone-input">
      <ion-input mode="ios" type="text" placeholder="name@example.com" [(ngModel)]="email" (ngModelChange)="onEmailChange()" class="input"></ion-input>
    </div>
  </div>
</ion-content>
<ion-footer [class.keyboard-open]="keyboardOpen" mode="ios">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col >
          <button class="btn-atr" routerLink="/login">Atrás</button>
        </ion-col>
        <ion-col >
          <button class="btn-sig" [disabled]="!isEmailValid" (click)="goToDisplayPage()" [ngClass]="{ 'enabled': isEmailValid, 'disabled': !isEmailValid }">Siguiente</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>


