<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">¿Cómo debo medir correctamente mi estacionamiento?</h1>
          <ul class="description-list">
            <li class="description">Forma correcta de medir la <span style="font-weight: 600;">altura</span> (en caso esté techado)</li>
          </ul>
          <img src="/assets/images/altura.png" alt="">
          <ul>
            <li class="description">Forma correcta de medir el <span style="font-weight: 600;">ancho y largo</span></li>       
          </ul>
          <img src="/assets/images/ancho.png" alt="">
          
          <button routerLink="/descripcion-de-medidas-del-espacio" class="more-info-btn">Atrás</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

