<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">¿Cómo debo medir correctamente mi estacionamiento?</h1>
          <div class="description-list">
            <h1 class="description">Forma correcta de medir la <span style="font-weight: 600;">altura</span> (en caso esté techado)</h1>
          </div>
          <img src="/assets/images/altura-black.png" alt="">
          <div>
            <h1 class="description">Forma correcta de medir el <span style="font-weight: 600;">ancho y largo</span></h1>       
          </div>
          <img src="/assets/images/ancho-black.png" alt="">
        </div>
      </div>
    </div>
    <footer class="footer-btn">
      <div class="bnt-dow">
        <button class="bac" (click)="getValues()">Atrás</button>
      </div>
    </footer>
  </div>
</ion-content>

