<ion-header mode="ios">
  <ion-toolbar>
    <a class="regresar" href="#">
      <div class="left-arrow">
        <img
          src="/assets/images/left-arrow.svg"
          alt=""
          routerLink="/tab-home/home"
        />
      </div>
      <h1 class="title">Finanzas</h1>
    </a>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
  <div class="pantalla">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <button
            (click)="changeContent('Ingresos')"
            [ngClass]="{'active': isButtonActive('Ingresos')}"
          >
            Ingresos
          </button>
        </div>

        <div class="swiper-slide">
          <button
            (click)="changeContent('Pagos')"
            [ngClass]="{'active': isButtonActive('Pagos')}"
          >
            Pagos
          </button>
        </div>

        <div class="swiper-slide">
          <button
            (click)="changeContent('Transacciones')"
            [ngClass]="{'active': isButtonActive('Transacciones')}"
          >
            Transacciones
          </button>
        </div>

        <!-- <div class="swiper-slide">
          <button
            (click)="changeContent('Historial de Pago')"
            [ngClass]="{'active': isButtonActive('Historial de Pago')}"
          >
            Historial de Pago
          </button>
        </div> -->
      </div>
    </div>
    <div class="scroll-container">
      <!--                 -----Ingresos-----              -->
      <div *ngIf="selectedContent === 'Ingresos'">
        <!-- <div class="anuncio" *ngFor="let card_pago of arr_payment">
          <div>
            <h2>Anuncio {{ card_pago.id }}</h2>
            <p>{{ card_pago.nombre }}</p>
          </div>
          <div class="anuncio-ingreso">
            <div class="cont-anun">
              <h3>Ingreso del día</h3>
              <p>{{ fecha_format_hoy }}</p>
            </div>
            <div>
              <span>S/. {{ card_pago.total }}</span>
            </div>
          </div>
        </div> -->
        <div class="myIngresContainer">
          <h3>Mis Ingresos</h3>
          <div class="myIngresContent">
            <img
              src="/assets/images/fi-sr-exclamation.svg"
              alt=""
              class="icon-info-excla"
            />
            <h2>
              El monto mínimo para solicitar un retiro es de S/50. Se aplicará
              una tarifa de servicio del 10% por cada retiro efectuado.
            </h2>
          </div>
        </div>

        <div class="ingreso-final">
          <div>
            <h1>S/. {{ total_final }}</h1>
            <h3>Balance Actual</h3>

            <h4 *ngIf="total_final >= 50">
              Después de comisión (10%): S/. {{ (total_final * 0.9) | number :
              '1.2-2' }}
            </h4>

            <div class="deposito-pago">
              <h2>
                Para optimizar tus retiros y reducir costos por tarifas de
                servicio, te sugerimos realizar 1 o 2 retiros al mes en lugar de
                retiros frecuentes de montos pequeños.
              </h2>
            </div>
            <div class="continue">
              <button
                class="btn-sig"
                (click)="reqPayment()"
                [disabled]="total_final < 50"
              >
                Solicitar Retiro
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--                 -----Pagos-----              -->
      <div *ngIf="selectedContent === 'Pagos'">
        <div>
          <div class="myIngresContainer">
            <h1 class="pagos-title">Configura tus pagos</h1>
            <div class="myIngresContent">
              <img
                src="/assets/images/fi-sr-exclamation.svg"
                alt=""
                class="icon-info-excla"
              />
              <h2>
                Tu saldo será depositado en un plazo no mayor a 7 días hábiles
                después de solicitar el retiro en la sección de Ingresos.
              </h2>
            </div>
          </div>
          <div class="continue">
            <!-- <img
              src="/assets/images/fi-sr-plus.svg"
              alt=""
              class="icon-add"
            /> -->
            <button
              class="btn-sig"
              (click)="isToggleModalOpen = true"
              [disabled]="savedPaymentMethodo"
            >
              Agregar método de pago
            </button>
          </div>
          <div *ngIf="savedPaymentMethodo" class="tarjeta-pago">
            <div class="informacion-tarjeta">
              <img
                src="/assets/images/tash-blac.svg"
                alt=""
                class="icon-tarjeta"
                (click)="deletePaymentMethod()"
              />

              <h1>{{ savedPaymentMethodo.cba_titular }}</h1>
              <h2>{{ savedPaymentMethodo.banco_nombre }}</h2>
              <p>{{ savedPaymentMethodo.cba_numcuent }}</p>
            </div>
          </div>

          <ion-modal
            mode="ios"
            [isOpen]="isToggleModalOpen"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
            (ionBackdropTap)="dismissToggleModal(true)"
          >
            <ng-template>
              <div class="modal-container">
                <div class="modal-header">
                  <!-- <ion-icon
                    name="close-outline"
                    (click)="dismissToggleModal()"
                  ></ion-icon> -->
                  <img
                    src="/assets/images/cross.png"
                    alt=""
                    class="icon-close"
                    (click)="dismissToggleModal()"
                  />
                </div>

                <h2 class="modal-title">Datos de Depósito</h2>

                <div class="form-regla">
                  <input
                    type="text"
                    class="input-pago"
                    placeholder="Nombre del Titular"
                    [(ngModel)]="nom_ape"
                  />
                </div>
                <p class="modal-subtitle">
                  *Debe coincidir con el nombre registrado en el banco
                </p>
                <hr />
                <div class="form-regla">
                  <select
                    class="input-pago banco-destino"
                    name="banco"
                    id="banco"
                    [(ngModel)]="banco"
                  >
                    <option value="" disabled selected>Banco de Destino</option>
                    <option *ngFor="let b of banks" [value]="b.mep_id">
                      {{ b.mep_descri }}
                    </option>
                  </select>
                </div>

                <div class="form-regla">
                  <select
                    class="input-pago banco-destino"
                    [(ngModel)]="tipoCuenta"
                  >
                    <option value="" disabled selected>Tipo de Cuenta</option>
                    <option value="ahorro">Ahorro</option>
                    <option value="corriente">Corriente</option>
                  </select>
                </div>

                <div class="form-regla">
                  <input
                    [(ngModel)]="cta"
                    type="text"
                    class="input-pago"
                    placeholder="Número de Cuenta"
                  />
                </div>

                <div class="form-regla">
                  <input
                    [(ngModel)]="cci"
                    type="text"
                    class="input-pago"
                    placeholder="Código Interbancario (CCI)"
                  />
                </div>

                <div class="continue">
                  <button
                    class="btn-sig"
                    [disabled]="!nom_ape || !cta || !cci || !banco || !tipoCuenta"
                    (click)="save_method()"
                  >
                    Guardar Datos de Pago
                  </button>
                </div>
              </div>
            </ng-template>
          </ion-modal>
        </div>
      </div>

      <!--                 -----Transacciones-----              -->
      <div *ngIf="selectedContent === 'Transacciones'">
        <div class="alquiler-title">
          <h1 class="historial-title">Histórico de Transacciones</h1>
        </div>
        <div *ngFor="let reserva of data_reserve" class="alquiler-padre">
          <div class="alquiler">
            <div class="alquiler-img">
              <img src="/assets/images/fi-sr-money.svg" alt="" />
            </div>
            <div class="alquiler-container">
              <div class="container-text">
                <p class="alquiler-text">string title no found back</p>
                <div class="container-date-alquiler">
                  <div
                    *ngFor="let reserva of data_reserve"
                    class="container-rst-descrip"
                  >
                    <span
                      *ngIf="reserva.rst_id === 1"
                      class="dot_orange"
                    ></span>
                    <span *ngIf="reserva.rst_id === 2" class="dot"></span>
                    <span *ngIf="reserva.rst_id === 3" class="dot_red"></span>
                    <span *ngIf="reserva.rst_id === 4" class="dot_blue"></span>
                    <span *ngIf="reserva.rst_id === 5" class="dot"></span>
                  </div>
                  <p class="alquiler-text">{{ reserva.rst_descri }}</p>
                </div>
                <div class="container-date-alquiler">
                  <img
                    src="/assets/images/finanzas-fi-sr-calendar.svg"
                    alt=""
                  />
                  <p class="alquiler-text-second">
                    {{ reserva.res_fecini | date: 'dd \'de\' MMMM' : 'es' }}
                  </p>
                </div>
              </div>
              <div class="text-price">
                <div class="container-date-alquiler">
                  <img src="/assets/images/finanzas-fi-sr-money.svg" alt="" />
                  <p class="alquiler-text-second">
                    S/. {{ reserva.pag_monto_total }}.00
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--                 -----Historial de Pago-----              -->
      <!-- <div *ngIf="selectedContent === 'Historial de Pago'">
        <div>
          <h1 class="historial-title">
            Revisa tu histórico de pagos efectuados
          </h1>

          <div *ngFor="let pago of data_deposit">
            <div class="historial">
              <div class="icon-historial">
                <img
                  src="/assets/images/tarj-blac.svg"
                  alt=""
                  class="icon-car"
                />
              </div>

              <div class="info-historial">
                <h3 class="date">
                  {{ pago.pre_fecsol | date: 'dd \'de\' MMMM' : 'es' }}
                </h3>
                <p class="description">Solicitud de retiro de balance</p>
                <h4
                  class="time"
                  *ngIf="pago.pre_estado == 1"
                  style="color: red"
                >
                  En espera
                </h4>
                <h4
                  class="time"
                  *ngIf="pago.pre_estado == 2"
                  style="color: green"
                >
                  Transferencia realizada
                </h4>
              </div>

              <div class="historial-monto">
                <span class="amount">S/. {{ pago.pre_monto }}</span>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div> -->
    </div>
  </div>
</ion-content>
