/* Estilos para el header */
h1,
h1,
h3 {
  margin: 0px;
}
ion-header {
  --background: #fff !important; /* Fuerza el color blanco como fondo usando !important */
  background-color: #fff !important; /* Aplica directamente el color blanco */
}
ion-header {
  --background: #fff !important; /* Fuerza el color blanco como fondo usando !important */
  background-color: #fff !important; /* Aplica directamente el color blanco */
}

ion-toolbar {
  --background: #fff !important; /* Fuerza el color blanco como fondo usando !important */
  background-color: #fff !important; /* Aplica directamente el color blanco */
}
ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 22px;
  margin-block: 10px;
  height: 56px; /* Altura consistente para el header */
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0px;
}

.regresar {
  display: flex;
  text-decoration: none;
}

.title {
  color: #212121;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}
.pantalla {
  background-color: #ffffff;
  padding-inline: 22px;
  width: 100%;
  min-height: 100%; /* Esto hace que el div ocupe el 100% de la altura de la pantalla */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #212121;
}
.inicio {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal (horizontal) */
  margin-bottom: 20px;
  height: 37px;
}

.left-arrow {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.grid-small-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.small-button {
  box-shadow: 0px 0px 10px rgba(112, 112, 112, 0.2);
  border-radius: 10px;
  margin-right: 0px;
  width: 37px;
  height: 37px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.swiper-container {
  width: auto;
}

.swiper-slide {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;

  width: fit-content !important;
}

.swiper-wrapper button {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 13px 20px;
  background-color: #ffffff;
  color: #5f5d5d;
  border: 1px solid #5f5d5d;
  border-radius: 30px;
}

.swiper-wrapper button.active {
  color: #ffffff;
  background-color: #212121;
  border: 1px solid #212121;
}

.scroll-container {
  height: 80vh; /* O puedes ajustar el tamaño que necesites */
  overflow-y: auto; /* Habilita el scroll vertical */
  padding: 10px; /* Opcional, para darle algo de espacio alrededor */
}
//---------------------ANUNCIO-------------------------------

.anuncio {
  margin-bottom: 30px;
}

.anuncio h2 {
  color: #808080;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.anuncio p {
  color: #212121;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  text-decoration-line: underline;
  text-decoration: underline;
  padding-block: 10px;
}
p {
  margin: 0px;
}
.anuncio-ingreso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 20px 0px #66666633;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  width: 100%;
  height: 71px;
}
.myIngresContent {
  display: flex;
  gap: 12px;
  padding-block: 32px 0px;
  align-items: flex-start;
}
.icon-info-excla {
  padding-top: 6px;
}
.myIngresContainer h3 {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.myIngresContainer h2 {
  color: #212121;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1%;
  margin: 0px;
}
.anuncio-ingreso h3 {
  color: #212121;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 81.25% */
  padding-bottom: 5px;
  padding-top: 10px;
}
.cont-anun {
  width: 70%;
}
.anuncio-ingreso p {
  color: #575757;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 92.857% */
  text-decoration: none;
}

.anuncio-ingreso span {
  color: #212121;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
}

.ingreso-final {
  width: 100%;
  padding: 20px;
  background: var(--light-mode-blip-theme-background-color, #ffffff);
  border-radius: 8px;
  border: 1px solid var(--Gray-Scale-Global-Tokens-gray-200, #e5e5ea);
  box-shadow: 0px 2px 6px 2px #00000026;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-top: 30px;
}

.ingreso-final h3 {
  color: #212121;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 81.25% */
  padding-bottom: 20px;
}

.ingreso-final p {
  color: #212121;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.ingreso-final p span {
  font-size: 10px;
  font-weight: 600;
  color: #6d6d6d;
  text-decoration: underline;
}

.ingreso-final h1 {
  color: #212121;
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1%;
  padding-block: 0px 20px;
}

.deposito-pago {
  border-radius: 15px;

  display: block;
}
.deposito-pago h2 {
  color: #575757;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  margin: 0px;
}

.icon-info {
  flex-shrink: 0; /* Evita que el icono se reduzca */
}

.icon-info img {
  width: 1rem;
  height: 1rem;
}

.deposito-pago p {
  font-size: 12px;
  font-weight: 400;
  color: #212121;
  margin: 0;
  margin-left: 10px; /* Agregado para dar espacio entre el icono y el texto */
}

hr {
  border-top: 1px solid #cdcdcd;
}

// ----------------HISTORIAL DE ALQUILER------------------------------

.alquiler-padre {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.alquiler {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.alquiler-img {
  background-color: #c7c7cc;
  border-radius: 15px;
  padding: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alquiler-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.alquiler-text {
  font-weight: 500;
  font-size: 15px;
}
.alquiler-text-second {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1%;
}
.container-date-alquiler {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.dot_blue {
  width: 8px;
  height: 8px;
  display: flex;
  border-radius: var(--loader, 100px);
  background: var(--Colors-Green, blue);
}

 .dot {
  width: 8px;
  height: 8px;
   display: flex;
  border-radius: var(--loader, 100px);
  background: var(--Colors-Green, #34C759);
  display: inline-block;
}
.dot_red {
  width: 8px;
  height: 8px;
   display: flex;
  border-radius: var(--loader, 100px);
  background: var(--Colors-Green, red);
}
.dot_orange {
  width: 8px;
  height: 8px;
   display: flex;
  border-radius: var(--loader, 100px);
  background: var(--Colors-Green, orange);
}
// --------------------PAGOS------------------------------

.pagos-title {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.informacion-pagos {
  background-color: #79ffaf;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px 0px #66666633;
  margin-top: 20px;
  margin-bottom: 20px;
}

.informacion-pagos p {
  font-size: 12px;
  font-weight: 300;
}
.tarjeta-pago {
  background: var(--light-mode-blip-theme-background-color, #ffffff);
  border-radius: 8px;
  border: 1px solid var(--Gray-Scale-Global-Tokens-gray-200, #e5e5ea);
  margin-top: 32px;
  box-shadow: 0px 2px 6px 2px #00000026;
  padding: 24px;
}
.informacion-tarjeta {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 8px;
}
.informacion-tarjeta h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1%;
}
.informacion-tarjeta h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1%;
}
.informacion-tarjeta p {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1%;
}
.icon-tarjeta {
  width: 28px;
  height: 28px;
}
.informacion-pagos p span {
  font-weight: 500;
}

ion-item::part(native) {
  background: #ffff;
  color: #212121;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

ion-toggle {
  --track-background: #ddd;
  --track-background-checked: #212121;

  --handle-background: #ffff;
  --handle-background-checked: #ffff;

  --handle-width: 25px;
  --handle-height: 25px;
  --handle-max-height: auto;
  --handle-spacing: 5px;

  --handle-border-radius: 50%;
  --handle-box-shadow: none;
}

ion-toggle::part(track) {
  height: 29px;
  width: 53px;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}

.num-regla {
  position: absolute;
  font-size: 12px;
  color: 49454F;
  background-color: #ffffff;
  transform: translateY(-10px) translateX(15px);
  padding-left: 5px;
  padding-right: 5px;
}

.form-regla {
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}
.input-pago {
  height: auto;
  width: 100%;
  padding: 15px 22px;
  border-color: #212121;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.input-pago2 {
  appearance: none; /* Oculta la flecha predeterminada */
  -webkit-appearance: none; /* Para navegadores WebKit */
  -moz-appearance: none; /* Para navegadores Firefox */
  background-image: url("/assets/images/flec-pago.svg"); /* Ruta a tu flecha */
  background-repeat: no-repeat;
  background-position: right 20px center; /* Posiciona la flecha */
  height: auto;
  width: 100%;
  padding: 15px 22px;
  border-color: #212121;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

// ------------------------HISTORIAL DE PAGO------------------------------

.historial-title {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.historial-subtitle {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #49454f;
}

.historial {
  display: flex;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  justify-content: space-between;
  margin-bottom: 2rem;
}

.icon-historial {
  margin-right: 10px; /* Espacio entre el icono y la información */
}

.icon-historial img {
  width: 1rem;
  height: 1rem;
}

.info-historial {
  flex-grow: 1; /* Permite que este contenedor ocupe todo el espacio disponible */
}

.info-historial h3 {
  margin: 0; /* Elimina el margen superior e inferior de h3 */
  font-size: 12px;
  font-weight: 500;
}

.info-historial h4 {
  margin: 0; /* Elimina el margen superior e inferior de h4 */
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
}

.info-historial p {
  margin: 0; /* Elimina el margen superior e inferior de p */
  font-size: 12px;
  font-weight: 300;
}

.info-historial p span {
  text-decoration: underline;
  font-weight: 400;
}

.historial-monto {
  margin-left: auto; /* Empuja este contenedor hacia la derecha */
}

.historial-monto span {
  font-size: 16px;
  font-weight: 500;
}
.modal-container {
  padding: 21px;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: left;
  padding-block: 0px 24px;
}
.modal-header img {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.modal-title {
  font-weight: 600;
  font-size: 29px;
  line-height: 30px;
  letter-spacing: 0px;
  vertical-align: middle;
  text-align: left;
}

.modal-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #212121;
}

.form-regla {
  margin-bottom: 15px;
}

.input-pago {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e6e6eb;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  background-color: #fff;
}
.input-pago:focus,
.input-pago:not(:placeholder-shown),
.input-pago:valid,
.input-pago.ng-dirty,
.input-pago.ng-touched {
  color: #000; /* texto negro cuando tiene valor o está activo */
}
select.input-pago:focus,
select.input-pago:valid,
select.input-pago.ng-dirty,
select.input-pago.ng-touched {
  color: #000;
}
.banco-destino {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff
    url('data:image/svg+xml;utf8,<svg fill="black" height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right 10px center;
  background-size: 16px;
  padding-right: 30px;
}
.btn-sig:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-sig {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
}
.continue button:disabled {
  background-color: #c7c7cc;
  color: #ffffff;
  border: none;
}

.continue {
  width: 100%;
  margin-top: 20px;

  button {
    width: 100%;
    display: block;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1%;
    text-align: center;
    padding: 12px 52px;
    border-radius: 30px;
    background-color: #212121;
    color: #fff;
    border: 1px solid #212121;
  }
}
