ion-content{
  --background:#E8FFEC;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.superior{
  position: relative;
  height: 50%;
  background-repeat: repeat-x;
  width: 100%;
}
.title {
  font-size: 30px;
  line-height: 42px;
  font-family: "Poppins", sans-serif;
  margin: 70px auto 40px;
  display: block;
  width: 80%;
}

.box{
width: 80%;
height: 56px;
background-color: white;
border-radius: 30px;
display: flex;
align-items: center;
padding: 20px;
margin: 20px auto;
border: 1px solid #212121;
}

.box > i {
font-size: 20px;
color: #8C8B8E;
}

.box > input{
flex: 1;
height: 40px;
border: none;
outline: none;
font-size: 16px;
padding-left: 10px;
  font-family: "Poppins", sans-serif;
}

.more-info-btn {
  position: absolute;
  bottom: 50px;
  left: 50px;
  border: 1px solid #212121; 
  background-color: #212121; 
  //color: #79FFAF;
  font-size: 16px;
  border-radius: 30px;
  width: 150px;
  height: 45px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.more-info-btn:hover {
    background-color: #363636; 
}

.custom-btn {
  margin: 30px auto; 
  background-color: #212121;
  color: #212121;
  font-size: 16px;
  border: 1px solid #212121;
  border-radius: 30px;
  width: 80%;
  height: 56px;
  padding: 10px 20px; 
  display: block; 
  align-items: center; 
}

.btn-text {
  color: var(--Schemes-On-Primary, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 28.8px */
}

.navbar-collapse {
  background-color: #FFFFFF;
  z-index: 9;
  border-radius: 30px 30px 0 0;
  width: 100% !important;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: block;
}

.navbar-nav {
  margin: 20px 0px;
}

.menu-above {
  text-align: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #524F4F;
  margin-block: 15px;
}

.separator-line {
  border-top: 2px solid #D4D4D4;
  width: 100%;
  margin: 10px auto;
}
.overlay-x {
  position: absolute;
  top: 5%;  /* Ajusta según sea necesario */
  left: 5%;  /* Ajusta según sea necesario */
  z-index: 10;  /* Más alto que el mapa */
}
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 11; /* Asegurarse que el botón esté encima del mapa */
}
.close-button img {
  width: 20px; /* Ajustar el tamaño del icono */
  height: 20px;
}

#map { 
  background-color: #FFFFFF !important;
  height: 62%; // O ajusta la altura según tus necesidades
  width: 100%;
  margin-top: 5%;
  position: relative;
  z-index: 1;  /* Más bajo que el botón */
}
