.boton {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.boton-salir {
  background-color: #ff6666;
  color: white; /* Cambia el color del texto a blanco */
}

.boton-siguiente {
  background-color: #66ccff;
  color: white; /* Cambia el color del texto a blanco */
}

.primary-text-color {
  color: #2c8349; /* Cambia el color del texto a rojo */
}


/* Clase para cambiar el fondo de la alerta */
.primary-alert-background {
  --ion-color-primary: #66ccff; /* Cambia el color de fondo a azul */
}

/* Clase para cambiar el color del texto del botón */
.primary-alert-button .button-inner {
  color: #ffffff; /* Cambia el color del texto del botón a blanco */
}
