<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">Mapa</h1>
          <!-- Contenido del mapa aquí -->
        </div>
      </div>
    </div>
  </div>

  <!-- Botones Salir y Siguiente -->
  <div class="botones">
    <button class="boton boton-salir" id="boton-salir" routerLink="/descripcion-de-ubicacion" (click)="mostrarAlerta('Salir')">Salir</button>
    <button class="boton boton-siguiente" id="boton-siguiente" routerLink="/loading" (click)="mostrarAlerta('Siguiente')">Siguiente</button>
  </div>
</ion-content>
