<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">    <!--Parte blanca ini -->
          <div class="inicio">
            <div class="nav-arrow-btn">
              <img src="/assets/images/sitios-guardados/nav-arrow-btn.png" alt="" routerLink="/configuracion">
            </div>
            <h1 class="title">Ubicación</h1>   
          </div>

          <ion-item  class="ma" lines="none">
            <ion-toggle justify="space-between">Mostrar tu ubicación<br>exacta</ion-toggle>
          </ion-item>
    
    
          <p>Indica de manera exacta tu ubicación. Facilitaremos tu ubicación cuando su reservación esté confirmada para optimizar tu experiencia.</p>














        </div>
      </div>
    </div>