<ion-header mode="ios">
  <app-toolbar-login>
    Ingresa tu número para continuar
  </app-toolbar-login>
</ion-header>
<ion-content class="login-content">
  <div class="login-content">
    <app-phone-input [(phoneNumber)]="phone2"></app-phone-input>
    <default-custom-button (clicked)="send_otk()" [text]="'Continuar'">
    </default-custom-button>
    <div class="divider">
      <img style="width: 100%;" src="/assets/images/login/divider.png" alt="">
    </div>
    <default-custom-button routerLink="/ing-cor" [withImg]="true" [imageUrl]="'/assets/images/login/email.png'"
      [text]="'Continuar con correo'" [class]="'secondary-button'"></default-custom-button>
    <p class="footer-text">
      ¿No tienes una cuenta aún? <a href="#" routerLink="/terminos-y-condiciones" class="register-link">Regístrate</a>
    </p>
  </div>
</ion-content>
<app-loader *ngIf="isLoading"></app-loader> <!-- Mostrar el loader si isLoading es true -->
