ion-header {
  margin: 0px;
}

ion-content {
  padding-inline: 32px;
  --background: #ffffff;
  --overflow: hidden;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;

  .divider {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 25px 0;
    width: 100%;

  }

  .footer-text {
    color: #212121;
    text-align: center;
    margin-top: 100px;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.15px;


    .register-link {
      color: #212121;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.15px;
      text-decoration-line: underline;
    }
  }
}
