ion-content{
    --background: #FFFFFF;

    .wrapper{
        height: 100vh;
        padding: 50px;

        .login{
            h3{
                padding-top: 50px;
                margin: 0px;
                margin-bottom: 30px;
                font-family: 'Poppins Medium', sans-serif;
                font-size: 31px;
            }
            .prub{
                display: flex;
            }
            .phone-selection{
                display: flex;
                justify-content: space-between;
                align-items: center;

                border-radius: 40px;
                border: 1px solid rgba(121, 116, 126, 1);

                .country-select{
                    position: relative;
                    display: inline-block;

                    padding: 13px 25px;
                    border-radius: 37px;
                    background-color: rgba(100, 212, 145, 0.4);
                    border: 1px solid rgba(100, 212, 145, 0.4);

                    .flag{
                        width: 30px;
                    }
                }

                .phone-input{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 70%;


                    input{
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400; /* Regular */
                        font-size: 20px;    
                        border: unset;
                        background-color: transparent;

                        text-align: center;
                        width: 90%;
                        letter-spacing: 1px;
                    }
                }
            }

            .continue{
                width: 100%;
                margin-top: 20px;  
                margin-bottom: 20px;              
                
                button{
                    width: 100%;
                    display: block;
                    text-align: center;
                    font-family: 'Poppins SemiBold', sans-serif;
                    font-size: 16px;
                    padding: 20px 40px;
                    border-radius: 30px;
                    background-color: #212121;
                    color: #FFF;
                    border: 1px solid #212121;
                }
            }
        }

        .separator{
            margin: 20px auto ;
            img{
                width: 100%;
            }
        }

        .social-signin {
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                
                a {
                    display: flex;
                    justify-content: center; /* Centra horizontalmente la imagen y el texto */
                    align-items: center; /* Alinea verticalmente */
                    width: 100%;
                    padding: 18px 40px;
                    border-radius: 30px;
                    background-color: #FFF;
                    color: #212121;
                    border: 1px solid #E0E0E9;
                    margin-bottom: 20px;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */

                    span {
                        font-family: 'Poppins Medium', sans-serif;
                        font-size: 14px;
                        text-align: center; /* Asegura que el texto esté centrado en su contenedor */
                        width: 100%; /* Asegura que ocupe todo el ancho disponible */
                    }
                }
            }
            
        }
        

        .signup{
            margin: 30px 0px;

            p{
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-weight: 400; /* Regular */
                font-size: 13px;

                a{
                    color: #212121;
                }
            }
        }

        .terms-and-conditions{
            p{
                text-align: justify;
                font-family: 'Poppins Medium', sans-serif;
                font-size: 10px;

                a{
                    color: #212121;
                }
            }
        }
    }
}