.container {
    background-color: #79ffaf;
    height: 100%;
    padding-top: 30px;
}

* {
    color: #212121;
}

.row{
    background-color: white;
    border-radius: 30px 30px 0 0;
    height: 100%;
}

.content {
    width: 90%;
    margin: 20px auto;
    display: block;
}

.centro {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.vector-mensaje {
    display: flex;
    background-color: transparent;
    margin-right: 20px;
}

.text-b {
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #212121;
}

/* Boton */

.botones {
    margin-block: 20px;
}

.boton-todas,
.boton-programados,
.boton-historial {
  background-color: #FFFFFF; 
  color: #5F5D5D; 
  border: 1px solid #5F5D5D; 
  border-radius: 30px; 
  padding: 12px 28px; 
  font-size: 12px; 
  font-weight: 600; 
  font-family: "Poppins", sans-serif;
}

.boton-programados {
    margin: 0px 10px 0px 10px;
}

.boton-todas:hover,
.boton-programados:hover,
.boton-historial:hover,
.boton-todas:active,
.boton-programados:active,
.boton-historial:active {
  background-color: #212121; 
  color: #FFFFFF; 
  border-color: #212121; 
}

.boton-todas.activo {
  background-color: #212121; 
  color: #FFFFFF; 
}

/* IMG */

.imagen {
  text-align: center; /* Centra la imagen horizontalmente */
  margin-top: 200px;
}

.imagen img {
  display: block; /* Para centrar la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.texto {
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

.NT33 {
    font-size: 16px;
    color: #A6A2A8;
}
