<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="centro">
            <button class="vector-mensaje">
              <img src="/assets/images/vector-2.png" alt="Logo" class="navbar-logo" routerLink="/notificaciones">
            </button>
            <div class="text-b">Notificaciones</div>
          </div>
          <div class="botones">
            <button (click)="mostrarTexto('Texto del botón 1')" [class.activo]="textoMostrado === 'Texto del botón 1'" class="boton-todas activo">Todas</button>
            <button (click)="mostrarTexto('Texto del botón 2')" [class.activo]="textoMostrado === 'Texto del botón 2'" class="boton-programados">Mi Actividad</button>
          </div>
          <div class="texto-mostrado">
            <!-- Contenido de notificaciones-not para el botón 1 -->
            <div *ngIf="textoMostrado === 'Texto del botón 1'">
              <div class="imagen">
                <img src="/assets/images/env.png" alt="Imagen">
              </div>
              <div class="texto">
                <p class="NT33">No hay notificaciones <br> disponibles</p>
              </div>
            </div>
            
            <!-- Contenido de notificaciones-not para el botón 2 -->
            <div *ngIf="textoMostrado === 'Texto del botón 2'">
              <div class="imagen">
                <img src="/assets/images/env.png" alt="Imagen 2">
              </div>
              <div class="texto">
                <p class="NT33">No hay actividad <br> registrada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
