<header-component [withArrowLeft]="true" [route]="'/tab-home'"
  (navigateTo)="handleNavigateTo($event)"></header-component>
<ion-content>
  <div class="container">
    <img src="/assets/images/img38.png" alt="">
    <h2 class="subtitle">Paso 2</h2>
    <h1 class="title">Personaliza tus preferencias</h1>
    <p class="description">Personaliza tus preferencias con
      respecto a los posibles arrendatarios.
      Luego, personaliza y configura tu anuncio.</p>
    <!-- <footer class="footer-btn">
      <div class="bnt-dow">
        <button class="bac" (click)="return()">Atrás</button>
        <button   (click)="getValues()" class="nex" >Siguiente</button>
      </div>
    </footer> -->
  </div>
</ion-content>
<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <default-custom-button [text]="'Continuar'" (click)="navigate()"></default-custom-button>
  </div>
</ion-footer>
