.container{
  background-color: #79FFAF; 
  display: flex;
  justify-content: center;

  height: 100%;
}
.content{
  border: 1px solid #ccc;
  border-radius: 30px 30px 0 0;
  width: 432px;
  margin-top: 50px;
  height: 882px;
  display: block;
  background-color: #FFFFFF;
  padding: 20px;

}
.title {
font-size: 18px;
font-family: "Poppins", sans-serif;
color: #212121;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
}

.inicio {
margin-top: 10px;
display: flex;
align-items: center; 
margin-bottom: 64px;
}

.left-arrow {
margin-right: 20px; 
margin-left: 19px;
}
.pg{
font-size: 12px;
margin:0;
}


.cont-pre{
background-color: transparent;
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 0px;
padding-left: 20px;
margin-top: 23px;
}
.preg{
display: flex;
justify-content: center;
align-items: center;
margin: 0;
}
.block{
  width: 100%;
  height: 301px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
ion-modal {
  --height: auto;
}
.title-mo{
  text-align: center;
  font-family: "Poppins", sans-serif; 
  font-size: 18px;
  color: #524F4F;

}
.line{
  border-bottom: solid 1px #D4D4D4;
}
.parraf{
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.8);/* Color con 80% de opacidad */
}
.input-bar {
  position: relative;
  padding: 15px 0; 
  display: flex;
  border: 1px solid #212121;
  height: 56px;
  border-radius: 30px;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 40px auto;
}
.input-bar2{
  position: relative;
  padding: 15px 0; 
  display: flex;
  border: 1px solid #212121;
  height: 56px;
  border-radius: 30px;
  width: 90%;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 49px auto;
}
.label-text {
  font-size: 12px;
  position: absolute;
  top: -10px; 
  background-color: #FFFFFF; 
  padding: 0 10px; 
  z-index: 1;
  left: 15px;
  font-family: "Poppins", sans-serif;
  color: #212121;
}

.ld{
  margin-left: 10px;
  bottom: 8px;
}
.editar{
display: flex;
align-items: center;
justify-content: center;
margin: 0;
font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 211.111% */
  letter-spacing: 0.18px;
  text-decoration-line: underline;
  color: #212121;
}
.model{
background-color: transparent;
}
.iden{
  color: #212121;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 200% */
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding-inline: 15px;
  margin-top: 23px;
}

/* Estilo personalizado para el checkbox */
ion-checkbox {
  --size: 15px;
  --checkbox-background-checked: #6D6D6D;
  color: #6D6D6D;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 23px; /* 191.667% */
}

ion-checkbox::part(container) {
  border-radius: 3px;
  border: 2px solid #6D6D6D;
}

/* Aumentar el grosor y tamaño del marcador de verificación */
ion-checkbox::part(indeterminate) {
  transform: scale(1.5); /* Aumenta el tamaño del marcador de verificación */
  border-width: 1px; /* Ajusta el grosor del borde del marcador de verificación */
}
.doc{
  background-color: transparent;
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 0px;
padding-left: 20px;
margin-top: 10px;
}
.textos{
  display: flex;
justify-content: center;
align-items: center;
margin: 0;
}
.cont{
  background-color: #79FFAF; 
  display: flex;
  justify-content: center;

  height: 100%;
}
.subcont{
  background-color: white;
  padding-top: 5%;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 50px;
  width: 100%;
  height: 882px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.t1-0{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
font-family: Poppins;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 126.316% */
letter-spacing: 0.048px;
padding-left: 20px;
padding-right: 20px;
}
.p01{
color: #212121;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 18px; /* 150% */
letter-spacing: 0.03px;
margin-top: 22px;
padding-inline: 20px;
}
.btn {
  position: relative;
  padding: 15px 0; 
  display: flex;
  border: 1px solid #212121;
  background-color: #212121;
  height: 56px;
  border-radius: 30px;
  width: 90%;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 49px auto;
  
}

.GuarCam {
  color: #fff;
  background: transparent;
  color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 180%; /* 28.8px */
}

.btn2 {
  position: relative;
  padding: 15px 0; 
  border: 1px solid #212121;
  height: 56px;
  border-radius: 30px;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 49px auto; /* Centra vertical y horizontalmente */
  text-align: center; /* Centra el texto horizontalmente */
}

.GuarCam2 {
  color: #565656;
  background: transparent;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 180%; /* 28.8px */
}


