<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="titlex">Estas son las imágenes elegidas.</h1>
            <div class="cuadro shadow">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img [src]="esta1" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img [src]="esta2" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img [src]="esta3" alt="">
                  </div>
                </div>
              </div>
            </div>
          <div class="swiper-pagination"></div>
          <button routerLink="/img-esta" class="back-btn">Atrás</button> 
          <button  class="next-btn">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
