<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">    <!--Parte blanca ini -->
          <div class="inicio">
            <div class="nav-arrow-btn">
              <img src="/assets/images/reserva-tu-cochera/logo-x.svg" alt="" routerLink="/reserva-tu-cochera">
            </div>
            <h1 class="title">Tiempo de Reserva</h1>   
            <button class="btn-filter">
              <img src="assets/images/cronometro/btn-filter.svg" alt="">
            </button>
          </div>
          <div class="container-sep">
            <div class="sep">
              <div class="tex1">Parque</div>
              <div class="tex2">Parqueo las Begonias</div>
            </div>
            <div class="sep">
              <div class="tex1">Dirección</div>
              <div class="tex2">Calle Las Begonias, 479</div>
            </div>
            <div class="sep">
              <div class="tex1">Vehículo</div>
              <div class="tex2">Ford F Series (AFG-HJ7)</div>
            </div>
            <div class="sep">
              <div class="tex1">Host</div>
              <div class="tex2">Ricardo Martinez</div>
            </div>
            <div class="sep">
              <div class="tex1">Fecha</div>
              <div class="tex2">16 de Diciembre, 2024</div>
            </div>
            <div class="sep">
              <div class="tex1">Duración</div>
              <div class="tex2">4 Horas</div>
            </div>
            <div class="sep">
              <div class="tex1">Horario</div>
              <div class="tex2">9:00 AM -13:00</div>
            </div>
          </div>

          <button class="btn-reserva">Cancelar Reserva</button>
          


        </div>
      </div>
    </div>

  </div>
