<ion-content [fullscreen]="true">
  <div class="container">
    <div class="pantalla">
      <div class="inicio">
        <a class="regresar" href="#">
          <div class="left-arrow">
            <img src="/assets/images/left-arrow.svg" alt="" routerLink="/tab-home/home"/>
          </div>
          <h1 class="title">Estacionamiento</h1>
        </a>

        <div class="grid-small-button">
          <button class="small-button" id="open-modal-tash" expand="block">
            <img src="/assets/images/trash.svg" alt="" />
          </button>

          <ion-modal
            trigger="open-modal-tash"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
          >
            <ng-template>
              <div class="block">
                <h1>¿Seguro que quieres eliminar el anuncio?</h1>

                <hr />

                <div class="button-container-modal">
                  <button class="button-eliminar-modal">
                    Eliminar Anuncio
                  </button>
                  <button (click)="dismissModal">Cancelar</button>
                </div>
              </div>
            </ng-template>
          </ion-modal>

          <button class="small-button" id="open-modal2" expand="block">
            <img src="/assets/images/down-arrow.svg" alt="" />
          </button>

          <ion-modal
            trigger="open-modal2"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
          >
            <ng-template>
              <div class="block2">
                <h1>Selecciona tu anuncio</h1>

                <hr />

                <div class="block2-container">
                  <div class="checkbox-anuncio-container">
                    <div class="checkbox-anuncio">
                      <label for="checkbox">
                        <div>
                          <img src="/assets/images/icon-car.svg" alt="icono" />
                          <span class="checkbox-text"
                            >Estacionamiento Las B...</span
                          >
                        </div>
                        <input
                          type="checkbox"
                          id="checkbox"
                          class="checkbox-round"
                        />
                      </label>
                    </div>
                    <div class="checkbox-anuncio">
                      <label>
                        <div>
                          <img src="/assets/images/icon-car.svg" alt="icono" />
                          <span class="checkbox-text"
                            >Cochera Santa Cruz 1254</span
                          >
                        </div>
                        <input
                          type="checkbox"
                          id="checkbox"
                          class="checkbox-round"
                        />
                      </label>
                    </div>
                  </div>
                  <div class="button-agregar-anuncio-container">
                    <button class="button-agregar-anuncio">
                      <span class="false-button-agregar-anuncio"
                        ><img src="/assets/images/icon-plus2.svg" alt=""
                      /></span>
                      <span>Agregar nuevo anuncio</span>
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </ion-modal>
        </div>
      </div>

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <button
              (click)="changeContent('Características')"
              [ngClass]="{'active': isButtonActive('Características')}"
            >
              Características
            </button>
          </div>

          <div class="swiper-slide">
            <button
              (click)="changeContent('Reglas')"
              [ngClass]="{'active': isButtonActive('Reglas')}"
            >
              Reglas
            </button>
          </div>

          <div class="swiper-slide">
            <button
              (click)="changeContent('Precio')"
              [ngClass]="{'active': isButtonActive('Precio')}"
            >
              Precio
            </button>
          </div>

          <div class="swiper-slide">
            <button
              (click)="changeContent('Disponibilidad')"
              [ngClass]="{'active': isButtonActive('Disponibilidad')}"
            >
              Disponibilidad
            </button>
          </div>

          <div class="swiper-slide">
            <button
              (click)="changeContent('Abonados')"
              [ngClass]="{'active': isButtonActive('Abonados')}"
            >
              Abonados
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="selectedContent === 'Características'">
        <div class="informacion">
          <h1 class="secondary-title">Información del estacionamiento</h1>
          <h2>
            Los arrendatarios podrán ver esta información antes de alquilar tu
            estacionamiento.
          </h2>
          <div class="form">
            <label class="anuncio-label" for="">Nombre del Anuncio</label>
            <input
              type="text"
              class="outlinenone"
              placeholder="Parking Las Begonias"
            />
          </div>
          <h3>Fotos</h3>
          <h5>Mínimo tres fotos, pero si tienes más, ¡Genial!</h5>
        </div>
        <div class="boxes">
          <div class="box1">
            <img src="/assets/images/upload.svg" alt="" />
          </div>
          <div class="box2">
            <img src="/assets/images/upload.svg" alt="" />
          </div>
          <div class="box3">
            <img src="/assets/images/upload.svg" alt="" />
          </div>
          <div class="box4">
            <img src="/assets/images/upload.svg" alt="" />
          </div>
        </div>

        <div class="descripcion">
          <!-- ----------------------------------OPEN MODAL 1---------------------------------- -->
          <h3>Descripción</h3>
          <p>
            Estacionamiento en cochera privada cómodo y seguro para disfrutar de
            tus actividades diarias.
          </p>
          <a class="servicios" id="open-modal-descripcion">
            Editar descripción
            <img src="/assets/images/right-arrow.svg" alt="" />
          </a>

          <ion-modal
            trigger="open-modal-descripcion"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
          >
            <ng-template>
              <div class="modal-descripcion">
                <h1>Edita tu descripción</h1>

                <hr />

                <div class="button-container-modal">
                  <div class="form-regla">
                    <div class="num-regla">Descripción de Espacio</div>
                    <div class="false-textarea1">
                      <textarea
                        placeholder="Estacionamiento en cochera privada cómodo y seguro para disfrutar de tus actividades diarias."
                      ></textarea>
                    </div>
                  </div>
                  <button>Guardar Cambios</button>
                </div>
              </div>
            </ng-template>
          </ion-modal>

          <!-- ----------------------------------OPEN MODAL 2---------------------------------- -->
          <h3>¿Qué lugares están cerca?</h3>
          <a class="servicios" id="open-modal-lugares">
            Agregar lugares
            <img src="/assets/images/right-arrow.svg" alt="" />
          </a>

          <ion-modal
            trigger="open-modal-lugares"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
          >
            <ng-template>
              <div class="modal-lugares">
                <h1>Agregar Lugares</h1>

                <hr />

                <div class="button-container-modal">
                  <div class="form-regla">
                    <div class="num-regla">Agregar Lugares Cerca</div>
                    <div class="false-textarea">
                      <textarea
                        placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque sapiente est sed!"
                      ></textarea>
                    </div>
                  </div>
                  <button>Guardar Cambios</button>
                </div>
              </div>
            </ng-template>
          </ion-modal>

          <!-- ----------------------------------OPEN MODAL 3---------------------------------- -->
          <h3>¿Cuáles son las dimensiones de tu espacio?</h3>
          <p>
            2.10 m de Ancho<br />
            5 m de Largo<br />
            2.10 de Altura<br />
          </p>
          <a class="servicios" id="open-modal-dimensiones">
            Editar dimensiones
            <img src="/assets/images/right-arrow.svg" alt="" />
          </a>

          <ion-modal
            trigger="open-modal-dimensiones"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
          >
            <ng-template>
              <div class="modal-dimensiones">
                <h1>Editar dimensiones</h1>

                <hr />

                <div class="button-container-modal">
                  <div class="form-regla">
                    <label class="num-regla">Medida (Ancho x Largo)</label>
                    <input class="false-textarea" placeholder="2.5 m x 5 m" />
                  </div>
                  <div class="form-regla">
                    <label class="num-regla"
                      >Altura (en caso sea techado)</label
                    >
                    <input class="false-textarea" placeholder="2.1 m" />
                  </div>
                  <button>Guardar Cambios</button>
                </div>
              </div>
            </ng-template>
          </ion-modal>

          <!-- ----------------------------------OPEN MODAL 4---------------------------------- -->
          <h3>¿Qué servicios también ofreces?</h3>
          <ul class="lista-servicios">
            <li>
              <img src="/assets/images/shop-icon.svg" alt="" />
              <span>Autoboutique</span>
            </li>

            <li>
              <img src="/assets/images/eye-icon.svg" alt="" />
              <span>Sistema de vigilancia</span>
            </li>

            <li>
              <img src="/assets/images/layers-icon.svg" alt="" />
              <span>Techado</span>
            </li>
          </ul>

          <a class="servicios" id="open-modal-servicios">
            Editar servicios
            <img src="/assets/images/right-arrow.svg" alt="" />
          </a>

          <ion-modal
            trigger="open-modal-servicios"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
          >
            <ng-template>
              <div class="modal-servicios">
                <h1>Edita tus servicios</h1>

                <hr />

                <div class="block2-container">
                  <div class="checkbox-anuncio-container">
                    <div class="checkbox-anuncio">
                      <label for="checkbox">
                        <div>
                          <img src="/assets/images/user-icon2.svg" alt="icono" />
                          <span class="checkbox-text"
                            >Servicios Higiénicos</span
                          >
                        </div>
                        <input
                          type="checkbox"
                          id="checkbox"
                        />
                      </label>
                    </div>
                    <div class="checkbox-anuncio">
                      <label>
                        <div>
                          <img src="/assets/images/shop-icon2.svg" alt="icono" />
                          <span class="checkbox-text"
                            >Autoboutique</span
                          >
                        </div>
                        <input
                          type="checkbox"
                          id="checkbox"
                          class="checkbox-round"
                        />
                      </label>
                    </div>
                    <div class="checkbox-anuncio">
                      <label>
                        <div>
                          <img src="/assets/images/car-icon2.svg" alt="icono" />
                          <span class="checkbox-text"
                            >Lavado de Auto</span
                          >
                        </div>
                        <input
                          type="checkbox"
                          id="checkbox"
                          class="checkbox-round"
                        />
                      </label>
                    </div>
                    <div class="checkbox-anuncio">
                      <label>
                        <div>
                          <img src="/assets/images/eye-icon2.svg" alt="icono" />
                          <span class="checkbox-text"
                            >Sistema de vigilancia</span
                          >
                        </div>
                        <input
                          type="checkbox"
                          id="checkbox"
                          class="checkbox-round"
                        />
                      </label>
                    </div>
                    <div class="checkbox-anuncio">
                      <label>
                        <div>
                          <img src="/assets/images/shopcart-icon.svg" alt="icono" />
                          <span class="checkbox-text"
                            >Tienda</span
                          >
                        </div>
                        <input
                          type="checkbox"
                          id="checkbox"
                          class="checkbox-round"
                        />
                      </label>
                    </div>
                    <div class="checkbox-anuncio">
                      <label>
                        <div>
                          <img src="/assets/images/layers-icon2.svg" alt="icono" />
                          <span class="checkbox-text"
                            >Techado</span
                          >
                        </div>
                        <input
                          type="checkbox"
                          id="checkbox"
                          class="checkbox-round"
                        />
                      </label>
                    </div>

                    <button>Guardar Cambios</button>

                  </div>
                </div>
              </div>
            </ng-template>
          </ion-modal>

          <!-- ----------------------------------OPEN MODAL 5---------------------------------- -->
          <h3>Ubicación</h3>
          <p>Av. Alfredo Mendiola 3698</p>
          <a class="servicios" id="open-modal-dirección">
            Editar dirección
            <img src="/assets/images/right-arrow.svg" alt="" />
          </a>

          <ion-modal
            trigger="open-modal-dirección"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
          >
            <ng-template>
              <div class="block">
                <h1>Editar dirección</h1>

                <hr />

                <div class="button-container-modal">
                  <div class="form-regla">
                    <label class="num-regla">Direccion</label>
                    <input
                      class="false-textarea"
                      placeholder="Av. Alfredo Mendiola 3698"
                    />
                  </div>
                  <button>Guardar Cambios</button>
                </div>
              </div>
            </ng-template>
          </ion-modal>
        </div>
      </div>
      <!--                 -----REGLAS-----              -->
      <div *ngIf="selectedContent === 'Reglas'">
        <div>
          <h1 class="secondary-title">
            Escribe las reglas que consideres esenciales
          </h1>
          <div class="form-regla">
            <div class="num-regla">Regla #1</div>
            <div class="false-textarea">
              <textarea
                [style.min-height]="getPlaceholderHeight()"
                rows="4"
                placeholder="Ej. Ser puntal con las horas de reserva y salir al momento pactado"
              ></textarea>
            </div>

            <div *ngFor="let contenido of textareas; let i = index">
              <div class="num-regla">Regla #{{ i + 2 }}</div>
              <div class="false-textarea">
                <textarea
                  [style.min-height]="getPlaceholderHeight()"
                  rows="4"
                  placeholder="Ej. Ser puntal con las horas de reserva y salir al momento pactado"
                ></textarea>
              </div>
            </div>

            <div class="adicionar">
              <button
                (click)="agregarTextarea()"
                *ngIf="textareas.length < 3"
                class="boton-adicionar"
              >
                <img src="/assets/images/addition.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--                 -----PRECIO-----              -->
      <div *ngIf="selectedContent === 'Precio'">
        <div class="titulo-precio">
          <h1 class="secondary-title">Precio base</h1>
          <h2 class="pen">PEN</h2>
        </div>

        <div>
          <div class="precio-base">
            <span class="simbolo">S/.</span>
            <input
              class="monto"
              id="hora-fraccion"
              placeholde="0.00"
              type="number"
            />
            <label for="hora-fraccion" class="hora-fraccion"
              >Hora o fracción</label
            >
          </div>

          <div class="precio-personalizado">
            <input
              class="input-precio-personalizado"
              placeholder="Precio personalizado para fines de semana"
              type="number"
            />
            <label for="hora-fraccion" class="agregar">Agregar</label>
          </div>

          <div class="recordatorio">
            <p>
              Recuerda que la tarifa de servicio es 25% sobre el precio base.
              Según el precio base x hr/fracc. <span>(S/.10)</span> ingresado
              estarías ganando <span>S/.8.70</span> x hora.
            </p>
          </div>

          <h1 class="secondary-title">Descuentos</h1>
          <span class="descuentos-descripcion"
            >Ajusta tus precios para atraer a más
          </span>

          <div class="precio-personalizado">
            <input class="input-descuento" placeholder="0%" type="number" />
            <label for="hora-fraccion" class="reserva"
              >Reserva Semanal<br />Por 7 días o más</label
            >
            <label for="hora-fraccion" class="promedio"
              >El promedio semanal<br />es de PEN00</label
            >
          </div>

          <div class="precio-personalizado">
            <input class="input-descuento" placeholder="0%" type="number" />
            <label for="hora-fraccion" class="reserva"
              >Reservación adelantada<br />con 1 día de adelanto</label
            >
            <label for="hora-fraccion" class="promedio"
              >El promedio semanal<br />es de PEN00</label
            >
          </div>
        </div>
      </div>

      <!--                 -----DISPONIBILIDAD-----              -->
      <div *ngIf="selectedContent === 'Disponibilidad'">
        <div class="disponibilidad-container">
          <ion-item lines="none">
            <ion-toggle justify="space-between">Días restringidos</ion-toggle>
          </ion-item>
          <p>
            Los arrendatarios no podrán reservar tu estacionamiento en estos
            días:
          </p>

          <div class="checkbox-semana">
            <form class="clearfix">
              <!-- Columna 1 -->
              <div class="checkbox-column">
                <label for="domingo">
                  <input
                    type="checkbox"
                    id="domingo"
                    name="diasSemana"
                    value="domingo"
                  />
                  Domingo
                </label>
                <label for="lunes">
                  <input
                    type="checkbox"
                    id="lunes"
                    name="diasSemana"
                    value="lunes"
                  />
                  Lunes
                </label>
                <label for="martes">
                  <input
                    type="checkbox"
                    id="martes"
                    name="diasSemana"
                    value="martes"
                  />
                  Martes
                </label>
              </div>
              <!-- Columna 2 -->
              <div class="checkbox-column">
                <label for="miercoles">
                  <input
                    type="checkbox"
                    id="miercoles"
                    name="diasSemana"
                    value="miercoles"
                  />
                  Miércoles
                </label>
                <label for="jueves">
                  <input
                    type="checkbox"
                    id="jueves"
                    name="diasSemana"
                    value="jueves"
                  />
                  Jueves
                </label>

                <label for="viernes">
                  <input
                    type="checkbox"
                    id="viernes"
                    name="diasSemana"
                    value="viernes"
                  />
                  Viernes
                </label>
              </div>
              <!-- Columna 3 -->
              <div class="checkbox-column">
                <label for="sabado">
                  <input
                    type="checkbox"
                    id="sabado"
                    name="diasSemana"
                    value="sabado"
                  />
                  Sábado
                </label>
              </div>
            </form>
          </div>

          <ion-item lines="none">
            <ion-toggle justify="space-between">
              <div class="toggle-info">
                Horas restringidas
                <img src="/assets/images/icon-info2.svg" alt="" />
              </div>
            </ion-toggle>
          </ion-item>
          <p>
            Los arrendatarios no podrán reservar tu estacionamiento dentro del
            siguiente horario:
          </p>

          <div class="time-range-container">
            <div class="time-input-group">
              <label for="inputDesde">Desde:</label>
              <ion-datetime-button datetime="datetime1"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    id="datetime1"
                    presentation="time"
                    hourCycle="h12"
                    value="2024-04-17T00:00"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </div>

            <div class="time-input-group">
              <label for="inputHasta">Hasta:</label>
              <ion-datetime-button datetime="datetime2"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    id="datetime2"
                    presentation="time"
                    hourCycle="h12"
                    value="2024-04-17T00:00"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </div>
          </div>

          <hr />

          <button routerLink="/horario-personalizado" class="button-personalizar">
            Personalizar Horarios (0)
          </button>


        </div>
      </div>

      <!--                 -----ABONADOS-----              -->
      <div *ngIf="selectedContent === 'Abonados'">
        <div class="abonados-container">
          <ion-item lines="none">
            <ion-toggle justify="space-between">Abonados</ion-toggle>
          </ion-item>

          <p class="abonados-descripcion">
            Eleva tu oferta como Host con Abonados Blip. Activa esta opción en
            la aplicación para permitir que los usuarios reserven
            mensualmente.<br /><br />

            ¡Mejora tu experiencia con Abonados Blip!
          </p>

          <div class="form-regla">
            <label class="num-regla">¿Cuánto sería el monto?</label>
            <input class="false-textarea" placeholder="Ejem: S/. 320" />
          </div>

          <h1 class="secondary-title">Solicitudes de Abonado</h1>

          <div class="solicitud-abonado">
            <img src="/assets/images/icon-time-delete.svg" alt="" />
            <p>No cuenta con solicitudes de abonado</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
