
ion-modal.custom-modal {
  position: fixed;
  bottom: 50px; /* Ajustar para que quede justo encima de los tabs */
  width: 100%;
  max-height: calc(100% - 50px); /* Respeta el espacio de los tabs */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2); /* Sombra visible en la parte superior */
}
.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 10px;

  ion-card {
    margin: 0;
  }

  .icon-row {
    display: flex;
    gap: 10px;
    margin-top: 5px;
  }
}
.cards-container {
  overflow-y: auto; /* Scroll solo en este contenedor */
  height: auto; /* Permite que los elementos secundarios crezcan */
  overflow-y: visible; /* Evita cortar los elementos secundarios */
  padding: 16px;
  background-color: #ffffff;
  overflow: visible !important;
}
.card-content {
  position: relative;
  display: flex;

  gap: 16px;
}

.image-slider {
  width: 30%;
  height:auto; /* Ajusta según tu diseño */
  position: relative;

  overflow: hidden;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont-home{
  padding-inline: 22px;
  .section{
    .section-header{
      display: flex; /* Hace que los elementos hijos se distribuyan en línea */
      align-items: center; /* Centra verticalmente los elementos */
      margin-top: 20px;
      margin-bottom: 10px;
      h2{
        color: #212121;
        /* Subtitle 1 [Medium] */
        font-family: Poppins;
        margin-right: 20px;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 136.364% */
        letter-spacing: 0.22px;
      }
      .blue{
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        border-radius: 500px;

        background: var(--system-blue, #007BFE);
        
      }
      .green{
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        border-radius: 500px;

        background: var(--system-green, #31C859);
      }
      .orange{
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        border-radius: 500px;

        background: var(--system-green, #FF9600);
      }
    }

  }
}

.swiper-pagination {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: green;
  opacity: 1;
}

.text-details {

  
}

.text-details h3 {
  color: #212121;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
}

.text-details p {
  font-size: 14px;
  color: gray;
  margin: 0;
}
.cont-pres{
  display: flex;
  img{
    padding-right: 5px;
  }
  h3{
    color: var(--system-surface-primary, #212121);

    /* Body 5 */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.12px;
    margin:0px;
  }
  h1{
    color: #212121;

    /* Body 4 [SemiBold] */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 178.571% */
    letter-spacing: 0.14px;
    margin: 0px;
    span{
      color: #212121;

      /* Body 5 */
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.12px;
      padding-right: 10px;
    }
  }
  .derxs{
    padding-left: 10px;
  }
}
.ion-activatable {
  position: relative;
  overflow: hidden; /* El ripple se mantiene dentro de los bordes */
}

.ripple-parent ion-ripple-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* Contenedor principal de la tarjeta */
.full-width-card-wrapper {
  margin: 0 -22px; /* Neutraliza el padding del contenedor padre */
  padding: 0; /* Evita padding adicional */
}

.full-width-card {
  width: 100%;
  padding: 0; /* Elimina padding interno de la tarjeta */

  margin: 12px 0; /* Espaciado entre tarjetas */
  border-radius: 8px; /* Esquinas redondeadas para un diseño elegante */
  box-shadow: none; /* Opcional: Elimina sombras */
  overflow: hidden; /* Asegura que el ripple y la imagen estén dentro de la tarjeta */
}
ion-grid{
  padding: 0;
}
.tiempo{
  background-color: #212121;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 30px;
  margin-right: 5px;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.ver-timp{
  padding: 0px 10px;
  background-color: #FFFFFF;
  border: 1px solid #212121;
  border-radius: 30px;
//styleName: Body 5 [Bolder];
font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 20px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.chip {
  position: absolute;
  top: 10px; /* Distancia desde la parte superior */
  left: 2px; /* Distancia desde el lado izquierdo */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
  color: #212121; /* Texto en verde */
  font-family: Poppins;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 4px 8px;
  border-radius: 16px; /* Bordes redondeados */
  display: flex;
  align-items: center;
  gap: 6px; /* Espacio entre el punto y el texto */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  .green{
    width: 5px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 500px;

    background: var(--system-green, #31C859);
  }
}
ion-card {
  box-shadow: none; /* Elimina la sombra */
  border: none; /* Elimina cualquier borde */
  border-radius: 0; /* Elimina esquinas redondeadas */
  padding: 0; /* Elimina cualquier relleno interno */
  margin: 0; /* Elimina el margen externo */
  background: transparent; /* Si quieres eliminar el color de fondo */
  grid: 20px;
}
ion-card-content {
  padding: 0px;
}


