<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="centro">
            <button class="vector-mensaje">
              <img src="/assets/images/vector-2.png" alt="Logo" class="navbar-logo" routerLink='/tab-home/perfil'>
            </button>
            <div class="text-b">Favoritos</div>
          </div>
         
          <div class="texto-mostrado">
            <div class="card">
              <div class="row no-gutters">
                <div class="not">
                <div class="col-md-4">
                  <img src="/assets/images/img-c.png" class="img-card" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-ty">
                    <div class="tip">
                    <p class="card-text">ABC Parking</p>
                    <button  id="open-modal" class="navbar-toggler heart" expand="block">
                      <img class="img-h" src="/assets/images/heart-1.png" alt="">
                    </button>
                    <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
                      <ng-template>
                        <div class="block">
                          <div class="menu-above">¿Seguro que deseas eliminar este parking de favoritos?</div>
                          <hr class="separator-line">
                          <div class="center-content">
                            <button class="BE33">
                              <p class="text34">Si, eliminar</p>
                            </button>
                          </div>
                          <div class="center-content37">
                            <button class="BC38">
                              <p class="text39">Cancelar</p>
                            </button>
                          </div>
                        </div>
                      </ng-template>
                    </ion-modal>
                  </div>
                    <p class="card-text-1">Paseo Constancio Bollar 315 </p>
                    <p class="card-text-2"><img class="punto" src="/assets/images/marker.png" alt="">San Isidro</p>
                    <div class="icons">
                      <p class="curso">Disponible</p>
                      <img class="ins" src="/assets/images/car.png" alt="">
                      <img class="ins" src="/assets/images/van.png" alt="">
                      <img class="ins" src="/assets/images/moto.png" alt="">
                      
                    </div>
                    <div class="hr">
                      <p class="hora">4.5 <img class="star2" src="/assets/images/star2.png" alt=""></p>
                      <p class="hora">1.4km</p>
                      <p class="hora">s/.6.00 <span style="font-weight: 300; font-size: 13px;margin-left: 5px;"> h/frac.</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="buton-re">
                <button class="extender"><img src="/assets/images/redo-alt.png" alt="">Reservar Nuevamente</button>
              </div>
            </div>
            </div>

            <div class="card">
              <div class="row no-gutters">
                <div class="not">
                <div class="col-md-4">
                  <img src="/assets/images/img-c.png" class="img-card" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-ty">
                    <div class="tip">
                    <p class="card-text">ABC Parking</p>
                    <button class="heart">
                      <img class="img-h" src="/assets/images/heart-1.png" alt="">
                    </button>
                  </div>
                    <p class="card-text-1">Paseo Constancio Bollar 315 </p>
                    <p class="card-text-2"><img class="punto" src="/assets/images/marker.png" alt="">San Isidro</p>
                    <div class="icons">
                      <p class="curso">Disponible</p>
                      <img class="ins" src="/assets/images/car.png" alt="">
                      <img class="ins" src="/assets/images/van.png" alt="">
                      <img class="ins" src="/assets/images/moto.png" alt="">
                      
                    </div>
                    <div class="hr">
                      <p class="hora">4.5 <img class="star2" src="/assets/images/star2.png" alt=""></p>
                      <p class="hora">1.4km</p>
                      <p class="hora">s/.6.00 <span style="font-weight: 300; font-size: 13px;margin-left: 5px;"> h/frac.</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="buton-re">
                <button class="reseva-new"><img class="filter" src="/assets/images/redo-alt.png" alt="">Reservar Nuevamente</button>
              </div>
            </div>
            </div>

            <div class="card">
              <div class="row no-gutters">
                <div class="not">
                <div class="col-md-4">
                  <img src="/assets/images/img-c.png" class="img-card" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-ty">
                    <div class="tip">
                    <p class="card-text">ABC Parking</p>
                    <button class="heart">
                      <img class="img-h" src="/assets/images/heart-1.png" alt="">
                    </button>
                  </div>
                    <p class="card-text-1">Paseo Constancio Bollar 315 </p>
                    <p class="card-text-2"><img class="punto" src="/assets/images/marker.png" alt="">San Isidro</p>
                    <div class="icons">
                      <p class="curso">Disponible</p>
                      <img class="ins" src="/assets/images/car.png" alt="">
                      <img class="ins" src="/assets/images/van.png" alt="">
                      <img class="ins" src="/assets/images/moto.png" alt="">
                      
                    </div>
                    <div class="hr">
                      <p class="hora">4.5 <img class="star2" src="/assets/images/star2.png" alt=""></p>
                      <p class="hora">1.4km</p>
                      <p class="hora">s/.6.00 <span style="font-weight: 300; font-size: 13px;margin-left: 5px;"> h/frac.</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="buton-re">
                <button class="reseva-new"><img class="filter" src="/assets/images/redo-alt.png" alt="">Reservar Nuevamente</button>
              </div>
            </div>
            </div>

            <div class="card">
              <div class="row no-gutters">
                <div class="not">
                <div class="col-md-4">
                  <img src="/assets/images/img-c.png" class="img-card" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-ty">
                    <div class="tip">
                    <p class="card-text">ABC Parking</p>
                    <button class="heart">
                      <img class="img-h" src="/assets/images/heart-1.png" alt="">
                    </button>
                  </div>
                    <p class="card-text-1">Paseo Constancio Bollar 315 </p>
                    <p class="card-text-2"><img class="punto" src="/assets/images/marker.png" alt="">San Isidro</p>
                    <div class="icons">
                      <p class="curso">Disponible</p>
                      <img class="ins" src="/assets/images/car.png" alt="">
                      <img class="ins" src="/assets/images/van.png" alt="">
                      <img class="ins" src="/assets/images/moto.png" alt="">
                      
                    </div>
                    <div class="hr">
                      <p class="hora">4.5 <img class="star2" src="/assets/images/star2.png" alt=""></p>
                      <p class="hora">1.4km</p>
                      <p class="hora">s/.6.00 <span style="font-weight: 300; font-size: 13px;margin-left: 5px;"> h/frac.</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="buton-re">
                <button class="reseva-new"><img class="filter" src="/assets/images/redo-alt.png" alt="">Reservar Nuevamente</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
