.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el contenedor ocupe todo el alto disponible */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  }
  
  .spinner {
    width: 80px;
    height: 80px;
    border: 6px solid #5CDD90;
    border-top: 6px solid #79FFAF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  