ion-content {
  --background: #FFFFFF;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .animation {}

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pers {
      display: flex;

      .name {
        margin-left: 20px;
      }

      h1 {
        margin: 0px;
        color: #212121;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        /* 100% */
        padding-block: 10px;
      }

      h3 {
        margin: 0px;
        color: #646464;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 117.647% */
      }

    }

    .btn-mn {
      background-color: #ffffff;
      box-shadow: 0px 4px 4px 0px rgba(33, 33, 33, 0.10);
      border-radius: 20%;
      width: 44px;
      height: 44px;
      flex-shrink: 0;
    }
  }

  .card-container {
    background-color: #ffffff;
    color: #79FFAF;
    height: 95%;
    width: 100%;
    padding: 20px;

    // box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.3); /* Sombra más notoria */
    .card {
      border: 0px;

      .cardba-content {
        h3 {
          font-size: 40px;
          font-family: 'Poppins SemiBold';
          margin: 0px;
        }

        p {
          font-size: 14px;
          font-family: 'Poppins Medium';
        }
      }

      .stepper-dots {
        ul {
          margin: 0px;
          padding: 0px;
          list-style-type: none;

          li {
            display: inline-block;
            margin-right: 10px;

            span {
              display: block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              border: 1px solid #79FFAF;
            }

            span.active {
              background-color: #79FFAF;
            }
          }
        }
      }

      .card-buttons {
        margin-top: 50px;

        .card-button {
          width: 100%;
          display: inline-block;

          button {
            display: block;
            text-align: center;
            font-family: 'Poppins SemiBold';
            font-size: 14px;
            padding: 15px 40px;
            border-radius: 25px;
            border: 1px solid #79FFAF;
          }

          #startButton {
            display: none;
          }
        }

        .card-button.card-button-left {
          button {
            margin-right: auto;
            background-color: #212121;
            color: #79FFAF;
          }
        }

        .card-button.card-button-right {
          button {
            margin-left: auto;
            color: #212121;
            background-color: #79FFAF;
          }
        }
      }
    }
  }
}



.next-btn {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #C8C5CA;
  font-family: 'Poppins SemiBold';
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.disabled-btn {
  background-color: #ffffff;
  color: #C8C5CA;
  cursor: not-allowed;
}

.enabled-btn {
  background-color: #212121;
  color: #ffffff;
  cursor: pointer;
}

.title {
  color: #212121;

  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 47px;
  /* 130.556% */
  letter-spacing: 0.09px;

}

.subtitle {
  color: rgba(33, 33, 33, 0.60);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  /* 191.667% */
  letter-spacing: 0.12px;
}

.description {
  color: #141414;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  /* 157.143% */
  letter-spacing: 0.035px;
}

.servicios {
  color: #212121;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  /* 190% */
  letter-spacing: 0.2px;
  text-decoration-line: underline;
  padding-right: 40px;
}

.horizontal-scroll {
  padding-block: 20px;
  display: flex;
  /* Utiliza flexbox para alinear los elementos en fila */
  overflow-x: auto;
  /* Habilita el scroll horizontal */
  white-space: nowrap;
  /* Evita que el contenido se ajuste en líneas múltiples */
  scroll-behavior: smooth;
  /* Hace que el scroll sea suave */
  z-index: 999;
}

.horizontal-scroll>div {
  flex: 0 0 auto;
  /* Asegura que cada hijo ocupe su espacio y no se contraiga */
  margin-right: 10px;
  /* Espacio entre elementos */
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
  /* Oculta la barra de desplazamiento en Chrome, Safari, Opera */
}

.tl-res {
  text-align: left;
  padding-top: 20px;
  color: #212121;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 114.286% */
}

.swip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 30px;
  background: var(--Schemes-On-Primary, #FFF);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
  padding: 10px;

  h1 {
    margin: 0px;
  }

  .lda {
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    width: 19px;
    height: 18px;
    padding: 2px 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #212121;

    .descrip {
      margin: 0px;
      padding: 5px;
      color: var(--Schemes-On-Primary, #FFF);
      font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      /* 14px */

    }
  }
}

.content-display {
  display: flex;
  width: 100%;
  height: 43vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px dashed #A3A2A4;
  margin: 20px 0;
  overflow: auto;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* Asegura que el tamaño de fuente sea adecuado */
}

.board img {
  margin-right: 10px;
}

.par {
  margin: 0;
  color: #212121;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  /* Ajusta este tamaño según sea necesario */
  font-weight: 400;
  line-height: 140%;
}

.content-display * {
  margin: 0;
  padding: 0;
}

.swip.active {
  border: 1px solid #212121;
  /* Borde verde cuando está activo */
}

.subtitle {
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-left: 30px;
}

.separator-line {
  border-top: 2px solid #d4d4d4;
  width: 100%;
  margin: 10px auto;
}

.service-button {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 30px;
  width: 95%;
}


.button-image {
  margin-left: 15px;
  margin-right: 15px;
}

.button-text {
  color: #212121;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 160% */
}


.text-b {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin-left: 15px;
  width: 195px;
  line-height: 22px;
}

.button-container {
  margin: 0px auto;
  width: 85%;
  display: block;
}

.btn-custom {
  background-color: transparent;
  box-shadow: 0 5px 10px rgba(121, 118, 118, 0.4);
  border-radius: 10px;
}

.menu-block {
  display: flex;
  justify-content: center;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  margin-block: 20px;
  font-weight: 500;
}

.block {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  flex-direction: column;
}

ion-modal {
  --height: auto;
}

.title-c {

  color: #212121;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  /* 166.667% */
  width: 75%;
  margin-inline: auto;
  text-align: center;
}

.cont-ap {
  margin: 30px auto;
  max-width: 75%;
}

.parraf {
  color: #212121;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  /* 192.308% */

}

/* Contenedor de botones */
.button-container-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Botón de Continuar */
.button-continuar-modal {
  width: 100%;
  padding-block: 15px;
  border: 1px solid #212121;
  background-color: white;
  color: #212121;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* Botón de Cancelar */
.button-cancelar-modal {
  width: 100%;
  padding-block: 15px;
  background-color: #212121;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}

.cardz {
  margin-top: 10px;
}

.swiper-container {
  width: 100%;
  /* Ajusta el ancho del contenedor */
  height: 100%;
  overflow: visible;
  /* Asegura que el contenido que sobresale sea visible */
  position: relative;
  padding-right: 60px;
  /* Añade un padding extra a la derecha para evitar que el último slide esté pegado al borde */
}

.swiper-slide {
  width: calc(80% - 40px);
  /* Ajusta el ancho para las tarjetas */
  margin: 0 20px;
  /* Espacio entre las tarjetas */
  height: auto;

  overflow: visible;
  /* Asegura que el contenido dentro de la tarjeta no se corte */
  z-index: 1;
  opacity: 1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #C8C5CA;
}

.swiper-wrapper {

  padding-right: 80px;
  /* Añade espacio extra al final del contenedor de slides */
}

/* Contenedor de las tarjetas */
.card-container {
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 100%;

}



/* Para pantallas más pequeñas */
@media (max-width: 768px) {
  .swiper-slide {
    width: calc(80% - 20px);
    margin: 0 10px;
  }
}

.header-flex {
  display: flex;
  align-items: center;

  padding: 10px;
}

.circle-icon {
  width: 40px;
  height: 40px;
  background-color: rgba(29, 27, 32, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  flex-shrink: 0;
  max-width: 40px;
}

.circle-icon h1 {
  color: var(--Schemes-Surface, #FEF7FF);
  text-align: center;
  margin: 0px;
  font-family: Poppins;
  font-size: var(--Title-Medium-Size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Title-Medium-Line-Height, 24px);
  letter-spacing: var(--Title-Medium-Tracking, 0.15px);
}

.title-container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
}

.title-large,
.subtitle-large {
  margin: 0;
}

.title-large {
  color: var(--Schemes-On-Surface, #1D1B20);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.subtitle-large {
  color: var(--Schemes-On-Surface, #1D1B20);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.image-container {
  position: relative;
  /* Contenedor relativo para la imagen */
}

.floating-text {
  position: absolute;
  background-color: #FFFFFF;
  padding: 5px 15px;
  border-radius: 20px;
  color: #212121;
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  /* 154.545% */
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 10;
  /* Se asegura que esté sobre otros elementos */
}

.floating-text.time {
  top: 10px;
  left: 10px;
}

.floating-text.status {
  top: 10px;
  right: 10px;
}

.res-de {
  color: #212121;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 14px */
}

.floating-text .dot {
  width: 6px;
  height: 6px;
  border-radius: var(--loader, 100px);
  background: var(--Colors-Green, #34C759);

  margin-left: 5px;
  display: inline-block;
  z-index: 11;
  /* Se asegura que esté encima del texto */
}

.floating-text .dot_red {
  width: 6px;
  height: 6px;
  border-radius: var(--loader, 100px);
  background: var(--Colors-Green, red);

  margin-left: 5px;
  display: inline-block;
  z-index: 11;
  /* Se asegura que esté encima del texto */
}

.floating-text .dot_yellow {
  width: 6px;
  height: 6px;
  border-radius: var(--loader, 100px);
  background: var(--Colors-Green, yellow);

  margin-left: 5px;
  display: inline-block;
  z-index: 11;
  /* Se asegura que esté encima del texto */
}

.floating-text .dot_blue {
  width: 6px;
  height: 6px;
  border-radius: var(--loader, 100px);
  background: var(--Colors-Green, blue);

  margin-left: 5px;
  display: inline-block;
  z-index: 11;
  /* Se asegura que esté encima del texto */
}

.res-bar {
  display: flex;
  justify-content: flex-start;
  /* Cambia esto a flex-start para alinear a la izquierda */

  width: 100%;
  /* Añadir otros estilos si es necesario */
}

.sub-r {
  color: #212121;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  /* Asegúrate de que el texto esté alineado a la izquierda */
  margin: 0px;
}

.derz {
  display: flex;
  justify-content: flex-start;
  /* Alinear a la izquierda */
  align-items: center;
  /* Cambia a 'center' para alinear verticalmente en el centro */
  flex-wrap: wrap;
  /* Permitir que los elementos se envuelvan en una nueva línea */
  text-align: left;
  padding-bottom: 3px;
}

.ctn {
  padding-left: 10px;
  color: #212121;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  /* Asegúrate de que el texto esté alineado a la izquierda */
  margin: 0px;
  padding-right: 10px;
}

.derz h1 {
  padding-left: 7px;
  color: #212121;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
  padding-block: 5px;
}

.derz h2 {
  color: #212121;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  margin: 0px;
  padding-left: 5px;
}

.det-asd {
  display: flex;
  justify-content: flex-start;
  /* Cambia esto a flex-start para alinear a la izquierda */
  padding-left: 15px;
  width: 100%;
  /* Añadir otros estilos si es necesario */
}

.mayor {
  padding-left: 10px;
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.btn {
  display: flex;
  justify-content: space-between;
  /* Distribuye los botones a los extremos */
  align-items: center;
  padding: 0;
  /* Sin padding adicional en el contenedor */
  margin-top: 15px;
  margin-bottom: 20px;
}

.bt-can,
.bt-con {
  width: 45%;
  padding-block: 10px;

}

.bt-can {
  margin-left: auto;
  /* Para que el botón de la izquierda se mantenga en su lugar */
  color: var(--primary-scheme-buttons-filled, #212121);
  text-align: center;
  font-family: Poppins;
  font-size: var(--Label-Large-Size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Label-Large-Line-Height, 20px);
  /* 142.857% */
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #212121;
}

.bt-con {
  margin-right: auto;
  color: var(--primary-scheme-buttons-filled, #212121);
  text-align: center;
  font-family: Poppins;
  font-size: var(--Label-Large-Size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Label-Large-Line-Height, 20px);
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #212121;

}

.contenido-card {
  padding: 10px;
}