ion-content{
  --background:#FFFFFF;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .animation {

  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pers{
      display: flex;
      .name{
        margin-left: 20px;
      }
      h1{
        margin:0px;
        color: #212121;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 100% */
        padding-block: 10px;        
      }
      h3{
        margin:0px;
        color: #646464;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 117.647% */
      }

    }
    .btn-mn{
      background-color: #ffffff;
      box-shadow: 0px 4px 4px 0px rgba(33, 33, 33, 0.10);
      border-radius: 20%;
      width: 44px;
      height: 44px;
      flex-shrink: 0;
    }
  }

  .card-container {
    background-color: #ffffff;
    color: #79FFAF;
    height: 95%;
    width: 100%;
    padding: 20px;

    // box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.3); /* Sombra más notoria */
    .card {
      border: 0px;

      .card-content {
        h3 {
          font-size: 40px;
          font-family: 'Poppins SemiBold';
          margin: 0px;
        }

        p {
          font-size: 14px;
          font-family: 'Poppins Medium';
        }
      }

      .stepper-dots {
        ul {
          margin: 0px;
          padding: 0px;
          list-style-type: none;

          li {
            display: inline-block;
            margin-right: 10px;

            span {
              display: block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              border: 1px solid #79FFAF;
            }

            span.active {
              background-color: #79FFAF;
            }
          }
        }
      }

      .card-buttons {
        margin-top: 50px;

        .card-button {
          width: 100%;
          display: inline-block;

          button {
            display: block;
            text-align: center;
            font-family: 'Poppins SemiBold';
            font-size: 14px;
            padding: 15px 40px;
            border-radius: 25px;
            border: 1px solid #79FFAF;
          }

          #startButton {
            display: none;
          }
        }

        .card-button.card-button-left {
          button {
            margin-right: auto;
            background-color: #212121;
            color: #79FFAF;
          }
        }

        .card-button.card-button-right {
          button {
            margin-left: auto;
            color: #212121;
            background-color: #79FFAF;
          }
        }
      }
    }
  }
}

@keyframes scroll {
  to {
    background-position: -649px 0;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita que se vean partes fuera del contenedor */
}

.swiper-slide {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.swiper-text {
  margin-top: 50px; /* Agrega margen superior al slider */
}

.swiper-pagination-bullet-active {
  background: black;
}

.swiper-pagination {
  position: inherit;
}

.next-btn {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #C8C5CA;
  font-family: 'Poppins SemiBold';
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.disabled-btn {
  background-color: #ffffff;
  color: #C8C5CA;
  cursor: not-allowed;
}

.enabled-btn {
  background-color: #212121;
  color: #ffffff;
  cursor: pointer;
}
.title{
  color: #212121;

font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 47px; /* 130.556% */
letter-spacing: 0.09px;

}
.subtitle{
  color: #212121;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 146.667% */
letter-spacing: 0.038px;
}
.description{
  color: #141414;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 22px; /* 157.143% */
letter-spacing: 0.035px;
}
.servicios{
  color: #212121;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 190% */
letter-spacing: 0.2px;
text-decoration-line: underline;
padding-right: 40px;
}
.horizontal-scroll {
  padding-block:20px ;
  display: flex; /* Utiliza flexbox para alinear los elementos en fila */
  overflow-x: auto; /* Habilita el scroll horizontal */
  white-space: nowrap; /* Evita que el contenido se ajuste en líneas múltiples */
  scroll-behavior: smooth; /* Hace que el scroll sea suave */
  z-index: 999;
}

.horizontal-scroll > div {
  flex: 0 0 auto; /* Asegura que cada hijo ocupe su espacio y no se contraiga */
  margin-right: 10px; /* Espacio entre elementos */
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;  /* Oculta la barra de desplazamiento en Chrome, Safari, Opera */
}
.tl-res{
  padding-top: 20px;
  color: #212121;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 114.286% */
}
.swip{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 30px;
  background: var(--Schemes-On-Primary, #FFF);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
  padding: 10px;
  h1{
    margin: 0px;
  }
  .lda{
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    width: 19px;
    height: 18px;
    padding: 2px 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #212121;
    .descrip{
      margin: 0px;
      padding: 5px;
      color: var(--Schemes-On-Primary, #FFF);
      font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 14px */

    }
  }
}
.content-display {
  display: flex;
  width: 100%;
  height: 450px;
  padding: 100px 66px;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */

  flex-shrink: 0;
  border-radius: 15px;
  border: 1px dashed #A3A2A4;
  margin-top: 20px;
}

.content-display div {
  display: flex;
  justify-content: center; /* Centrar horizontalmente dentro del div */
  align-items: center; /* Centrar verticalmente dentro del div */
  width: 100%;
}

.content-display .par {
  margin: 0;
  padding-left: 10px;
  color: #212121;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 14px */
}

.res-de{
  color: #212121;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 14px */
}
.swip.active {
  border: 1px solid #212121; /* Borde verde cuando está activo */
}