<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="animation">
      <img src="" alt="">
    </div>
    <div class="card-container">
      <div class="card">
        <div class="nav">
          <div class="pers">
            <img src="/assets/images/backdrop-component.png" alt=""> 
            <div class="name">
              <h1>Ivana Tremolada</h1>
              <h3>Host</h3>
            </div>    
          </div>
          <button class="btn-mn" id="menu"><img src="/assets/images/menu-pun.svg" alt=""></button>
          <ion-modal trigger="menu" [initialBreakpoint]="1" [breakpoints]="[0, 1]" mode="ios">
            <ng-template>
              <div class="block"> 
                <h1 class="menu-block">Menu</h1>
              
                  <hr class="separator-line">
                  <h2 class="subtitle">SERVICIOS DE ANFITRIÓN</h2>
                  <div class="button-container">
                    <button (click)="exit()" routerLink="/nuevo-anu-pone-alq" class="service-button">
                        <div>
                          <img class="button-image" src="/assets/images/edit.png" alt="Imagen 1">
                          <span class="button-text">Crea un nuevo anuncio</span>
                        </div>
                        <img class="second-image" src="/assets/images/Vector-1.png" alt="">
                        
                    </button>
                    <button (click)="exit()" routerLink="/anuncio-caracteristicas" class="service-button">
                      <div>
                        <img class="button-image" src="/assets/images/megaphone.png" alt="Imagen 2">
                        <span class="button-text">Mis Anuncios</span>
                      </div>

                      <img class="second-image" src="/assets/images/Vector-1.png" alt="">
                    </button>
                </div>
                <h2 class="subtitle">CUENTA</h2>
                  <div class="button-container">
                    <button (click)="exit()" routerLink="/menu-config" class="service-button">
                      <div>
                        <img class="button-image" src="/assets/images/settings.png" alt="Imagen 1">
                        <span class="button-text">Configuración</span>
                      </div>
                      <img class="second-image" src="/assets/images/Vector-1.png" alt="">
                    </button>
                    <button routerLink="sopor56" class="service-button">
                      <div>
                        <img class="button-image" src="/assets/images/heart.png" alt="Imagen 2">
                        <span class="button-text">Soporte</span>
                      </div>
                      <img class="second-image" src="/assets/images/Vector-1.png" alt="">
                    </button>
                  </div>
                  <hr class="separator-line">
                  <div class="button-container">
                    <button class="service-button">
                      <div>
                        <img class="button-image" src="/assets/images/out-alt.png" alt="Imagen 1">
                        <span class="button-text">Cerrar Sesión</span>
                      </div>
                    </button>
                  </div>
                </div>
            </ng-template>
          </ion-modal>

        </div>
        <h1 class="tl-res">
          Tus Reservaciones
        </h1>
        <div class="card-content">
          <div class="swiper-container swiper-main">
            <div class="horizontal-scroll">
              <button 
                class="swip" 
                (click)="changeContent('Todos')" 
                [ngClass]="{'active': selectedContent === 'Todos'}">
                <h1 class="res-de">Todos </h1>
                <button class="lda">
                  <h1 class="descrip">2</h1>
                </button>
              </button>
              <button 
                class="swip" 
                (click)="changeContent('Terminan Pronto')" 
                [ngClass]="{'active': selectedContent === 'Terminan Pronto'}">
                <h1 class="res-de">Terminan Pronto</h1>
                <button class="lda">
                  <h1 class="descrip">0</h1>
                </button>
              </button>
              <button 
                class="swip" 
                (click)="changeContent('En Curso')" 
                [ngClass]="{'active': selectedContent === 'En Curso'}">
                <h1 class="res-de">En Curso</h1>
                <button class="lda">
                  <h1 class="descrip">1</h1>
                </button>
              </button>
              <button 
                class="swip" 
                (click)="changeContent('Comienza Pronto')" 
                [ngClass]="{'active': selectedContent === 'Comienza Pronto'}">
                <h1 class="res-de">Comienza Pronto</h1>
                <button class="lda">
                  <h1 class="descrip">1</h1>
                </button>
              </button>
            </div>
          </div>
          
          <!-- Contenido dinámico -->
          <div class="content-display">
            <div *ngIf="selectedContent === 'Todos'">
              <!-- Contenido para "Todos" -->
              <img src="/assets/images/icon-calendar2.svg" alt="">
              <h1 class="par">Ninguna cochera disponible.</h1>
              <!-- Aquí puedes añadir el contenido relacionado a "Todos" -->
            </div>

            <div *ngIf="selectedContent === 'Terminan Pronto'">
              <!-- Contenido para "Terminan Pronto" -->
              <img src="/assets/images/icon-calendar2.svg" alt="">
              <h1 class="par">Ninguna cochera termina pronto.</h1>
              <!-- Aquí puedes añadir el contenido relacionado a "Terminan Pronto" -->
            </div>

            <div *ngIf="selectedContent === 'En Curso'">
              <!-- Contenido para "En Curso" -->
              <img src="/assets/images/icon-calendar2.svg" alt="">
              <h1 class="par">Ninguna cochera en curso.</h1>
              <!-- Aquí puedes añadir el contenido relacionado a "En Curso" -->
            </div>

            <div *ngIf="selectedContent === 'Comienza Pronto'">
              <!-- Contenido para "Comienza Pronto" -->
              <img src="/assets/images/icon-calendar2.svg" alt="">
              <h1 class="par">Ninguna cochera programada.</h1>
              <!-- Aquí puedes añadir el contenido relacionado a "Comienza Pronto" -->
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</ion-content>
