<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="animation">
      <img src="" alt="">
    </div>
    <div class="card-container">
      <div class="card">
        <div class="nav">
          <div class="pers">
            <img src="/assets/images/backdrop-component.png" alt=""> 
            <div class="name">
              <h1>Ivana Tremolada</h1>
              <h3>Host</h3>
            </div>    
          </div>
          <button class="btn-mn" id="menu"><img src="/assets/images/menu-pun.svg" alt=""></button>
            
        </div>
        <h1 class="tl-res">
          Tus Reservaciones
        </h1>
        <div class="card-content">
          <div class="swiper-container swiper-main">
            <div class="horizontal-scroll">
              <button 
                class="swip" 
                (click)="changeContent('Todos')" 
                [ngClass]="{'active': selectedContent === 'Todos'}">
                <h1 class="res-de">Todos </h1>
                <button class="lda">
                  <h1 class="descrip">2</h1>
                </button>
              </button>
              <button 
                class="swip" 
                (click)="changeContent('Terminan Pronto')" 
                [ngClass]="{'active': selectedContent === 'Terminan Pronto'}">
                <h1 class="res-de">Terminan Pronto</h1>
                <button class="lda">
                  <h1 class="descrip">0</h1>
                </button>
              </button>
              <button 
                class="swip" 
                (click)="changeContent('En Curso')" 
                [ngClass]="{'active': selectedContent === 'En Curso'}">
                <h1 class="res-de">En Curso</h1>
                <button class="lda">
                  <h1 class="descrip">1</h1>
                </button>
              </button>
              <button 
                class="swip" 
                (click)="changeContent('Comienza Pronto')" 
                [ngClass]="{'active': selectedContent === 'Comienza Pronto'}">
                <h1 class="res-de">Comienza Pronto</h1>
                <button class="lda">
                  <h1 class="descrip">1</h1>
                </button>
              </button>
            </div>
          </div>
          
          <!-- Contenido dinámico -->
          <div class="content-display">
            <div *ngIf="selectedContent === 'Todos'">
              <!-- Contenido para "Todos" -->
              <img src="/assets/images/icon-calendar2.svg" alt="">
              <h1 class="par">Ninguna cochera disponible.</h1>
              <!-- Aquí puedes añadir el contenido relacionado a "Todos" -->
            </div>

            <div *ngIf="selectedContent === 'Terminan Pronto'">
              <!-- Contenido para "Terminan Pronto" -->
              <img src="/assets/images/icon-calendar2.svg" alt="">
              <h1 class="par">Ninguna cochera termina pronto.</h1>
              <!-- Aquí puedes añadir el contenido relacionado a "Terminan Pronto" -->
            </div>

            <div *ngIf="selectedContent === 'En Curso'">
              <!-- Contenido para "En Curso" -->
              <img src="/assets/images/icon-calendar2.svg" alt="">
              <h1 class="par">Ninguna cochera en curso.</h1>
              <!-- Aquí puedes añadir el contenido relacionado a "En Curso" -->
            </div>

            <div *ngIf="selectedContent === 'Comienza Pronto'">
              <!-- Contenido para "Comienza Pronto" -->
              <img src="/assets/images/icon-calendar2.svg" alt="">
              <h1 class="par">Ninguna cochera programada.</h1>
              <!-- Aquí puedes añadir el contenido relacionado a "Comienza Pronto" -->
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</ion-content>
