<header-component [withArrowLeft]="true" [route]="'/log-bin'"
  (navigateTo)="handleNavigateTo($event)"></header-component>
<ion-content>

  <div class="container">
    <h2>Reestablece tu contraseña</h2>
    <p>Contraseña</p>
    <default-input [(valueInput)]="password" (valueInputChange)="checkInputs()" [type]="'password'"
      [placeholder]="'***'" [class]="'secundary-input'" [imageUrlRigth]="'assets/images/eye.svg'"
      [withImgRight]="true" [classImgRight]="'eye-email'"></default-input>
      <p>Confirmar contraseña</p>
      <default-input [(valueInput)]="passwordConfirm" (valueInputChange)="checkInputs()" [type]="'password'"
      [placeholder]="'***'" [class]="'secundary-input'" [imageUrlRigth]="'assets/images/eye.svg'"
      [withImgRight]="true" [classImgRight]="'eye-email'"></default-input>

  </div>
</ion-content>
<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <default-custom-button [text]="'Siguiente'" [disabled]="!inputsFilled"
      (click)="goToDisplayPage()"></default-custom-button>
  </div>
</ion-footer>
<app-loader *ngIf="isLoading"></app-loader>
