<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">Poner en alquiler tu espacio en Blip es muy sencillo</h1>
          <h2 class="subtitle">Mediante tres simples pasos:</h2>
          <h2 class="subtitle-1">1  Confirma tu Identidad</h2>
          <p class="description-1">Te solicitaremos subir tu documento de identidad, antecedentes penales y judiciales.</p>
          <h2 class="subtitle-2">2 Describe tu estacionamiento</h2>
          <p class="description-2">Incluirás detalles acerca de tu área de estacionamiento, como sus dimensiones y ubicación.</p>
          <h2 class="subtitle-3">3 Terminar y Publicar</h2>
          <p class="description-3">Responderás algunas preguntas sobre cómo te gustaría manejar ciertos aspectos como Host y subirás imágenes de tu espacio.</p>
          <button routerLink="/terminos-y-condiciones" class="more-info-btn">Atrás</button>
          <button routerLink="" class="next-btn">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
