<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12 pantalla">
        <div class="content">

          <h1 class="title">Manejo de Infracciones en Parkit</h1>
          <p class="description">harised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.v software like Aldus PageMaker including versions of Lorem Ipsumharised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.v software like Aldus PageMaker including versions of Lorem Ipsum Lorem Ipsum.
            <br>
            <br>Lorem Ipsum.
            </p>

          <div routerLink="/presentacion-infracciones" class="arrow">
            <img src="/assets/images/arrow.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
