<ion-header mode="ios">
  <ion-toolbar>
    <h2 slot="start" class="title">Manejo de 
      Infracciones en 
      la plataforma</h2>
  </ion-toolbar>
</ion-header>
<ion-content class="login-content">
  <div class="login-content" >
            <div class="description">
              Cuando se reporta una infracción por parte de un usuario, nuestro equipo toma medidas inmediatas para abordar la situación. 
            </div>
            <div class="description">
              En cuanto a las infracciones, los Hosts recibirán una notificación detallando la naturaleza de la infracción y las consecuencias de su comportamiento. Esto sirve como una advertencia inicial y una oportunidad para corregir cualquier malentendido o error.
            </div>
            <div class="description">
              En el caso de infracciones leves, tales como: No estar disponible para recibir al usuario en el momento acordado, no mantener el espacio limpio y en condiciones adecuadas, no cumplir con las políticas de cancelación establecidas previamente,  no responder a las consultas o solicitudes de los usuarios de manera oportuna, proporcionar información incorrecta o engañosa sobre el espacio de estacionamiento, entre otras. Nuestros anfitriones cuentan con hasta tres advertencias leves antes de proceder a desactivar la cuenta temporalmente. Durante este tiempo, alentamos a nuestros Hosts a comunicarse con nuestro equipo de soporte para discutir el problema y encontrar una solución mutuamente beneficiosa.
            </div>
            <div class="description">
              Sin embargo, para las infracciones graves que representan una violación significativa de nuestras políticas o que ponen en peligro la seguridad de nuestra comunidad, tales como: Comportamiento abusivo o amenazante hacia los usuarios, ofrecer un espacio que no cumple con los estándares de seguridad básicos, intento de fraude o actividad ilegal relacionada con el alquiler del espacio, daños graves o intencionales al vehículo del usuario durante su estancia, violación grave de las políticas de privacidad o seguridad de uso de la plataforma, tomamos medidas más enérgicas. Estas incluyen la desactivación inmediata de la cuenta sin previo aviso y medidas legales respectivas. 

            </div>
            <div class="description">
              Nuestro objetivo es garantizar un ambiente seguro y confiable para todos los usuarios de Blip, y nuestro proceso de manejo de infracciones nos permite mantener esos estándares mientras fomentamos una experiencia positiva para todos.
            </div>
          </div>
</ion-content>
<ion-footer mode="ios">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col >
          <button routerLink="/lds" class="regresar">
            <img src="/assets/images/atr38.svg" alt="">
          </button>
        </ion-col>
        <ion-col >
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-toolbar>
