<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content"> 
          <button routerLink="/menu-config" class="info-back"> Inicio de sesión y Seguridad <div class="signo-menor"></div> </button>
          <div class="contenido-inf">
            <h2 class="title">Inicia sesión</h2>
            <div class="contra">
             <h3 class="subtitle"><img class="img-sub" src="assets/images/candado43.png" alt="">Contraseña</h3>
               <button routerLink="/"  expand="block" class="EDIT1">
                 <span class="subrayado">Actualizar </span>
               </button>
               <ion-item>
                 <ion-text></ion-text>
               </ion-item>
            </div>
            <h2 class="title2">Redes sociales</h2>
            <div class="fb">
              <h3 class="subtitle"><img class="img-sub" src="assets/images/fb53.2.png" alt="">Facebook</h3>
              <button routerLink="/"  expand="block" class="EDIT2">
                <span class="subrayado">conectar </span>
              </button>
              <ion-item>
                <ion-text></ion-text>
              </ion-item>
            </div>
            <h2 class="title2">Cuenta Blip</h2>
            <div class="cuent">
              <h3 class="subtitle"><img class="img-sub" src="assets/images/pers-53.2.png" alt="">Cuenta de </h3>
              <button routerLink="/"  expand="block" class="EDIT3">
                <span class="subrayado">Desactivar</span>
              </button>
              <ion-item>
                <ion-text></ion-text>
              </ion-item>
            </div>
          </div>
           
          </div>
        </div>
      </div>
    </div>
</ion-content>
