<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">    <!--Parte blanca ini -->
          <div class="inicio">
            <div class="nav-arrow-btn">
              <img src="/assets/images/sitios-guardados/nav-arrow-btn.png" alt="" routerLink="/configuracion">
            </div>
            <h1 class="title-i">Notificaciones</h1>   
          </div>

          <div class="contenido-inf">
            <h2 class="title">Recibe información sobre promociones y novedades para usuarios de Blip</h2>
            <p class="parr2">Recibe notificaciones sobre tu actividad y actualizaciones de manera recurrente.</p>
            <h2 class="SUBT">NOTIFICACIONES DE PLATAFORMA </h2>
            <div class="contra">
              <h3 class="subtitle"><img class="img-sub" src="assets/images/correo53.png" alt="">Correo electrónico</h3>
              <ion-toggle aria-label="Success toggle" class="custom-toggle"[checked]="false"></ion-toggle>
              <h3 class="subtitle2"><img class="img-sub" src="assets/images/camp53.png" alt="">Notificaciones Push</h3>
              <ion-toggle aria-label="Success toggle" class="custom-toggle"[checked]="false"></ion-toggle>
              <h3 class="subtitle3"><img class="img-sub" src="assets/images/msg53.png" alt="">Mensajes de Texto</h3>
              <ion-toggle aria-label="Success toggle" class="custom-toggle"[checked]="false"></ion-toggle>
              
              <h2 class="alert">Al participar en los mensajes de texto, aceptar recibir mensajes de publicidad automatizados de Blip al +51 *** *** 983  . Para recibir mensajes en un número diferente, actualiza la  <a class="as">configuración de tu número de teléfono</a> de tu página de información personal.</h2>

            </div>
          </div>












        </div>
      </div>
    </div>