ion-content{
    --background: #FFFFFF;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    .wrapper{
        height: 100%;    // Ocupa todo el alto
        display: flex;   // Uso de flexbox para el contenido
        flex-direction: column;
        justify-content: space-between; // Asegura que el footer esté abajo
        padding: 10%;
        .login{
            h1{
                margin-top: 50px;
                font-size: 30px;
                font-family: 'Poppins medium';
                margin-bottom: 20px;
                font-family: Poppins;
                font-size: 31px;
                width: 200px;
            }
            h3{
                font-family: Poppins;
                font-weight: 400;
                font-size: 16px;
                font-weight: 0;
            }
            .d2a{
                color: #141414;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
            }
            .code-inputs {
                display: flex;

            }
              
            .code-inputs ion-input {
                width: 50px;
                height: 50px;
                margin: 0 5px;
                margin-top: 20px ;
                text-align: center;
                font-size: 24px;
                border: 1px solid rgba(138, 149, 158, 0.5);
                background-color: #F7F7F7 ;
                border-radius: 10px;
            }
            .rev-cod{
                font-family: Poppins;
                display: flex;
                border: 1px solid #C8C5CA;
                margin-top: 50px;
                border-radius: 30PX;
                background-color: #FFFFFF;
                padding: 20px;
                font-weight: 500;
                .TIME{
                 margin-left: 10PX;
                 font-family: Poppins;
                 font-weight: 600;
                }
            }
            .rev-cod.expired {
                /* Estilos del botón cuando el temporizador llega a 0 */
                background-color: #79FFAF; /* Ejemplo de cambio de color */
                color: #212121;
                border: #79FFAF;
            }
            .ini-con{
                font-family: Poppins;
                display: flex;
                border: 1px solid #212121;
                margin-top: 20px;
                border-radius: 30PX;
                color: #FFFFFF;
                background-color: #212121;
                padding: 20px;
            }
            .LA{
                display: flex;
                width: 100%;
                text-align: center;
                justify-content: center;
                margin: 0;
                margin-top: 90px;
                font-family: Poppins;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 19px; /* 211.111% */
                letter-spacing: 0.18px;
                text-decoration-line: underline;
                color: #141414;
            }
            
        }
        .footer-btn {
            position: absolute; /* Cambiar a absolute */
            bottom: 0; /* Siempre al fondo */
            width: 100%; /* Ancho completo */
            z-index: 10; /* Sobre otros elementos */
            background: white;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
            padding: 0;
            height: 60px; /* Asegura una altura fija */
            display: flex;
            align-items: center;
        }
        .bnt-dow{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 5%;
            .bac{
                border: 1px solid #212121;
                background-color: #FFFFFF;
                padding-inline: 10px;
                padding-top: 15px;
                padding-bottom: 15px;
                border-radius: 30px;
                width: 40%;
                font-size: 15px;
                font-weight: 600;
                color: #212121;
                font-family: "Poppins", sans-serif;
            }
            .nex{
                border-radius: 30px;
                border: 1px solid #C8C5CA;
                background-color: #FFFFFF;
                padding-inline: 10px;
                color: #C8C5CA;
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 15px;
                width: 40%;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
            }

            .all-inputs-filled {
                background-color: #79FFAF; /* Cambia el color del botón cuando todos los campos están llenos */
                color: #212121;
                border: #79FFAF;
            }
            .all-inputs-filled {
                background-color: #79FFAF; /* Cambia el color del botón cuando todos los campos están llenos */
                color: #212121;
                font-size: 15px;
                border: #79FFAF;
            }
        }

    }

}
/* Aplica un fondo específico al ion-toast */
.custom-toast {
    --background: #FFFFFF; /* Color de fondo */
    --color: #212121; /* Color del texto */
    border-radius: 8px; /* Bordes redondeados opcional */
}

/* Si hay un contenedor adicional */
.custom-toast .toast-message {
    padding: 10px; /* Espaciado interno opcional */
}

.footer-btn {
    position: fixed; /* Fija el footer */
    bottom: 0; /* Empieza desde abajo */
    width: 100%; /* Ancho completo */
    z-index: 10; /* Asegura que esté por encima del contenido */
    background: white; /* Fondo blanco, o lo que prefieras */
  }
  
.bnt-dow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 10%;
    padding-inline: 10%;
    .bac{
        border: 1px solid #212121;
        background-color: #FFFFFF;
        padding-inline: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 30px;
        width: 40%;
        font-size: 15px;
        font-weight: 600;
        color: #212121;
        font-family: "Poppins", sans-serif;
    }
    .nex{
        border-radius: 30px;
        border: 1px solid #C8C5CA;
        background-color: #FFFFFF;
        padding-inline: 10px;
        color: #C8C5CA;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 15px;
        width: 40%;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
    }

    .all-inputs-filled {
        background-color: #79FFAF; /* Cambia el color del botón cuando todos los campos están llenos */
        color: #212121;
        border: #79FFAF;
    }
    .all-inputs-filled {
        background-color: #212121; /* Cambia el color del botón cuando todos los campos están llenos */
        color: #FFFFFF;
        font-size: 15px;
        border: #212121;
    }
}
ion-modal {
    --height: auto;

}
.PART{
    width: 100%;
}
.line{
    width: 100%;
    border: 1px solid #D4D4D4;
}
.mad{
    color: #524F4F;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5%;

  }
  
  .custom-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px;
    background: #fff;
    border: 1px solid #212121;
    width: 300px;
    height: 50px;
    font-size: 18px;
    color: #000;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    padding-left: 40px; /* Agregar relleno para alinear el contenido a la izquierda */
    width: 100%;
  }
  
  .button-icon {
    margin-right: 10px;
  }
  

  
  .google-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .cancel-button {
    justify-content: center; /* Centrar el contenido del botón de cancelar */
    background: #212121;
    border-width: 0;
    color: #FFFFFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
width: 100%;
line-height: 180%; /* 28.8px */
    padding-left: 0; /* Eliminar el padding izquierdo para centrar el texto */
  }