<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <button routerLink="/ayuda57" class="info-back"> Politica de Cancelación<div class="signo-menor"></div> </button>
          <div class="contenido-inf">
            <h2 class="title">Selecciona las opciones de tu preferencia</h2>
            <ion-radio-group>
                <ion-radio _ngcontent-ng-c3887831610="" label-placement="end" class="ios in-item radio-justify-start radio-alignment-center hydrated " role="radio" aria-checked="false" tabindex="-1" >LIBRE</ion-radio>
                <p class="parr2">
                  El arrendatario podrá cancelar en cualquier momento sin ningún tipo de penalidad.
                </p>
                <ion-radio _ngcontent-ng-c3887831610="" label-placement="end" class="ios in-item radio-justify-start radio-alignment-center hydrated " role="radio" aria-checked="false" tabindex="-1" >FLEXIBLE</ion-radio>
                <p class="parr2">
                  Si el arrendatario cancela dentro de las 48 horas previas a la fecha reservada, se realizará un reembolso completo.
                </p>
                <ion-radio _ngcontent-ng-c3887831610="" label-placement="end" class="ios in-item radio-justify-start radio-alignment-center hydrated " role="radio" aria-checked="false" tabindex="-1" >ESTRICTA</ion-radio>
                <p class="parr2">
                  En caso de que el arrendatario cancele dentro de la última hora previa a la reserva, se aplicará una penalidad del 15%
                </p>          
            </ion-radio-group>
            <h2 class="title">Elige la alternativa que prefieras para los Abonados</h2>
            <ion-radio-group>   
              <ion-radio _ngcontent-ng-c3887831610="" label-placement="end" class="ios in-item radio-justify-start radio-alignment-center hydrated " role="radio" aria-checked="false" tabindex="-1" >ESTRICTA</ion-radio>
                <p class="parr2">
                  En caso de cancelación dentro de las primeras 48 horas después de reservar, y con al menos 28 días de antelación al uso del estacionamiento, se efectuará un reembolso total. De lo contrario, no se procesará ningún reembolso.
                </p> 
                <ion-radio _ngcontent-ng-c3887831610="" label-placement="end" class="ios in-item radio-justify-start radio-alignment-center hydrated " role="radio" aria-checked="false" tabindex="-1" >FLEXIBLE</ion-radio>
                <p class="parr2">
                  El arrendatario tiene un plazo de 7 días para cancelar su reserva, de forma inmediata tras realizarla; después de este lapso, no se efectuarán reembolsos.
                </p>            
            </ion-radio-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>