ion-content {
  overflow: auto;

  .container {
    padding: 10px 32px 10px 32px;

    h2 {
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-bottom: 10px;
    }

    .subtitle {
      width: 100%;
      color: #141414;
      font-family: "Poppins";
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 0.15px;
    }

    .description {
      width: 100%;
      color: #141414;
      font-family: "Poppins";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0.15px;
    }

    .custom-checkbox {
      display: flex;
      align-items: left;
      cursor: pointer;
      justify-content: flex-start;
      margin: 0;
      margin-top: 10px;

      .checkbox-icon {
        display: flex;
        width: 20px;
        height: 20px;
        padding: 2px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
      }

      p {
        color: #141414;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.15px;
        margin: 0px;
      }
    }

    .custom-checkbox {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: flex-start;
      /* Asegura que todo se alinee a la izquierda */
      margin: 0;
      /* Asegura que no haya márgenes adicionales */
      margin-top: 10px;
    }

    .checkbox-icon {
      width: 24px;
      height: 24px;
      border: 2px solid #212121;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }

    .checkbox-icon.checked {
      background-color: #212121;
      border-color: #212121;
    }

    .checkbox-icon ion-icon {
      font-size: 16px;
      color: transparent;
    }

    .checkbox-icon.checked ion-icon {
      font-size: 16px;
      color: #fff;
    }

    .checkbox-label {
      font-size: 16px;
      color: #333;
    }
  }
}

ion-footer {
  .bnt-dow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 32px 7px 32px;
    background-color: #ffffff;
  }
}
