.container {
    background-color: #FFFFFF;
    display: flex;
    height: 100%;
  }
  
.title {
    font-size: 30px;
    line-height: 42px;
    font-family: "Poppins", sans-serif;
    margin: 100px auto 20px;
    display: block;
    width: 80%;
}
.tamano{
    font-size: 15px;
    line-height: 23px;
    font-family: "Poppins", sans-serif;
    margin: 20px auto;
    margin-left:15px ;
    display: block;
    width: 100%;
    
}  
.subtitle {
    font-size: 15px;
    line-height: 23px;
    font-family: "Poppins", sans-serif;
    margin: 20px auto;
    display: block;
    width: 80%;
    font-weight: 500;
}
  
.description {
    font-size: 15px;
    line-height: 23px;
    font-family: "Poppins", sans-serif;
    margin: 30px auto;
    display: block;
    width: 80%;
}
  
.more-info-btn {
    background-color: #212121; 
    color: #79FFAF; 
    font-size: 16px;
    margin: 30px auto;
    border-radius: 30px;
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    height: 56px;
    display: block;
    margin-bottom: 20px;
}
  
.more-info-btn:hover {
    background-color: #363636; 
}

.next-btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: #79FFAF; 
    color: #212121;
    font-size: 16px;
    border-radius: 30px;
    width: 150px;
    height: 45px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    &:disabled {
      background-color: transparent; // Cambia el color de fondo cuando está deshabilitado
      color: #999;
      border: solid 1px #999; // Cambia el color del texto cuando está deshabilitado
      cursor: not-allowed; // Cambia el cursor cuando está deshabilitado
    }
    &:active {
      background-color: rgba(163, 163, 163, 0.2); // Cambio de color de fondo al tocar el botón
    }
}

.subrayado:hover {
    text-decoration: underline;
  }
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox-icon {
    margin-left: 25px;
    width: 24px;
    height: 24px;
    border: 2px solid #212121;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
  
  .checkbox-icon.checked {
    background-color: #212121;
    border-color: #212121;
  }
  .checkbox-icon ion-icon {
    font-size: 16px;
    color: transparent;
  }

  .checkbox-icon.checked ion-icon {
    font-size: 16px;
    color: #fff;
  }
  
  .checkbox-label {
    font-size: 16px;
    color: #333;
  }
  .custom-checkbox{
    margin-top: 20px;
    margin-left: 20px;
  }