<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">Revisa nuestros Términos y Condiciones antes de unirte a nuestra comunidad</h1>
          <h2 class="subtitle">Te pedimos que te comprometas con lo siguiente:</h2>
          <p class="description">Acepto tratar a todos en la comunidad de Blip con respeto y sin prejuicios, sin importar la raza, religión, nacionalidad, etnia, color de piel, sexo, discapacidad, identidad de género, orientación sexual o edad.</p>
          <button routerLink="/terminos-y-condiciones-mas-informacion" class="more-info-btn">Más Información</button>
          <button routerLink="/terminos-y-condiciones-empezar" class="next-btn">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
