<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="title">Revisa nuestros Términos y Condiciones antes de unirte a nuestra comunidad</h1>
          <h2 class="subtitle">Te pedimos que te comprometas con lo siguiente:</h2>
          <p class="description">Acepto tratar a todos en la comunidad de Blip con respeto y sin prejuicios, sin importar la raza, religión, nacionalidad, etnia, color de piel, sexo, discapacidad, identidad de género, orientación sexual o edad.</p>
          <button routerLink="/terminos-y-condiciones-mas-informacion" class="more-info-btn subrayado">Ver Términos y Condiciones</button>
          <button routerLink="/terminos-y-condiciones-empezar" class="next-btn">Siguiente</button>
          <div class="custom-checkbox" (click)="toggleCheckbox()">
            <div class="checkbox-icon" [ngClass]="{'checked': isChecked}">
              <ion-icon name="checkmark"></ion-icon>
            </div>
            <div class="checkbox-label"><h3 class="tamano">Acepto los términos y condiciones</h3> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
