ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px;
}
  
.title {
  margin-top: 50px;
  color: #212121;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 133.333% */
  letter-spacing: 0.075px;
    width: 90%;
}
.tamano{
    font-size: 15px;
    line-height: 23px;
    font-family: "Poppins", sans-serif;

    margin-left:15px ;
    display: block;
    width: 100%;
    
}  
.subtitle {
    font-size: 15px;
    line-height: 23px;
    font-family: "Poppins", sans-serif;
    margin: 20px auto;
    display: block;

    font-weight: 500;
}
  
.description {
    font-size: 15px;
    line-height: 23px;
    font-family: "Poppins", sans-serif;
    margin: 30px auto;
    display: block;

}
  
.more-info-btn {
    background-color: #212121; 
    color: #FFFFFF; 
    font-size: 16px;
    margin: 30px auto;
    border-radius: 30px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    height: 56px;
    display: block;
    margin-bottom: 20px;
}
.more-info-btn2 {
  border-radius: 30px;
  border: 1px solid black;
  background-color: #FFFFFF;
  padding-inline: 10px;
  color: #212121;
  padding-top: 15px;
  font-size: 15px;
  padding-bottom: 15px;
  width: 40%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
  
.more-info-btn:hover {
    background-color: #363636; 
}

.next-btn {
  border: 1px solid #79FFAF;
  background-color: #79FFAF;
  padding-inline: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  font-size: 15px;
  width: 40%;
  font-weight: 600;
  color: #212121;
  font-family: "Poppins", sans-serif;
    &:disabled {
      background-color: transparent; // Cambia el color de fondo cuando está deshabilitado
      color: #999;
      border: solid 1px #999; // Cambia el color del texto cuando está deshabilitado
      cursor: not-allowed; // Cambia el cursor cuando está deshabilitado
    }
    &:active {
      background-color: rgba(163, 163, 163, 0.2); // Cambio de color de fondo al tocar el botón
    }
}

.subrayado:hover {
    text-decoration: underline;
  }
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox-icon {

    width: 24px;
    height: 24px;
    border: 2px solid #212121;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
  
  .checkbox-icon.checked {
    background-color: #212121;
    border-color: #212121;
  }
  .checkbox-icon ion-icon {
    font-size: 16px;
    color: transparent;
  }

  .checkbox-icon.checked ion-icon {
    font-size: 16px;
    color: #fff;
  }
  
  .checkbox-label {
    font-size: 16px;
    color: #333;
  }
  .custom-checkbox{

  }
//--------------------------------------
.block {
    width: 100%;
    height: 300px; 
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}
  
ion-modal {
    --height: auto;
}
.menu-above {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #524F4F;
  margin-block: 20px;
  line-height: 27.2px;
  padding: 0px 80px;
}
.separator-line {
  border-top: 2px solid #D4D4D4;
  width: 100%;
  margin: 10px auto;
} 
.BE33 {
  display: block;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #5F5D5D;
  margin: 20px auto;
  width: 85%;
  height: 56px;
} 
.text34 {
  margin: 0px;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  line-height: 25.2px;
}

.BC38 {
  display: block;
  background-color: #79ffaf;
  border-radius: 30px;
  border: 1px solid #A7A7A7;
  margin: 20px auto;
  width: 85%;
  height: 56px;
}

.text39 {
  margin: 0px;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  line-height: 25.2px;
}
.bnt-dow{
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}