ion-content{
    --background: #FFFFFF;
    .inicio{
        height: 100vh;
        padding: 50px;
        h1{
            margin-top: 50px;
            width: 100%;
            font-size: 32px;
            font-family: 'Poppins medium';
            margin-bottom: 20px;
        }
        p{
            width: 100%;
            font-size: 16px;
            font-family: 'Poppins';
        }
        .input-bar {
            position: relative;
            padding: 15px 20px;
            display: flex;
            border: 1px solid #212121;
            height: 56px;
            border-radius: 30px;
            justify-content: center;
            align-items: center;
            margin-block: 40px;
            color: #212121;
            input[type="text"] {
                flex: 1;
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 16px;
              font-family: "Poppins", sans-serif;
            }
        }
        .btn-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 300px;
        }
        .btn-atr{
            border: 1px solid #212121;
            border-radius: 20px;
            padding-inline: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 30px;
            width: 40%;
            background-color: #FFFFFF;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 600;
        }
        .btn-sig.disabled {
            border: 1px solid #C8C5CA;
            border-radius: 20px;
            padding-inline: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 30px;
            width: 40%;
            background-color: #FFFFFF;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 600;
            cursor: not-allowed;
          }
          
        .btn-sig.enabled {
            border: 1px solid #79FFAF;
            border-radius: 20px;
            width: 140px;
            height: 40px;
            background-color: #79FFAF;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 600;
        }



    }
    ion-input{
        font-family: "Poppins", sans-serif;
    }
    ion-icon {
        font-size: 24px;
        cursor: pointer;
        margin-left: 10px;
        color: #49454F;
    }
    .rev-cod{
        font-family: Poppins;
        display: flex;
        border: 1px solid #212121;
        margin-top: 50px;
        border-radius: 30PX;
        background-color: #FFFFFF;
        padding: 20px;
        font-weight: 500;

    }
    .ini-con{
        font-family: Poppins;
        display: flex;
        border: 1px solid #212121;
        margin-top: 20px;
        border-radius: 30PX;
        color: #FFFFFF;
        background-color: #212121;
        padding: 20px;
    }
    
}
ion-modal {
    --height: auto;

}
.PART{
    width: 100%;
    height: 395px;
}
.line{
    width: 100%;
    border: 1px solid #D4D4D4;
}
.mad{
    color: #524F4F;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }
  
  .custom-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px;
    background: #fff;
    border: 1px solid #212121;
    width: 300px;
    height: 50px;
    font-size: 18px;
    color: #000;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    padding-left: 40px; /* Agregar relleno para alinear el contenido a la izquierda */
  }
  
  .button-icon {
    margin-right: 10px;
  }
  

  
  .google-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .cancel-button {
    justify-content: center; /* Centrar el contenido del botón de cancelar */
    background: #79FFAF;
    border-width: 0;
    font-family: "Poppins", sans-serif;
    padding-left: 0; /* Eliminar el padding izquierdo para centrar el texto */
  }