<header-component [withArrowLeft]="true" [route]="'/log-con'"
  (navigateTo)="handleNavigateTo($event)"></header-component>
<ion-content>
  <div class="container">
    <h2>Bienvenido, de nuevo!</h2>
    <default-input [(valueInput)]="password" (valueInputChange)="onEmailChange()" [type]="'password'"
      [placeholder]="'contraseña'" [class]="'secundary-input'" [imageUrlRigth]="'assets/images/eye.svg'"
      [withImgRight]="true" [classImgRight]="'eye-email'"></default-input>
    <default-custom-button [text]="'olvidé mi contraseña'" [class]="'primary-button-w-s'"
      (click)="goToDisplayPage()"></default-custom-button>
  </div>
</ion-content>
<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <default-custom-button [text]="'Siguiente'" [disabled]="!isPasswordValid" (click)="login()"></default-custom-button>
  </div>
</ion-footer>

<app-loader *ngIf="isLoading"></app-loader>
