<ion-content class="ion-padding">
  <ion-grid class="centered-grid">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <div class="checkmark-container">
          <div class="checkmark"></div>
        </div>
        <h2 class="ti">¡Tu Anuncio está Listo!</h2>
        <p class="sub">Personaliza las caraterísticas, precio y disponibilidad de tu cochera</p>
        <button routerLink="/tab-home/home" expand="block" fill="outline">Ir a Mis Anuncios</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
