<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">    
          <div class="inicio">
            <h1>Ingresa tu dirección de Email</h1>
            <div class="input-bar">
              <input type="text" placeholder="name@example.com" [(ngModel)]="email2" (ngModelChange)="onEmailChange()">
            </div> 

            <div class="btn-container">
              <button class="btn-atr" routerLink="/registro">Atrás</button>
              <button class="btn-sig" [disabled]="!isEmailValid" (click)="goToDisplayPage()" [ngClass]="{ 'enabled': isEmailValid, 'disabled': !isEmailValid }">Siguiente</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
