ion-content {
  overflow: auto;

  .container {
    padding: 10px 32px 10px 32px;

    h2 {
      font-size: 35px;
      font-style: normal;
      font-weight: 500;
      line-height: 50px;
      padding-bottom: 10px;
    }

    p {
      width: 100%;
      font-size: 16px;
      font-family: "Poppins";
    }

    .input-bar {
      position: relative;
      padding: 15px 20px;
      display: flex;
      border: 1px solid #212121;
      height: 56px;
      border-radius: 30px;
      justify-content: center;
      align-items: center;
      margin-block: 40px;
      color: #212121;

      input[type="text"] {
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}

ion-footer {
  .bnt-dow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 32px 7px 32px;
    background-color: #ffffff;
  }
}
