ion-content {
  overflow: auto;

  .container {
    padding: 10px 32px 10px 32px;
  }

  h2 {
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    padding-bottom: 10px;
  }

  default-input,
  default-input-date,
  default-select {
    display: block;
    /* Asegurarse de que los elementos sean bloques */
    margin-bottom: 40px;
  }
}

ion-footer {
  .bnt-dow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 32px 7px 32px;
    background-color: #ffffff;
  }
}
