ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px;
  background-color: #FFFFFF;
  }
  
  * {
    color: #212121;
  }
  
  .content {
    width: 100%;
    margin-top: 50PX;
    display: block;
  }
  
  .centro {
    display: flex;
    align-items: center;
  }
  
  .title {
    font-size: 30px;
    line-height: 42px;
    font-family: "Poppins", sans-serif;
    margin: 0px;
  }
  
  .input-bar {
    position: relative;
    padding: 15px 20px;
    display: flex;
    border: 1px solid #212121;
    height: 56px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
    color: #212121;
  
    input[type="text"] {
      flex: 1;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
    }
  }
  
  .label-text {
    font-size: 12px;
    position: absolute;
    top: -10px;
    background-color: #FFFFFF;
    padding: 0 10px;
    left: 15px;
    font-family: "Poppins", sans-serif;
    color: #212121;
  }
  
  .sc-ion-input-ios-h:not(.legacy-input) {
    min-height: 0px;
    font-family: "Poppins", sans-serif;
    color: #212121;
    width: 90%;
  }
  
  .sc-ion-input-ios-h {
    --highlight-color: #212121;
  }
  
  .sc-ion-input-ios-h {
    --highlight-color: #212121 !important;
  }
  
  .has-focus.sc-ion-input-md-h input.sc-ion-input-md {
    caret-color: var(#212121) !important;
  }
  
  .input-bar-f {
    position: relative;
    padding: 15px 20px;
    display: flex;
    border: 1px solid #212121;
    height: 56px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
    color: #212121;
  
    input[type="date"] {
      width: 100%;
      padding: 0 10px;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
    }
  }
  
  .calendar {
    padding: 0px 5px 0px 0px;
  }
  
  .input-bar-g {
    position: relative;
    padding: 15px 0;
    display: flex;
    border: 1px solid #212121;
    height: 56px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
    color: #212121;
  
    input[type="date"],
    select {
      width: 100%;
      padding: 0 20px;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("/assets/images/vector-f.png");
      background-repeat: no-repeat;
      background-position: right 30px center;
    }
  }

  
  .more-info-btn {
    border-radius: 30px;
    border: 1px solid black;
    background-color: #FFFFFF;
    padding-inline: 10px;
    color: #212121;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    width: 40%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  
  .next-btn {
    border: 1px solid #79FFAF;
    background-color: #79FFAF;
    padding-inline: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    border-radius: 30px;
    width: 40%;
    font-weight: 600;
    color: #212121;
    font-family: "Poppins", sans-serif;
  }
.bnt-dow{
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
} 
  
  