<header-component [withArrowLeft]="true" [route]="'/terminos-y-condiciones'"
  (navigateTo)="handleNavigateTo($event)"></header-component>
<ion-content>
  <div class="container">
    <h2>Ingresa tus datos de registro</h2>
    <default-input [(valueInput)]="nombre" [type]="'text'" [placeholder]="'Nombres (s)'" [class]="'secundary-input'"
      [withImgRight]="false"></default-input>
    <default-input [(valueInput)]="apellido" [type]="'text'" [placeholder]="'Apellido (s)'" [class]="'secundary-input'"
      [withImgRight]="false"></default-input>
    <default-select label="Género" [options]="generos" [(selectedValue)]="genero"
      (selectionChange)="onGeneroChange($event)" [class]="'secundary-input'" [placeholder]="'Género'">
    </default-select>
    <default-input-date [(valueInput)]="fecha_nac" [placeholder]="'Fecha de Nacimiento'" [class]="classDate"
      (valueInputChange)="onFechaNacChange($event)"></default-input-date>
  </div>
</ion-content>
<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <default-custom-button [text]="'Siguiente'" (click)="verify()"></default-custom-button>
  </div>
</ion-footer>
