<header-component [withArrowLeft]="true" [route]="'/terminos-y-condiciones'"
  (navigateTo)="handleNavigateTo($event)"></header-component>
<ion-content>
  <div class="container">
    <h2>Ingresa tu documento de identidad</h2>
    <default-select label="Documentos" [options]="documentos" [(selectedValue)]="documento"
      (selectionChange)="onDocumentoChange($event)" [class]="'secundary-input'" [placeholder]="'DNI'">
    </default-select>
    <default-input [(valueInput)]="nro" [type]="'text'" [placeholder]="'Nro. de documento'" [class]="'secundary-input'"
      [withImgRight]="false"></default-input>
  </div>
</ion-content>
<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <default-custom-button [text]="'Siguiente'" (click)="verify()"></default-custom-button>
  </div>
</ion-footer>
<!-- <ion-footer class="footer-btn">
  <div class="bnt-dow">
    <button routerLink="/datos-registro" class="bac">Atrás</button>
    <button class="nex" (click)="setDNI()">Siguiente</button>
  </div>
</ion-footer> -->
