ion-header {
  overflow: auto; // Hacer que el ion-header sea desplazable si es necesario
}

ion-content {
  overflow: auto;

  .container {
    display: flex; // Uso de flexbox para el contenido
    flex-direction: column;
    padding: 10px 32px 10px 32px;
    height: 100%;

    h2 {
      font-size: 35px;
      font-style: normal;
      font-weight: 500;
      line-height: 50px;
      padding-bottom: 10px;
    }

    p {
      color: #141414;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.18px;
    }

    .footer-text {
      color: #212121;
      text-align: left;
      margin-top: 10px;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0.15px;

      .register-link {
        color: #212121;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.15px;
        text-decoration-line: underline;
      }
    }
  }
}

ion-footer {
  .bnt-dow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 32px 7px 32px;
    background-color: #ffffff;
  }
}
