<ion-content [fullscreen]="true">
  
  <div class="wrapper">
    <div class="login">
      
      <h1 class="title">Valida tu número de teléfono</h1>
      <h2 class="description">Ingresa el código de 4 dígitos enviado al número : <a style="color: #212121; text-decoration: none;" class="n">+51 923 092 610.</a> </h2>
      
      <div class="code-inputs">
        <ion-input [(ngModel)]="input1" type="number" maxlength="1" inputmode="numeric" (ionChange)="checkInputs()"></ion-input>
        <ion-input [(ngModel)]="input2" type="number" maxlength="1" inputmode="numeric" (ionChange)="checkInputs()"></ion-input>
        <ion-input [(ngModel)]="input3" type="number" maxlength="1" inputmode="numeric" (ionChange)="checkInputs()"></ion-input>
        <ion-input [(ngModel)]="input4" type="number" maxlength="1" inputmode="numeric" (ionChange)="checkInputs()"></ion-input>
      </div>
      
      <button id="open-toast5"[ngClass]="{'rev-cod': true, 'expired': isExpired}" [disabled]="!isExpired" (click)="reenviarCodigo()">
        {{ buttonText }}
        <div class="TIME">
          {{ minutes }}:{{ seconds | number: '2.0' }}
        </div>
      </button>
      <ion-toast
      trigger="open-toast5"
      [duration]="3000"
      message="Código enviado satisfactoriamente."
      class="custom-toast"
      
      position="top"
      ></ion-toast>
      <!-- 
<ion-toast
      trigger="open-toast"
      [duration]="3000"
      message="Hello Styled World!"
      class="custom-toast"
      [buttons]="toastButtons"  ESTE MISMO  ES PARA DARLE A BOTONES 
      position="top"
      ></ion-toast> --> 

    </div>

  </div>
</ion-content>
<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <button class="bac" (click)="return()">Atrás</button>
    <button
      [disabled]="!inputsFilled"
      [ngClass]="{'all-inputs-filled': inputsFilled, 'not-all-inputs-filled': !inputsFilled}"
      (click)="verifyOTP()"
      class="nex"
    >
      Siguiente
    </button>
  </div>
</ion-footer>
