<header-component [withArrowLeft]="true" [route]="'/terminos-y-condiciones'"
  (navigateTo)="handleNavigateTo($event)"></header-component>
<ion-content>

  <div class="container">

    <h2>Bienvenido, de nuevo!</h2>
    <p>
      Ingresa el código de 4 dígitos enviado al número +51 {{ phone }}.
    </p>

    <app-dynamic-inputs-numeric [numInputs]="4"
      (valoresChange)="handleValoresChange($event)"></app-dynamic-inputs-numeric>
    <default-custom-button (clicked)="sendSMS()" [disabled]="isDisabled" [class]="buttonClassTimer"
      [text]="buttonTextTimer" [withTime]="buttonWithTimeTimer" [minutes]="minutes" [seconds]="seconds">
    </default-custom-button>

    <!-- <button id="open-toast5" [ngClass]="{'rev-cod': true, 'expired': isExpired}" [disabled]="!isExpired"
      (click)="reenviarCodigo()">
      {{ buttonText }}
      <div class="TIME">
        {{ minutes }}:{{ seconds | number: '2.0' }}
      </div>
    </button> -->
    <ion-toast trigger="open-toast5" [duration]="3000" message="Código enviado satisfactoriamente." class="custom-toast"
      position="top"></ion-toast>

  </div>

</ion-content>

<ion-footer class="footer-btn" mode="md">
  <div class="bnt-dow">
    <default-custom-button [text]="'Siguiente'" [disabled]="!inputsFilled"
      (click)="verifyOTP()"></default-custom-button>
  </div>
</ion-footer>
<app-loader *ngIf="isLoading"></app-loader>
