.container {
    background-color: #79FFAF;
    display: flex;
    height: 100%;
  }
  
  .title {
    font-size: 31px;
    line-height: 42px;
    font-family: "Poppins", sans-serif;
    margin: 100px auto 50px;
    display: block;
    width: 80%;
  }
  
  .input-bar {
    position: relative;
    padding: 15px 0; 
    display: flex;
    border: 1px solid;
    height: 56px;
    border-radius: 30px;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 40px auto;
  }
  
  .label-text {
    font-size: 12px;
    position: absolute;
    top: -10px; 
    background-color: #79FFAF; 
    padding: 0 10px; 
    z-index: 1;
    left: 15px;
    font-family: "Poppins", sans-serif;
  }

  .sc-ion-input-ios-h:not(.legacy-input) {
    min-height: 0px;
    left: 15px;
    font-family: "Poppins", sans-serif;
    color: #212121;
    width: 90%;
  }
  
  .smaller-text1 {
    font-size: 12px;
    position: absolute;
    top: 322px; 
    background-color: #79FFAF; 
    padding: 0 10px; 
    z-index: 1;
    left: 70px;
    font-family: "Poppins", sans-serif;
  }
  
  .smaller-text2 {
    font-size: 12px;
    position: absolute;
    top: 418px; 
    background-color: #79FFAF; 
    padding: 0 10px; 
    z-index: 1;
    left: 70px;
    font-family: "Poppins", sans-serif;
  }

  .detalle-1 {
    font-size: 12px;
    position: absolute;
    bottom: 302px; 
    background-color: #79FFAF; 
    padding: 0 10px; 
    z-index: 1;
    left: 70px;
    font-family: "Poppins", sans-serif;
  }
  
  .form-control-1 {
    background-color: transparent; 
    border: 1px solid #212121; 
    border-radius: 30px; 
    padding: 15px; 
    width: 80%;
    height: 56px;
    margin: 40px auto;
    display: block;
    appearance: none;
  }

  .select-wrapper {
    position: relative;
  }
    
  .select-wrapper i {
    position: absolute;
    top: 30px;
    right: 70px;
    transform: translateY(-50%);
  }

  .form-control-2 {
    background-color: transparent; 
    border: 1px solid #212121; 
    border-radius: 30px; 
    padding: 15px; 
    width: 80%;
    height: 56px;
    margin: 40px auto;
    display: block;
    appearance: none;
  }
  
  i.bilp {
    position: absolute;
    top: 49%;
    right: 82px;
    transform: translateY(-50%);
  }

  .custom-textarea {
    border: 1px solid #212121; 
    background-color: transparent; 
    padding: 15px; 
    resize: none; 
    width: 100%;
    box-sizing: border-box; 
    margin: 40px auto;
    display: block;
    width: 80%;
    height: 138px;
    border-radius: 30px;
  }
  
  .more-info-btn {
    position: absolute;
    bottom: 50px;
    left: 50px;
    border: 1px solid #212121; 
    background-color: #212121; 
    color: #79FFAF;
    font-size: 16px;
    border-radius: 30px;
    width: 150px;
    height: 45px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  .more-info-btn:hover {
      background-color: #363636; 
  }
  
  .next-btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
    border: 1px solid #212121; 
    background-color: transparent; 
    color: #212121;
    font-size: 16px;
    border-radius: 30px;
    width: 150px;
    height: 45px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  .next-btn:hover {
    background-color: rgba(163, 163, 163, 0.2);
  }
  
  ion-label.sc-ion-input-ios-h {
    color: #212121;
  }

  .sc-ion-input-ios-h {
    --highlight-color: black;
  }
  
  