html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #79ffaf;
  height: 100%;
  min-width: 100%;
  padding-top: 44px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Poppins", sans-serif;
}

.pantalla {
  background-color: #ffffff;
  padding: 5% 7% 5% 7%;
  width: 100%;
  min-height: 100%; /* Esto hace que el div ocupe el 100% de la altura de la pantalla */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #212121;
}

.regresar {
  display: flex;
  text-decoration: none;
}

.title {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #212121;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal (horizontal) */
  margin-bottom: 20px;
  height: 37px;
}

.left-arrow {
  margin-right: 20px;
  display: flex;
  align-items: center;
}


// --------------------TOGGLE------------------------------


ion-item::part(native) {
  background: #FFFF;
  color: #212121;
  font-size: 19px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

ion-toggle {
  --track-background: #ddd;
  --track-background-checked: #212121;

  --handle-background: #ffff;
  --handle-background-checked: #ffff;

  --handle-width: 25px;
  --handle-height: 25px;
  --handle-max-height: auto;
  --handle-spacing: 5px;

  --handle-border-radius: 50%;
  --handle-box-shadow: none;
}

ion-toggle::part(track) {
  height: 29px;
  width: 53px;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}


p{
    font-size: 12px;
    font-weight: 300;
    color: #6D6D6D;
}

.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height: auto;
}