<ion-content [fullscreen]="true">
  <div class="container">
    <div class="pantalla">

      <div class="inicio">
        <a class="regresar" href="#">
          <div class="left-arrow">
            <img src="/assets/images/left-arrow.svg" alt="" routerLink="/menu-config" />
          </div>
          <h1 class="title">Ubicacion</h1>
        </a>
      </div>

      <ion-item lines="none">
        <ion-toggle justify="space-between">Mostrar tu ubicación<br>exacta</ion-toggle>
      </ion-item>


      <p>Indica de manera exacta al usuario dónde se encuentra tu espacio. Solo les facilitaremos tu dirección cuando su reservación esté confirmada.</p>



    </div>
  </div>
</ion-content>