<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="animation">
      <img src="/assets/images/car-walk.png" alt="">

    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <h1>Bienvenida a Blip!</h1>
          <p class="subtitle">Encuentra el estacionamiento ideal para ti.</p>
          <p class="description">
            Descubre espacios cercanos y disponibles al instante.
          </p>
        </div>

        <div class="card-buttons">
          <button 
            class="next-btn"
            routerLink="/tab-home/blip-home"
          >¡Empezar a Blipear!           
          <img src="/assets/images/flecha-sega.svg" alt="">
        </button>

        </div>
      </div>
    </div>
  </div>
</ion-content>
